<h1>Mentions</h1>

<div class="comments">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
		

		{{!-- //LOADING CONTENT --}}
		{{#if loading }}
			{{partial '_spinner'}}
		{{/if}}


		{{!-- //CONTENT --}}
		
		{{#each sortedContent}}
			

				<div class="comment"> 
					<div {{action "delete" this}}class="btn btn-default btn-sm btn-delete"><span class="glyphicon glyphicon-remove"></span></div> 
					
					<div class="image">
						{{#link-to 'profile' user }}{{ make-icon icon=user.icon isSmall=true}}{{/link-to}}
					</div>
					<div class="single-comment">
						
						<span class="name">{{#link-to 'profile' user }}{{user.name}}{{/link-to}}</span> said:

						<br/>
						
						<span>{{sanitize-html comment "comment"}}</span>
						
						<span class="moment">{{ format-date created_at }}</span>

						
						<div class="image padding-top">
							{{make-icon icon=subject.image.small isSmall=true}}
						</div>
						<div class="single-comment padding-top">
							Go to post to respond:<br/>
						 	{{#link-to 'profile.post' subject.user subject  (query-params anchor="comments")}}{{subject.subject}}{{/link-to}}
						</div>
					</div>
				</div>


		{{/each}}
		</div>
		{{#infinite-scroll content=pagedContent hasMore=paginateHasMore }}
			<span>Loading...</span>	
		{{/infinite-scroll}}
		

		</div>
	</div>
</div>