
{{!-- ADD TO COLLECTION BUTTON --}}
<button {{action 'openModal'}} class="btn btn-default btn-responsive">
	Haul
	<span class="glyphicon glyphicon-plus"></span>
</button>

 

{{!-- MODAL --}}

<div id="curateModal" class="modal fade in danger text-left" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="mySmallModalLabel">
					Haul It! Add to your own marketplace.<br/>
					<small>Curate anyone's items.  Earn credit if the item sells from your Haul Marketplace</small>
				</h4>
			</div>

			<div class="modal-body"> 

				{{!-- EDIT FORM --}}

				<div {{bind-attr class="showForm:show:hide"}}>
					{{#form-for model wrapper="bs3-wrapper"}}

					<div class="row">

						
						<div class="col-md-8 col-sm-8 col-xs-8">

							<div {{bind-attr class="alreadyCollected:show:hide :row"}}>
								<div class="col-md-12 col-sm-12 col-xs-12">  
								You already added this to 
								{{#each collected }}
									{{name}}
								{{/each}}
								</div>
							</div>
							

							{{!-- COLLECTION --}}
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">  

									{{collection-selector
										class="display-inline" 	
										session=session
										targetObject=targetObject
										selectedCollectionId=selectedCollectionId
										isShowCreateCollection=isShowCreateCollection
									}}
 
								</div>
							</div>

							{{!-- COLLECTION --}}
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12"> 
								
									<div class="media">

										<div {{bind-attr class="isShowCreateCollection:hide:show"}}>
											<div class="pull-right">
												<button {{action 'showCreateCollection'}} class="btn btn-default btn-fit-select">
													<span class="glyphicon glyphicon-plus"></span> 
												</button>
											</div>
										</div>
	 								
	 									<div class="media-body text-regular">
										{{view "select"
										  	contentBinding="userCollections"
										  	optionValuePath="content.collection_id"
										  	optionLabelPath="content.collection_name" 
										 	selectionBinding='selectedCollection'
										  	class="form-control"
										  	prompt="Pick your Haul Marketplace"
										}}
										</div>
									</div> 

								</div> 
							</div>
						</div>
					</div>

					
					<div {{bind-attr class="isCollectionPicked:show:hide :row"}}>

						{{!-- EDITORIAL --}}
						<div class="col-md-8 col-sm-8 col-xs-8 padding-bottom">  
							<h4>Your opinion on this item <small>(optional)</small></h4>

							{{quill-editor 
								content=editorialForQuill 
								quillChange='quillChange' 
								height='200px'
							}}

						</div> 

						{{!-- IMAGE --}}
						<div class="col-md-4 col-sm-4 col-xs-4 text-center"> 
							{{!-- <img class="thumbnail small center" {{bind-attr src=productImage}}> --}}
							{{image-scroller images=model.product.images }} 
						</div>
					</div>

					<div {{bind-attr class="isCollectionPicked:show:hide :row"}}>
						<div class="col-md-6 col-sm-6 col-xs-12">

						{{#if errorShow }}
							{{bs-alert message=errorMessage type="danger"}}
						{{/if}}

						</div> 
						<div class="col-md-6 col-sm-6 col-xs-12 text-right">

							<button {{action 'curateCancel'}} class="btn btn-default">Cancel</button>

							{{ladda-btn
								name='Save'
								class="display-inline"
								btnClasses='btn btn-primary ladda-button'
								btnClick='submit'
								spin=isProcessing
							}} 
						</div>
					</div>  
					{{/form-for}} 
				</div>


				{{!-- SUCCESS MESSAGE --}}

				<div {{bind-attr class="showSuccessMessage:show:hide"}}>
					<div class="row" {{bind-attr style="styleSuccessMessage:off"}}>
						<div class="col-md-6 col-sm-12 col-xs-12">
						 	<img class="thumbnail" {{bind-attr src=productImage}}> 
						</div>

						<div class="col-md-6 col-sm-12 col-xs-12">
 
							<h4>Added to <strong>{{model.collection.name}}</strong><h4>

							<p>Go to {{#link-to 'collection' model.collection }}<button {{ action "close"}} class="btn btn-default">{{ model.collection.name }}</button>{{/link-to}} or <button class="btn btn-default" {{action 'close' }}>close window</button></p>

						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>
