<div class="row padding-top comments">
	<div class="col-md-12 col-sm-12 col-xs-12">
		
		{{!-- COMMENT FORM --}}
		<div class="row" id="leaveComment">
			<div class="col-md-12 col-sm-12 col-xs-12 ">
			<h4>Comments</h4>
			{{#form-for model wrapper="bs3-wrapper"}}

				{{input comment as="text" canShowValidationError='true' placeholder="add a comment..." class="commentbox"}}
				
	    		<div {{bind-attr class="showServerErrors:show:hide :alert"}}>{{{serverErrorMessage}}}</div>
	  			
				<div class="text-right">
					
					{{ladda-btn
						name='post comment'
						class="display-inline"
						btnClasses='btn btn-default ladda-button'
						btnClick='submit'
						spin=isProcessing
					}}

				</div>
			{{/form-for}}
			</div>
		</div>



		{{!-- COMMENTS --}}
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">


				{{#each sortedComments }}
				<div class="comment">
					<div {{bind-attr class="canDelete:show:hide"}}>
						<div {{action "delete" this}}class="btn btn-default btn-sm btn-delete"><span class="glyphicon glyphicon-remove"></span></div>
					</div>
					<div class="image">
						{{#link-to 'profile' user }}{{ make-icon icon=user.icon isSmall=true}}{{/link-to}}
					</div>
					<div class="single-comment">
						<span class="name">{{#link-to 'profile' user }}{{user.name}}{{/link-to}}</span>
						<span class="comment-string">{{sanitize-html comment "comment"}}</span>
						<span class="moment">{{ format-date created_at }}</span>
					</div>
				</div>
				{{/each}}
		
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 text-center">

				<button {{action 'fetchMore'}} {{bind-attr class=":btn :btn-default hasMore::disabled"}}>load more</button>

			</div>
		</div>
	</div>
</div>