<div class="row padding-top">
	<div class="col-md-12 col-sm-12 col-xs-12">
		
		{{!-- COMMENT FORM --}}
		<div class="row" id="leaveComment">
			<div class="col-md-12 col-sm-12 col-xs-12 ">
			<h4>Leave a comment</h4>


			{{#form-for model wrapper="bs3-wrapper"}}
				
				{{input comment as="text" canShowValidationError=showErrors placeholder="Leave a comment."}}
				
				<div class="text-right">
					
					{{ladda-btn
						name='Post Comment'
						class="display-inline"
						btnClasses='btn btn-default ladda-button'
						btnClick='submit'
						spin=isProcessing
					}}

				</div>
			{{/form-for}}
			</div>
		</div>



		{{!-- COMMENTS --}}
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">


				{{#each sortedComments }}

					<div class="media media-divider">
						 
							{{ make-icon icon=user.icon isSmall=true class="pull-left"}}
						 
						<div class="media-body">

							{{#if this.canDelete }}
							<div class="pull-right">
								<button {{action 'delete' this}} class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
							</div>
							{{/if}}

							<strong>{{#link-to "seller" user}}{{ user.name }}{{/link-to}}</strong>

							<br/>

							{{ breaklines comment }} 

							<br/>

							<span class="small">{{ format-date created_at }}</span>


						</div>
					</div>

				{{/each}}

			</div>
		</div>
	</div>
</div>