{{#if isFollowingText}}
	{{#if showButton}}
		<button {{action 'btnClick' }} {{bind-attr class=":btn :btn-primary isSmall:btn-xs:btn-default"}}>{{ btnName }}</button>
		<br/>
	{{/if}}

	{{#link-to 'seller.followers' ref_id }}
	<span {{bind-attr class="hideCounts:hide:show"}} {{action 'goToFollowers'}}>
		<span class="small">{{isFollowedByText}}</span><br/>
		<span class="small">{{isFollowingText}}</span>
	</span>
	{{/link-to}}
{{else}}
	{{#if showButton}}
		<button {{action 'btnClick' }} {{bind-attr class=":btn :btn-primary isSmall:btn-xs:btn-default"}}>{{ btnName }}</button>
		<br/>
	{{/if}}
	<span {{bind-attr class="hideCounts:hide:show :small"}}>{{isFollowedByText}}</span>
{{/if}}