<nav>
	<div class="logo">
		{{#link-to "home"}}Haul{{/link-to}}
	</div>

	<div class="container-fluid">

	{{#if  session.isAuthenticated }}

		{{#link-to 'home' }}
		<button class="btn btn-default btn-home">
			{{!-- <span class="glyphicon glyphicon-home"></span>  --}}
			<i class="fa fa-home fa-lg"></i>
		</button> 
		{{/link-to}}

		
		{{#link-to 'new-post' }}
		<button class=" btn btn-default btn-sell">
			{{!-- <span class="glyphicon glyphicon-camera"></span> --}}
			<i class="fa fa-camera-retro fa-lg"></i>
			Post
		</button> 
		{{/link-to}}
		

		

		{{typeahead-search class="display-inline" goToRoute='goToRoute'}}



		{{#if session.currentUser.username }}
		<div class="btn-group btn-profile">
			{{#link-to 'profile' session.currentUser }}
			<button type="button" class="btn btn-default">
				{{ make-icon icon=session.currentUser.icon isSmall=true}} 
			</button>
			{{/link-to}}
		
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			  <i class="fa fa-cog fa-lg"></i>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
				
				<li>{{#link-to 'profile' session.currentUser }}<i class="fa fa-user"></i> Profile{{/link-to}}</li>
				
				<li class="divider"></li>
				<li>{{#link-to 'settings.profile'}}<i class="fa fa-wrench"></i> Settings{{/link-to}}</li>
				
	            <li class="divider"></li>
	            <li>{{#link-to 'haul.about'}}<i class="fa fa-compass"></i> About {{/link-to}}</li>

				<li class="divider"></li>
				<li>{{#link-to 'logout'}}<i class="fa fa-power-off"></i> Logout{{/link-to}}</li>
			</ul>
		</div>
		{{else}}
		<div class="btn-group btn-profile">
			{{#link-to 'signupusername' }}
			<button type="button" class="btn btn-default">
				{{ make-icon icon=session.currentUser.icon isSmall=true}} 
			</button>
			{{/link-to}}
		
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			  <span class="glyphicon glyphicon-cog"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
				<li>{{#link-to 'signupusername'}}Pick a username to get started...{{/link-to}}</li>
				<li class="divider"></li>
				<li>{{#link-to 'logout'}}<i class="fa fa-power-off"></i> Logout{{/link-to}}</li>
			</ul>
		</div>
		{{/if}}
	

	{{else}}


		{{#link-to 'signup'}}<button type="button" class="btn btn-default btn-signup">SIGNUP</button>{{/link-to}}
		{{#link-to 'login'}}<button type="button" class="btn btn-default btn-login">LOGIN</button>{{/link-to}}

		{{#link-to 'haul.about'}}<button type="button" class="btn btn-default btn-signup">ABOUT</button>{{/link-to}}

	{{/if}}

	</div>
</nav>