{{view view.indicatorsView}}
{{view view.itemsView}} 

<!-- Controls -->
<div {{bind-attr class="view.imagesFound:show:hide"}}>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" {{action 'previousSlide' target="view"}}>
    <span {{bind-attr class="view.singleImage:hide :glyphicon :glyphicon-chevron-left"}}></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" {{action 'nextSlide' target="view"}}>
    <span {{bind-attr class="view.singleImage:hide :glyphicon :glyphicon-chevron-right"}}></span>
  </a>
</div>

<div {{bind-attr class="view.imagesFound:hide:show"}}>No Medium Size Images found</div>