
<span class="haul-btn" {{ action 'btnClick'}} >
	<i {{bind-attr class=":fa :fa-heart userLikes:red"}}></i> 
	{{ total }} {{ likeText }}
</span>	

{{!-- 
<button type="button" class="btn btn-default" {{ action 'btnClick'}} >
	<i {{bind-attr class=":fa :fa-heart userLikes:red"}}></i> 
	{{ total }}
</button>	 --}}