
	{{#if needsSellerAccount }} 
	<div class="mention-owner mention-alert">
		{{#link-to 'profile' post.user.username }}
		<span class="profile-image haul-icon"></span>
		{{/link-to}}

		<div class="post-owner-details">
			<span class="name">HaulBot</span>
			<span class="username">@haulbot</span>
			<div class="moment">now</div> 
			<span class="comment">
				{{#link-to 'settings.seller'}}
					<strong><i class="fa fa-exclamation-circle"></i> Whoop, setup your seller account.</strong>  Your items can't be purchased until you do! 
					
				{{/link-to}}
			</span>
		</div>
	</div>
	{{/if}}



{{#each post in pagedContent}}

	<div class="mention-owner">
		{{#link-to 'profile' post.user.username }}<img class="profile-image" {{bind-attr src=post.user.icon}}>{{/link-to}}

		<div class="post-owner-details">
			<span class="name">{{#link-to 'profile' post.user.username }}{{post.user.name}}{{/link-to}}</span>
			<span class="username">{{#link-to 'profile' post.user.username }}@{{post.user.username}}{{/link-to}}</span>
			<div class="moment">{{ format-moment post.created_at }}</div> 
			<span class="comment">{{sanitizehtml-andtag post.comment "comment" ENV}}<span class="reply">
		{{#link-to 'profile.post' post.subject.user.username post.subject  (query-params anchor="comments")}}Reply&nbsp;<i class="fa fa-angle-double-right"></i>{{/link-to}}
	</span></span>
		</div>
	</div>

{{/each}}

{{#if pagedContent}}
<span class="more">{{#link-to 'mentions'}}MORE{{/link-to}}</span>
{{/if}}