



	<h3 {{bind-attr class="showForm::disabled"}}>Credit Card</h3>

	<p>

	{{#if showForm}}
		<a {{bind-attr href=braintree_url}} target="_blank">
			<img src="https://s3.amazonaws.com/braintree-badges/braintree-badge-wide-light.png" width="280px" height ="44px" border="0"/>
		</a>
	{{else}}
		<img src="https://s3.amazonaws.com/braintree-badges/braintree-badge-wide-light.png" width="280px" height ="44px" border="0"/>
		
	{{/if}}
	</p>
	
<div {{bind-attr class="showForm:show:hide :text-center"}}>
	<form id="checkout" method="post" action="/checkout">
		
		{{braintree-dropin 
			buyerId=buyerId
			token=token 
			payment_nonce='payment_nonce'
		}}
		
		<div id="dropin"></div>
		
		<button class='btn btn-default btn-xs' type="submit">select this card</button>
	</form>
</div>