{{#unless doTruncation}}
	<p>{{text}}</p>
{{else}}
	{{#unless isOpen}}
	<div class="row">
		<div class="col-md-12">
			{{ textTruncated }} <a {{action 'open' }} data-toggle="collapse" class="collapsed" href="#description">...[+]</a>
		</div>	
	</div>	
	{{/unless}}

	<div {{bind-attr class=":row :collapse isOpen:show:hide"}} id="description">
		<div class="col-md-12 text-left">
			{{ break-lines text}} <a {{action 'close' }} data-toggle="collapse" class="collapsed" href="#description">[less]</a>
		</div>	
	</div>	
{{/unless}}