
{{!-- PROFILE PROFILE  --}}
<header class="profile">
<div class="container-fluid">	
	<div class="profile-container">


		<img class="profile-image" {{bind-attr src=model.icon}}>


		<div class="profile-name">
			<span class="name">{{model.name}}</span>
			<span class="username">@{{model.username}}</span>
		</div>


		<div class="stats">
		{{#link-to "profile.likes" model}}
		<div class="stat-btn">
			<span class="total">{{model.getLikesCount.total}}</span>
			<span class="title">likes</span>
		</div>
		{{/link-to}}

		{{#link-to "profile.followers" model}}
		<div class="stat-btn">
			<span class="total">{{model.getFollowersCount.total}}</span>
			<span class="title">followers</span>
		</div>
		{{/link-to}}

		{{#link-to "profile.following" model}}
		<div class="stat-btn">
			<span class="total">{{model.getFollowingCount.total}}</span>
			<span class="title">following</span>
		</div>
		{{/link-to}}

		{{#link-to "profile" model}}
		<div class="stat-btn">
			<span class="total">{{model.getPostsCount.total}}</span>
			<span class="title">posts</span> 
		</div> 
		{{/link-to}}

		{{ follow-btn followUser=model openModal='openModal' }}
		</div>
	
	</div>
</div>
</header>
