{{!-- SELLER PROFILE  --}}
<header class="profile">

	{{ make-icon icon=model.user.icon isSmall=false isCollection=true}}

	{{ follow-btn followObj=model}}

	<div class="info-block">
		<h1>{{model.name}}</h1>
		<div class="name">@{{model.user.name}}</div> 
	</div>

	<div class="stats-block">

		<div class="stats">
			
			<span>following</span><br/>
			<a>{{model.user.getFollowingCount.total}}</a>

		</div>

		<div class="stats">
			
			<span>followers</span><br/>
			<a>{{model.getFollowedByCount.total}}</a>
			
		</div>

		<div class="stats">
			
			<span>likes</span><br/>
			<a>{{model.user.getLikesCount.total}}</a>
			
		</div>

		<div class="stats">
			
			<span>hauls</span><br/>
			<a>170</a>
			<div class="highlight-wrap">
			<div class="highlight"></div>
			</div>
		</div> 

		<div class="clearfix"></div>
	</div> 

</header>