{{!-- PROFILE PROFILE  --}}
<header {{bind-attr class=":profile showHeader:show:hide"}}>
	<div class="profile-container">

	<div {{action "clickBack"}} class="post-back-button hide">
		{{#link-to 'profile' model}}
			<span class="glyphicon glyphicon-arrow-left"></span>
		{{/link-to}}
	</div>

		<span {{action "clickBack"}}>
		{{#link-to 'profile' model}}
			{{ make-icon icon=model.icon }}
		{{/link-to}}
		</span>

		

		{{ follow-btn followUser=model openModal='openModal' }}

		<div class="info-block">
			<h1>{{model.name}}</h1>
			<div class="name">@{{model.username}}</div> 
		</div>
{{ grid-btn showGridBtn=showGridBtn showGridView=showGridView class="display-inline"}}
		<div class="stats-block">

			{{#link-to "profile" model}}
			<div {{bind-attr class=":stats isSelected:activehack"}}>
				<span>posts</span><br/>
				<a>0</a>
				<div class="highlight-wrap">
				<div class="highlight"></div>
				</div>
			</div> 
			{{/link-to}}

			{{#link-to "profile.following" model}}
			<div class="stats">
				<span>following</span><br/>
				<a>{{model.getFollowingCount.total}}</a>
			</div>
			{{/link-to}}

			{{#link-to "profile.followers" model}}
			<div class="stats">
				<span>followers</span><br/>
				<a>{{model.getFollowersCount.total}}</a>
			</div>
			{{/link-to}}

			{{#link-to "profile.likes" model}}
			<div class="stats">
				<span>likes</span><br/>
				<a>{{model.getLikesCount.total}}</a>
			</div>
			{{/link-to}}
			
			

			<div class="clearfix"></div>
		</div> 
	</div>
</header>