

<div class="container">  
	<div class="haul-content">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 padding-top">


				{{!-- //CONTENT --}}
				<div class="onboarding-pod">
				{{#each item in sortedContent}}
					<div class="user">
						<div class="user-wrap">
						{{#link-to 'profile' item.user.username }}
							{{make-icon icon=item.user.icon class="display-inline-block"}}
							<div class="name">{{item.user.get_display_name}}</div>
							{{!-- <div class="username">{{user.username}}</div> --}}
						{{/link-to}}
						</div>
						{{ follow-btn followUser=item.user openModal='openModal' class="display-inline-block" }}
					</div>
				{{/each}}
				</div>


				{{#infinite-scroll content=pagedContent hasMore=paginateHasMore }}
					<i class="fa fa-circle-o-notch fa-spin"></i>
				{{/infinite-scroll}}


				{{!-- //NO CONTENT CTA --}}
				{{#unless pagedContent }}
					<div class="padding-top text-center font-weak">
					{{#unless isProfileOwner}}
						<h4 class="prompt-text">{{user.get_display_name}}  Does not have any followers. Why don't you follow them?</h4>
					{{else}}
						<h4 class="prompt-text">Nobody is following you, yet. Try following others, or invite your firends.(</h4>
					{{/unless}} 
					</div>

					<p class="text-center padding-top">
						<!--<span class="glyphicon glyphicon-bookmark sad-heart"></span>-->
					</p>
				{{/unless}}
			</div> 

		</div>
	</div>
</div>