{{preserve-scroll currentScrollPos=currentScrollPos}}

<div class="container ">

	<div class="haul-content">

		<div class="haul-col-menu">

			<div class="haul-menu-content">
				{{#if isProfileOwner}}
				 	{{#link-to 'settings.profile'}}
					<button class="btn-edit-post">
						<i class="fa fa-cog"></i> Edit Your Bio
					</button><br/>
					{{/link-to}}
				{{/if}}

				{{#if user.bio}}
					{{sanitize-html user.bio "comment" ENV}}
				{{else}}

					
					<p>
						<strong>Bio</strong>
						<br/>

						{{#if isProfileOwner}}You have{{else}}@{{user.username}} has{{/if}} not written a bio yet
					</p>

				
				
				{{/if}}

			</div>
		</div>


		{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
		{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
		{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
		{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
		{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
		{{hamburger-menu name="nav-trigger-left"}}
		<input type="checkbox" id="nav-trigger" class="nav-trigger" />
		<label for="nav-trigger" class="with-page-header"></label>


		<div class="haul-col-content"> 
			<div class="haul-content">


			{{!-- EMPTY --}}
			{{!-- EMPTY --}}
			{{!-- EMPTY --}}
			{{!-- EMPTY --}}
			{{#unless pagedContent }}
				<div class="padding-top text-center font-weak">
				{{#if isProfileOwner}} 
					You have not posted anything yet.
				{{else}}
					@{{user.username}} has no posts.
				{{/if}}
					<p class="text-center">
						<span class="glyphicon glyphicon-flash sad-heart"></span>
					</p>
				</div>
			{{/unless}}



			{{!-- MY POSTS --}}
			{{!-- MY POSTS --}}
			{{!-- MY POSTS --}}
			{{!-- MY POSTS --}}
			{{!-- MY POSTS --}}
			{{!-- MY POSTS --}}
			<div class="text-center">
			{{#each post in sortedContent}}
				{{partial 'grid_post'}}	
			{{/each}} 
			</div>
			{{#infinite-scroll content=pagedContent hasMore=paginateHasMore }}
				<i class="fa fa-circle-o-notch fa-spin"></i>
			{{/infinite-scroll}}

		</div>
		</div>
	</div>
</div>