 

	<div class="haul-wrapper">

		<div class="haul-content">

			<div class="col-left">
				

 
			{{!-- //CONTENT --}}
			<div {{bind-attr class=":galleryView showGridView:in"}}>
			{{#each post in sortedContent}}
				{{#if post.image}}
					{{partial 'post'}}	
				{{/if}}
			{{/each}}
			</div>

			{{#infinite-scroll content=pagedContent hasMore=paginateHasMore }}
				<i class="fa fa-spinner fa-spin"></i>
			{{/infinite-scroll}}
	

			{{!-- //NO CONTENT CTA --}}
			{{#unless pagedContent }}
				{{#if isProfileOwner}} 
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 text-center cta-welcome">
							
							<h3>Welcome to Haul.<br/><small>Let's get started!</small></h3>		
							
							{{new-post-btn openModal='openModal' btn-text='Post Something For Sale' class="display-inline"}}
					
						</div>	
					</div> 
				{{else}}
					<div class="padding-top text-center font-weak">
					{{user.username}} has no posts.
					<p class="text-center">
						<span class="glyphicon glyphicon-flash sad-heart"></span>
					</p>
					</div>
				{{/if}}
			{{/unless}}


 
 
			</div>

			<div class="col-right ">
				
			</div>
		</div> 
	</div>
 





