{{preserve-scroll currentScrollPos=currentScrollPos}}

<div class="container ">
	<div class="haul-content">
		<div class="hamburger-left-side">

		{{#unless hideLeftColumn}}


			{{!-- FIXED LEFT --}}
			{{!-- FIXED LEFT --}}
			{{!-- FIXED LEFT --}}
			{{!-- FIXED LEFT --}}
			<div class="haul-fixed-left">

				<div class="haul-fixed-content  padding-top margin-right">
					{{#if isProfileOwner}}
					 	{{#link-to 'settings.profile'}}
						<button class="btn-edit-post">
							<i class="fa fa-cog"></i> Edit Your Bio
						</button><br/>
						{{/link-to}}
					{{/if}}

					{{#if user.bio}}
						{{sanitize-html user.bio "comment" ENV}}
					{{else}}

						
						<p>
							<strong>Bio</strong>
							<br/>

							{{#if isProfileOwner}}You have{{else}}@{{user.username}} has{{/if}} not written a bio yet
						</p>

					
					
					{{/if}}

				</div>
			</div>


			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}	
			{{hamburger-menu}}
			<input type="checkbox" id="hamburger-trigger" class="hamburger" />
			<label for="hamburger-trigger" class="with-page-header"></label>
		
		{{/unless}}


			{{!-- FLUID RIGHT --}}
			{{!-- FLUID RIGHT --}}
			{{!-- FLUID RIGHT --}}
			{{!-- FLUID RIGHT --}}
			<div class="haul-fluid-right"> 
				<div class="haul-fluid-content center-on-collapse  padding-top">


				{{!-- EMPTY --}}
				{{!-- EMPTY --}}
				{{!-- EMPTY --}}
				{{!-- EMPTY --}}
				{{#unless pagedContent }}
					<div class="padding-top text-center">
					{{#if isProfileOwner}} 
						<h4 class="prompt-text">You haven't posted anything yet.</h4>
					{{else}}
						<h4 class="prompt-text">{{user.get_display_name}} has not posted anything yet.</h4>
					{{/if}}
						<p class="text-center" style="margin:0;">
							<!--<span class="glyphicon glyphicon-flash sad-heart"></span>-->
						</p>
					</div>
				{{/unless}}



				{{!-- MY POSTS --}}
				{{!-- MY POSTS --}}
				{{!-- MY POSTS --}}
				{{!-- MY POSTS --}}
				{{!-- MY POSTS --}}
				{{!-- MY POSTS --}} 
				{{#each post in sortedContent}}
					{{partial 'grid_post'}}	
				{{/each}}  
				{{#infinite-scroll content=pagedContent hasMore=paginateHasMore }}
					<i class="fa fa-circle-o-notch fa-spin"></i>
				{{/infinite-scroll}}

			</div>
			</div>
		</div>
	</div>
</div>