{{what-page currentPage=currentPage page=thisPage }}

<div class="container-fluid haul-content">   
	<div class="row">
		<div {{bind-attr class=":col-md-3 :col-sm-2 :col-xs-12 showGridView:col-collapse"}}></div>
		<div {{bind-attr class=":col-md-6 :col-sm-8 :col-xs-12 showGridView:col-wide"}}>

			<div {{bind-attr class=":galleryView showGridView:in"}}>
			{{#each model}}
				{{#if post.subject}}	
					{{render '_post' post}}
				{{/if}}
			{{/each}}
			</div>



			{{#unless hasPosts }}
				<div class="padding-top text-center font-weak">
				{{#unless isProfileOwner}}
					{{user.username}} hasn't liked anything yet.
				{{else}}
					You haven't liked anything yet.
				{{/unless}}
				</div>

				<p class="text-center">
					<span class="glyphicon glyphicon-heart-empty sad-heart"></span>
				</p>
			{{/unless}}


		</div> 
		<div {{bind-attr class=":col-md-3 :col-sm-2 :col-xs-12 showGridView:col-collapse"}}></div>
	</div>
</div>