{{what-page currentPage=currentPage page=thisPage }}

<div class="container haul-content">  
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			
			{{#unless posts }}
				<div class="padding-top text-center font-weak">
				{{#unless isProfileOwner}}
					{{username}} hasn't liked anything yet.
				{{else}}
					You haven't liked anything yet.
				{{/unless}}</div>

				<p class="text-center">
					<span class="glyphicon glyphicon-heart-empty sad-heart"></span>
				</p>
			{{/unless}}

 
			<div {{bind-attr class="galleryView:gallery"}}>
			{{#each posts}}
				{{#if image}}
					{{partial 'post'}}	
				{{/if}}
			{{/each}}
			</div>

		</div> 
	</div>
</div>