{{#if isMarketOwner}}
	<div class="toolbar text-right">
		{{store-btn
			class="display-inline" 
			currentUser=currentUser 
			product=model.product
			mode="edit"
			marketPage=true
		}}
	</div>
{{/if}}


<div class="container content-fixed-nav">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 haul-font">
			<h2 class="heading haul-font">
				{{ make-icon icon=model.market.icon isSmall=true class="pull-left" }}
				{{#link-to 'market' model.market}}{{ model.market.name }}{{/link-to}} -
				{{ model.product.name }}
			</h2>
		</div>  
	</div>
</div>	


<div class="container">
	<div class="row">

		{{!-- Images  --}}

		<div class="col-md-6 col-sm-12 col-xs-12 padding-bottom">
			{{#if model.product }}
				{{#if model.product.images }}
					{{view Haul.CarouselView contentBinding="model.product.images"}}
				{{/if}}
			{{/if}}
		</div>

		{{!-- Product Info --}}

		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-md-12 haul-buy-card">
					
					{{!-- BUTTONS  --}}


					<div class="row button-bar"> 
						<div class="col-md-12 col-sm-12 col-xs-12">
							
							<div class="box-rigid lead haul-price">${{model.product.price}}</div>		
							
							{{!-- BUY --}}
							<button type="button" class="btn btn-primary btn-lg">BUY</button>

							{{!-- LIKE --}}
							{{like-btn
								class="display-inline" 
								item=model.product
								currentUser=currentUser 									
							}}

							{{!-- COMMENT --}}
							<button type="button" class="btn btn-default btn-lg" {{bs-bind-tooltip content="Comment on This!"}}>4 <span class="glyphicon glyphicon-comment"></span>
							</button>

						</div>

					</div>

					{{ product-details seller=model.product.user product=model.product }}

				</div>
			</div>
		</div>



		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-md-12 haul-buy-card">

					<div class="row">
						<div class="col-md-6">
							<span class="haul-font"><strong>{{ model.market.name }} says:</strong></span>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">	
							{{!-- MARKET INFO --}}
							{{ breaklines model.editorial }}
		    			</div>
		    		</div>
		    	</div>
		    </div>
		</div>
 	</div>

		{{!-- COMMENTS --}}
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12 haul-buy-card">
					<div class="row">
						<div class="col-md-12">
						<h4>Comments</h4>

						{{textarea value=message name="message" class="form-control"}}
							<div class="text-right padding-top">
								<button class="btn btn-default">post</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
</div>

<div id="deleteModal" class="modal fade bs-example-modal-sm in danger" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="mySmallModalLabel">Delete?<br/>This cannot be undone</h4>
		</div>
		<div class="modal-body"> 
			<p class="text-center">
				<button {{action 'deleteCancel'}} class="btn btn-default">Cancel</button>
				<button {{action 'deleteProceed'}} class="btn btn-danger">Yes, Delete</button>
			</p>
		</div>
		</div>
	</div>
</div>

















