{{!-- SELLER PROFILE  --}}
<div class="seller-nav haul-font">
	<div class="container content-fixed-nav"> 
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">


				<div class="follow">
					{{ follow-btn 
						item=user 
						ref_type="user"
						currentUser=currentUser   
						hideCounts=true
					}} 
				</div> 			
				   	
				{{ make-icon icon=user.icon isSmall=false class="pull-left" }}
				 	
		     	<h1>{{user.name}}</h1>
	
			
			</div>
		</div>
	</div>
</div>

<div class="container">  
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">

			{{ user-tabs 
				user=user 
				isFollows=true
			}}	

		</div>
	</div>
</div>

<div class="toolbar haul-font">
	<span></span>
</div>

<div class="container">  


	{{!-- SELLER PRODUCTS --}}
    {{#each model.follows_users}}
    	{{#link-to 'seller' this.id }}
    	<div class="haul-grid-li"> 
			<img class="thumbnail" {{bind-attr src=this.icon}}>

			
			<div class="info">		
		 	  	<div class="price">{{name}}</div>   
			</div>			
	 	</div>
	 	{{/link-to}}	
	{{/each}} 


	{{#each model.follows_collections}}
    	{{#link-to 'collection' this.id }}
    	<div class="haul-grid-li"> 
			<img class="thumbnail" {{bind-attr src=this.icon}}>

			
			<div class="info">		
		 	  	<div class="price">{{name}}</div>   
			</div>			
	 	</div>
	 	{{/link-to}}	
	{{/each}} 
</div>