{{user-header user=user currentUser=currentUser}}

<div class="toolbar haul-font">
	<span></span>
</div>

<div class="container">  

	{{#unless model.followers }}
		<div class="padding-top text-center haul-font-weak">
		{{#unless isProfileOwner}}{{user.name}}{{else}}You{{/unless}} have no followers :(
			<span>
			{{#unless isProfileOwner}}
				{{follow-btn item=user 
					ref_type="user"
					currentUser=currentUser   
					hideCounts=true

				}}
			{{/unless}}
			</span>
		</div>
	{{/unless}}


	{{!-- SELLER PRODUCTS --}}
    {{#each model.followers}}
    	{{#link-to 'seller' this.id }}
	    	{{#link-to 'seller' this.id }}
	    	{{profile-badge user=this currentUser=currentUser}}
		 	{{/link-to}}
	 	{{/link-to}}	
	{{/each}} 
</div>