{{user-header user=user currentUser=currentUser}}
 

<div class="toolbar haul-font">
	<span></span>
</div>

<div class="container">  

	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-6">

			{{#unless model }}
				<p class="padding-top text-center haul-font-weak">
				{{#unless isProfileOwner}}{{user.name}}{{else}}You{{/unless}} don't follow any one yet.</p>
			{{/unless}}
 
			{{#each model}}
				{{#if follows_collection}}
			    	{{#link-to 'collection' follows_collection.id }}
				 		{{collection-badge collection=follows_collection currentUser=currentUser}}
				 	{{/link-to}}	
			 	{{/if}}

			 	{{#if follows_user}}
		    		{{#link-to 'seller' follows_user.id }}
		    			{{profile-badge user=follows_user currentUser=currentUser}}
		 			{{/link-to}}	
			 	{{/if}}
			{{/each}} 

		</div> 
	</div>
</div>