{{!-- SELLER PROFILE  --}}
{{seller-nav
	user=this
	currentUser=currentUser
	isProfileOwner=isProfileOwner
	pageCollections=true
}}


<div class="toolbar"><span></span></div>
 
<div class="container"> 


	{{!-- INFORMATION POD --}}
	{{#if isProfileOwner}}
	<div class="haul-grid-li ">	
		<div class="sell">  
			<div class="sell-button text-center">
				<div class="sell-text text-center haul-font">
					
					{{#if model.collections }}
						Your collections.  
					{{else}}
						Make a collection
						<span class="glyphicon glyphicon-plus-sign"></span>
					{{/if}} 

				</div>
			</div> 
		</div>
	</div>
	{{/if}}

	{{#unless isProfileOwner}}
	{{#unless model.collections }}
	<div class="haul-grid-li ">	
		<div class="sell">  
			<div class="sell-button text-center">
				<div class="sell-text text-center haul-font">
					
					{{this.name}} had not added anything yet.

				</div>
			</div> 
		</div>
	</div>
	{{/unless}}
	{{/unless}}



	{{!-- USERS PUBLIC COLLECTIONS --}}
	{{#each model.collections }}
		{{#link-to 'collection' collection }}
    	<div class="haul-grid-li"> 

    		{{#if collection.image.small }}
				<img class="thumbnail" {{bind-attr src=collection.image.small}}>
			{{else}}
				<img class="thumbnail" src="/static/images/blank-thumb.jpg">
			{{/if}}

			<div class="info">		
		 	  	<div class="price"> {{ collection_name }}</div>   
			</div>			
	 	</div>
	 	{{/link-to}}
	{{/each}} 
</div> 



