{{!-- SELLER PROFILE  --}}



<div class="container content-fixed-nav">
	<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12  haul-font">

			<div class="media">
			  	<div class="profile-circular-mask pull-left">
			  	{{#if icon }}
					{{#link-to "seller" model}}<img {{bind-attr src=icon}}> {{/link-to}}
			    {{else}}
			    	{{#if isProfileOwner }}
						<span>{{#link-to "settings"}}edit{{/link-to}}</span>
					{{/if}}
			    {{/if}}
			    </div>
			 
			 	<div class="media-body">
			     	<h1 class="heading haul-font">{{#link-to "seller" model }}{{name}}{{/link-to}}</h1>
					<div>
						{{ follow-btn 
							item=model 
							ref_type="user"
							currentUser = currentUser 
						}} 
					</div>
			  	</div>
			</div> 
		</div> 
	 
		<div class="col-md-6 col-sm-12 col-xs-12 haul-font padding-top text-right">
			{{!-- SELL SOMETHING  --}}

			{{#if isProfileOwner }}
			<div class="btn-group" role="group">

				{{#link-to 'seller.new-collection' currentUser.slug }}
				<button class="btn btn-default">
					Create a collection
					<span class="glyphicon glyphicon-plus-sign"></span>
				</button>
				{{/link-to}}

				{{#link-to 'seller.new-product' currentUser.slug }}
				<button class="btn btn-default">
					Sell Something
					<span class="glyphicon glyphicon-plus-sign"></span>
				</button>
				{{/link-to}}

				{{#link-to 'seller.products' currentUser.slug }}
				<button class="btn btn-default">
					My Items
					<span class="glyphicon glyphicon-plus-sign"></span>
				</button>
				{{/link-to}}
			</div>
			{{/if}}
	
		</div>
	</div>
</div>	


 
<div class="container"> 
	{{!-- USERS PUBLIC COLLECTIONS --}}

	{{#each model.collections }}
		{{#link-to 'collection' collection }}
    	<div class="haul-grid-li"> 
			<img class="thumbnail" {{bind-attr src=collection.image.small}}>
			
			<div class="sold">edit</div>


			<div class="info">		
		 	  	<div class="price"> {{ collection_name }}</div>   
			</div>			
	 	</div>
	 	{{/link-to}}
	{{/each}} 
</div> 



