
{{user-header user=user currentUser=currentUser}}

{{!-- PAGE CONTENT --}}
<div class="container">  


	{{!-- UHOH, NO PRODUCTS AT ALL --}}
	{{#unless isProfileOwner}}
	{{#unless hasProducts }}
	{{#unless hasCollections }}
		<p class="padding-top text-center font-weak">{{user.name}} has nothing to sell.</p>
	{{/unless}}
	{{/unless}}
	{{/unless}}


	{{!-- CALL TO ACTION --}}
	{{#if isProfileOwner}}
	{{#unless hasCollections }}
		{{#unless hasProducts }} 
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12  text-center">
			<h3>Welcome to Haul. Let's get started!</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6 text-center">

				<div class="panel panel-default">
					<div class="panel-heading">
						
						{{#link-to 'product-new'}}
						<h3>
							<span class="glyphicon glyphicon-camera"></span><br/>
							Sell Something
						</h3>
						{{/link-to}} 
					</div>
					<div class="panel-body">
						
							
						
					</div>
				</div>	
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 text-center">

				<div class="panel panel-default">
					<div class="panel-heading">

						{{#link-to 'collection-new' }}
							<h3>
								<span class="glyphicon glyphicon-plus-sign"></span><br/>
								Start Marketplace 
							</h3>
						{{/link-to}}
					</div>
					<div class="panel-body">
						
							
						
					</div>
				</div>

			</div>
		</div>
		{{/unless}}
	{{/unless}}
	{{/if}}
		



				





	{{#if hasCollections}}	
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 padding-top clearfix">

			
	 	 
		 	{{#with controller as controller }}
				{{#each hasCollections }} 
					

					<div class="panel panel-default haul-panel">		

						<div class="panel-heading">

 							<h3 class="text-center">
 								My Haul 
 								{{haul-faq anchor='#myhaul'}}
 							</h3>
							
						</div>
						
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-12 text-center">
									

						    		{{#if collection.image.small }}
						    			{{#link-to 'collection' collection }}
											<img class="img-responsive thumbnail" {{bind-attr src=collection.image.small}}>
										{{/link-to}}
									{{else}}

										{{#if controller.isProfileOwner}}
				 							{{#link-to 'collection.edit' collection.id }}
				 							<div class="profile-circular-mask collection">
				 								<br/>
				 								<div class="text-center">add logo</div>	
				 							</div>
				 							{{/link-to}}
				 						{{/if}}

									{{/if}} 

									<h3>
										{{#link-to 'collection' collection }}{{collection.name}}{{/link-to}}

										{{#if controller.isProfileOwner}}
				 							{{#link-to 'collection.edit' collection.id }}
				 							<button class="btn btn-default btn-xs">edit</button>
				 							{{/link-to}}
				 						{{/if}}

									</h3>		

					 			</div>

					 			<div class="col-md-4 col-sm-4 col-xs-12 left-border scroll">
					 				{{collection.description}}
					 			</div>

					            <div class="col-md-4 col-sm-4 col-xs-12 left-border scroll">

					            	<h4>
					            		Who's Following <strong>{{collection.name}}</strong> 
					            	</h4>

					            	<div class="row">
					            		<div class="col-md-12 col-sm-12 col-xs-12 padding-top">

							            	{{#each collection.getFollowers.followers}}
												{{#link-to 'seller' this }}
						    						{{profile-badge user=this currentUser=currentUser isSmall=true}}
						 						{{/link-to}}
							            	{{/each}}

					            		</div>
					            	</div>

					            	<div class="row">
					            		<div class="col-md-12 col-sm-12 col-xs-12 padding-top text-center">

										{{ follow-btn
						                    item=collection
						                    ref_type="collection"
						                    currentUser=controller.currentUser
						                    hideCounts=true
						                    hideIfFollowing=true
						                }}

						                </div>
						          	</div>  

					 			</div>	
				 			</div>
			 			</div>
				 	</div> 
				{{/each}} 
			{{/with}} 
		</div>
	</div>
	{{/if}}
</div>

<div class="container">   
	{{!-- ALL PRODUCTS FOR THIS USER --}}
	{{!-- SELLER PRODUCTS --}}
	{{#if hasProducts}}
		<h4 class="bottom-border padding-top">For Sale By Me</h4>
	    {{#each hasProducts}}
	    	{{#link-to 'product' this.id }}
	    	<div class="haul-grid-li"> 
				<img class="thumbnail" {{bind-attr src=image.small}}>

				{{#if sold}}
					<div class="sold">Sold</div>
				{{/if}}
				
				<div class="info">		
			 	  	<div class="price"> ${{price}}</div>   
				</div>			
		 	</div>
		 	{{/link-to}}	
		{{/each}} 
	{{/if}}
 
</div> 



