
{{user-header user=user currentUser=currentUser}}


{{!-- PAGE CONTENT --}}
<div class="container">  


			{{!-- UHOH, NO PRODUCTS AT ALL --}}
			{{#unless isProfileOwner}}
			{{#unless this.products }}
				<p class="padding-top text-center haul-font-weak">{{user.name}} has nothing to sell.</p>
			{{/unless}}
			{{/unless}}


			{{!-- CALL TO ACTION --}}
			{{#if isProfileOwner}}
				{{#unless this.products }} 
				{{#link-to 'product-new'}}
				<div class="haul-grid-li">	
					<div class="sell">  
						<div class="sell-button text-center">
							<div class="sell-text text-center haul-font">
									<span class="glyphicon glyphicon-camera"></span><br/>
									Sell Something
							</div>
						</div> 
					</div>
				</div>
				{{/link-to}}
				{{/unless}}

				{{#unless this.products }} 
				{{#link-to 'collection-new' }}
				<div class="haul-grid-li">	
					<div class="sell">  
						<div class="sell-button text-center">
							<div class="sell-text text-center haul-font">
									<span class="glyphicon glyphicon-plus-sign"></span><br/>
									Start Marketplace
							</div>
						</div> 
					</div>
				</div>
				{{/link-to}}
				{{/unless}}
			{{/if}}
				



				





		{{#if model.collections}}	
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 padding-top clearfix">
		
				
				
				{{#each model.collections }}

 				
					<div class="row well">
						<div class="col-md-4 col-sm-6 col-xs-6 ">
							
							<h4>{{#link-to 'collection' collection }}{{collection.name}}{{/link-to}}</h4>		
 
							{{#link-to 'collection' collection }}
					    		{{#if collection.image.small }}
									<img class="img-responsive thumbnail" {{bind-attr src=collection.image.small}}>
								{{else}}
									<img class="thumbnail" src="/static/images/blank-thumb.jpg">
								{{/if}}
							{{/link-to}}

			 			</div>
			 			<div class="col-md-4 col-sm-6 col-xs-6">
			 				<h4>
			 					About Us
			 				</h4>

			 				<p>{{breaklines collection.description}}</p>


			 				<div class="padding-top">
			 				{{ follow-btn
			                    item=collection
			                    ref_type="collection"
			                    currentUser=currentUser
			                }}
			                </div>

			            </div>

			            <div class="col-md-4 col-sm-12 col-xs-12">

			            <h5>Followers</h5>



			 				
	
						<div class="profile-circular-mask text-center"><a id="ember1706" class="ember-view" href="/seller/27821482570678272">
						    </a><a id="ember1714" class="ember-view pull-left" href="/seller/27821482570678272"><img src="https://graph.facebook.com/1531138757143466/picture?width=200" data-bindattr-1716="1716"></a>
					    </div>

					<div class="profile-circular-mask text-center"><a id="ember1706" class="ember-view" href="/seller/27821482570678272">
						    </a><a id="ember1714" class="ember-view pull-left" href="/seller/27821482570678272"><img src="https://graph.facebook.com/1531138757143466/picture?width=200" data-bindattr-1716="1716"></a>
					    </div>
					    <div class="profile-circular-mask text-center"><a id="ember1706" class="ember-view" href="/seller/27821482570678272">
						    </a><a id="ember1714" class="ember-view pull-left" href="/seller/27821482570678272"><img src="https://graph.facebook.com/1531138757143466/picture?width=200" data-bindattr-1716="1716"></a>
					    </div>
					    <div class="profile-circular-mask text-center"><a id="ember1706" class="ember-view" href="/seller/27821482570678272">
						    </a><a id="ember1714" class="ember-view pull-left" href="/seller/27821482570678272"><img src="https://graph.facebook.com/1531138757143466/picture?width=200" data-bindattr-1716="1716"></a>
					    </div>
					    <div class="profile-circular-mask text-center"><a id="ember1706" class="ember-view" href="/seller/27821482570678272">
						    </a><a id="ember1714" class="ember-view pull-left" href="/seller/27821482570678272"><img src="https://graph.facebook.com/1531138757143466/picture?width=200" data-bindattr-1716="1716"></a>
					    </div>
					    <div class="profile-circular-mask text-center"><a id="ember1706" class="ember-view" href="/seller/27821482570678272">
						    </a><a id="ember1714" class="ember-view pull-left" href="/seller/27821482570678272"><img src="https://graph.facebook.com/1531138757143466/picture?width=200" data-bindattr-1716="1716"></a>
					    </div>
				 	</div>
				 </div>
				{{/each}} 
				</div>
			</div>
		</div>
	{{/if}}
</div>

<div class="container">  



	{{!-- ALL PRODUCTS FOR THIS USER --}}
	{{!-- SELLER PRODUCTS --}}
	{{#if user.products}}
		<h4 class="bottom-border padding-top">For Sale By Me</h4>
	    {{#each user.products}}
	    	{{#link-to 'product' this.id }}
	    	<div class="haul-grid-li"> 
				<img class="thumbnail" {{bind-attr src=image.small}}>

				{{#if sold}}
					<div class="sold">Sold</div>
				{{/if}}
				
				<div class="info">		
			 	  	<div class="price"> ${{price}}</div>   
				</div>			
		 	</div>
		 	{{/link-to}}	
		{{/each}} 
	{{/if}}
 
</div> 



