{{!-- SELLER PROFILE  --}}
{{seller-nav
	user=this
	currentUser=currentUser
	isProfileOwner=isProfileOwner
	pageCollections=true
}}


<div class="toolbar text-right">

	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">	

	{{!-- BUTTON  --}}
	{{#if isProfileOwner }} 


		<div class="btn-group" role="group"> 
			<button type="button" {{bind-attr class="pageCreateCollections:selected :btn :btn-default :haul-font"}}>
				{{#link-to 'seller.new-collection' this.slug }}
					<span class="glyphicon glyphicon-plus-sign"></span>
					Create Collection
				{{/link-to}} 
			</button>
			<button {{bind-attr class="pageCreateItems:selected :btn :btn-default :haul-font"}}>
				{{#link-to 'seller.new-product' this.slug }}	
				<span class="glyphicon glyphicon-camera"></span>
				Add Item
				{{/link-to}}
			</button> 
		</div>
	{{/if}}
			</div>
		</div>
	</div>
</div>
 
<div class="container"> 

	{{#if this.products }}
	{{#link-to 'seller.products' this.slug }}
	<div class="haul-grid-li">	
		<div class="sell">  
			<div class="sell-button text-center">
				<div class="sell-text text-center haul-font">
						All Items
				</div>
			</div> 
		</div>
	</div>
	{{/link-to}}
	{{/if}}

	{{#if isProfileOwner}}
	{{#unless this.products }} 
	{{#link-to 'seller.new-product' this.slug }}	
	<div class="haul-grid-li">	
		<div class="sell">  
			<div class="sell-button text-center">
				<div class="sell-text text-center haul-font">
						Sell Something<br/>
						<span class="glyphicon glyphicon-camera"></span>
				</div>
			</div> 
		</div>
	</div>
	{{/link-to}}
	{{/unless}}
	{{/if}}
	
	

	{{#unless isProfileOwner}}
	{{#unless this.products }}
	<div class="haul-grid-li ">	
		<div class="sell">  
			<div class="sell-button text-center">
				<div class="sell-text text-center haul-font">
					
					{{this.name}} had not added anything yet.

				</div>
			</div> 
		</div>
	</div>
	{{/unless}}
	{{/unless}}



	{{!-- USERS PUBLIC COLLECTIONS --}}
	{{#each model.collections }}
		{{#link-to 'collection' collection }}
    	<div class="haul-grid-li"> 

    		{{#if collection.image.small }}
				<img class="thumbnail" {{bind-attr src=collection.image.small}}>
			{{else}}
				<img class="thumbnail" src="/static/images/blank-thumb.jpg">
			{{/if}}

			<div class="info">		
		 	  	<div class="price"> {{ collection_name }}</div>   
			</div>			
	 	</div>
	 	{{/link-to}}
	{{/each}} 
</div> 



