{{!-- SELLER PROFILE  --}}
<div class="seller-nav">
	<div class="container content-fixed-nav"> 
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">


				<div class="follow">
					{{ follow-btn 
						item=user 
						ref_type="user"
						currentUser=currentUser   
						hideCounts=true
					}} 
				</div> 			
				   	
				{{ make-icon icon=user.icon isSmall=false class="pull-left" }}
				 	
		     	<h1>{{user.name}}</h1>
	
			
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 text-center">

				{{ user-tabs 
					user=user 
					isProducts=true
				}}	

			</div>
		</div>
	</div>
</div>
 


<div class="toolbar">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">	
			<span></span>

{{!-- 
				{{#link-to "seller" user }}
				<button class="btn btn-default btn-left">
					<span class="glyphicon glyphicon-chevron-left"></span>
					Back To Collection
				</button>
				{{/link-to}} --}}

				{{!-- BUTTON  --}}
				{{#if isProfileOwner }}  
					{{#link-to 'product-new'}}
					<button class="btn btn-default btn-right">
						<span class="glyphicon glyphicon-camera"></span>
						Sell Something
					</button> 
					{{/link-to}}
				{{/if}}

			</div>
		</div>
	</div>
</div>
 
<div class="container">  


	{{!-- SELLER PRODUCTS --}}
    {{#each this}}
    	{{#link-to 'product' this.id }}
    	<div class="haul-grid-li"> 
			<img class="thumbnail" {{bind-attr src=image.small}}>

			{{#if sold}}
				<div class="sold">Sold</div>
			{{/if}}
			
			<div class="info">		
		 	  	<div class="price"> ${{price}}</div>   
			</div>			
	 	</div>
	 	{{/link-to}}	
	{{/each}} 
</div>
