{{#if session.isAuthenticated }}
	


<nav>

	<div class="nav">
		
		<div class="logo">
			{{#link-to "home"}}HAUL{{/link-to}}
		</div>


		{{!-- When browser is collapsed --}}
		<div class="nav-link-wrapper-collapse">
 
 			<span class="nav-item">
				{{#link-to 'home' }}<i class="fa fa-home fa-2x"></i>{{/link-to}}
		 	</span>

		 	<span class="nav-item">
				{{#link-to 'mentions' }}<i class="fa fa-envelope-o fa-2x"></i>{{/link-to}}
				{{#if session.currentUser.hastUnreadMentions}}
					{{mention-count}}
				{{/if}}
			</span>
			
			<span class="nav-item">
				<i {{action 'toggleSearch'}} class="fa fa-search fa-2x"></i> 
			</span>

			<span class="nav-item">
			{{make-post-btn 
				openModal='openModal' btn-text="ADD A NEW POST" iconOnly='true' class="display-inline"}}
			</span>

		</div>	
		


		{{!-- When browser is NOT collapsed --}}
		<div class="nav-link-wrapper">
			<div class="nav-link home">
				{{#link-to 'home' }}FEED{{/link-to}}
			</div>	

			<div class="nav-link">
				{{#link-to 'discover' }}DISCOVER{{/link-to}}
			</div>	

			<div class="nav-link">
				{{#link-to 'profile' session.currentUser.username }}MY POSTS{{/link-to}}
			</div>	

			<div class="nav-link">
				{{#link-to 'mentions' }}
					{{#if session.currentUser.hastUnreadMentions}}
						{{mention-count}}
					{{/if}}NOTIFICATIONS
				{{/link-to}}
			</div>	

			<div {{action 'toggleSearch'}} class="nav-link needsclick">
				<i class="fa fa-search"></i> SEARCH
			</div>	
		</div>	


		<div class="nav-profile">
			
			{{make-icon icon=session.currentUser.icon}}
			
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
				
				<li>{{#link-to 'profile' session.currentUser.username }}<i class="fa fa-user"></i> My Posts{{/link-to}}</li>
				
				<li class="divider"></li>
				<li>{{#link-to 'settings.profile'}}<i class="fa fa-wrench"></i> Profile{{/link-to}}</li>
				
	            <li class="divider"></li>
	            <li>{{#link-to 'about.us'}}<i class="fa fa-compass"></i> About {{/link-to}}</li>

				<li class="divider"></li>
				<li>{{#link-to 'logout'}}<i class="fa fa-power-off"></i> Logout{{/link-to}}</li>
			</ul>

		</div>

		{{make-post-btn openModal='openModal' btn-text="ADD A NEW POST" class="display-inline collapse"}}

	</div>
</nav>

{{else}}

<nav class="anon">
	<div class="nav">
		
		<div class="logo">
			{{#link-to "home"}}HAUL{{/link-to}}
		</div>

		{{!-- When browser is collapsed --}}
		<div class="nav-link-wrapper-collapse">

			
			<i {{action 'toggleSearch'}} class="fa fa-search fa-2x display-inline "></i> 

			<div class="nav-link display-inline">
				{{#link-to 'about.us'}}ABOUT{{/link-to}}
			</div>	

			{{signup-btn openModal='openModal' class="display-inline"}}

			{{login-btn openModal='openModal' class="display-inline"}}
					

 
		</div>	
		
		{{!-- When browser is NOT collapsed --}}
		<div class="nav-link-wrapper"> 
			<div class="nav-link">
				{{#link-to 'discover' }}DISCOVER{{/link-to}}
			</div>	 

			<div {{action 'toggleSearch'}} class="nav-link">
				<i class="fa fa-search"></i> SEARCH
			</div>	
		</div>	


		<div class="nav-link-wrapper right">
			{{signup-btn openModal='openModal' class="display-inline"}}

			{{login-btn openModal='openModal' class="display-inline"}}
			
			<div class="nav-link">
				{{#link-to 'about.us'}}ABOUT{{/link-to}}
			</div>
		</div>

	</div>
</nav>
{{/if}}

<div id="searchDropDown" class="search">
	{{typeahead-search  goToRoute='goToRoute'}}
</div>
