
<div class="container haul-edit">

	

{{!-- 	<ul class="nav nav-tabs">
	  	<li {{bind-attr class="showProduct:active"}}><a {{action 'showProduct'}}>Details</a></li>
	  	<li {{bind-attr class="showPost:active"}}><a {{action 'showPost'}}>Post</a></li>
	</ul>  --}}



	<div {{bind-attr class="createMode:show:hide"}}>
		<div class="col-md-12 col-sm-12 col-xs-12 text-center"> 
			<h4>Start with photos</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			{{view Sortable contentBinding="selectedImages"}}
			{{break-lines imagesBlank}}
		</div>
	</div>


	<div {{bind-attr class="showProduct:show:hide"}}>

		<div {{bind-attr class="showImages:show:hide"}}>
			<div class="padding-top">
				{{image-picker 
					images=userImages
					refresh='refresh'
					imageClick='imageClick' 
					imageDeleted='imageDeleted'
					Haul=Haul
				}}
			</div>
		</div>

		<div {{bind-attr class="showImages:hide:show"}}>

		{{#if modelProduct}}
			{{#form-for modelProduct wrapper="bs3-wrapper"}}
			<div class="row">
				<div class="col-md-9 col-sm-9 col-xs-12"> 
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12"> 
							<label>Name this item:</label>
							{{input name canShowValidationError=showErrors}} 
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12"> 
							<label>Describe this item:</label>
							<label class="small pull-right text-regular">(max 2000 characters)</label>
							{{input description placeholder="Don't forget #hashtags!" as="text" canShowValidationError=showErrors }}
						</div> 
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6"> 
							{{#input price}}
							{{label-field price}}
							<div class="input-group">
								<span class="input-group-addon">$</span>
							  	{{input-field price class="form-control input-sm" canShowValidationError=showErrors}}
							  	<br/>
							</div>
							{{#if showErrors}}<span class="has-error help-block">{{error-field price}}</span>{{/if}}
							{{/input}}
						</div>
					
						<div class="col-md-6 col-sm-6 col-xs-6"> 
							<label>Quantity:</label>
							{{input quantity class="input-xs" canShowValidationError=showErrors}}
		 				</div>
					</div>
				</div>
			</div>
			{{/form-for}}
		{{/if}}
		</div>

		<div {{bind-attr class="showImages:show:hide :toolbar-footer"}}>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">	
						<button {{action "toggleImages"}} 
							{{bind-attr class="imagesAreSelected::disabled showImages:show:hide :btn :btn-primary :btn-right"}}>
							continue
							<span class="glyphicon glyphicon-menu-right"></span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div {{bind-attr class="showImages:hide:show :toolbar-footer"}}>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 text-center">	

						<button {{action 'cancel'}} class="btn btn-default btn-left">Cancel</button>
						
						<button {{action "toggleImages"}} 
							{{bind-attr class="showImages:hide:show :btn :btn-primary"}}>
							<span class="glyphicon glyphicon-picture"></span> Change Images
						</button>

						{{ladda-btn
							name='next'
							class="display-inline"
							btnClasses='btn btn-primary btn-right ladda-button'
							btnClick='saveProduct'
							spin=isProcessing
						}}

					</div>
				</div>
			</div>
		</div>
	</div>











	<div {{bind-attr class="showPost:show:hide"}}>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">  
				{{#form-for model wrapper="bs3-wrapper"}}
					<h4>What's great about this?</h4>
					{{quill-editor content=editorialForQuill quillChange='quillChange'}}
				{{/form-for}}
			</div>
		</div>

		<div class="toolbar-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 text-center">	

						
						<button {{action 'showProduct'}} class="btn btn-default btn-left">details</button>
						
						{{ladda-btn
							name='save'
							class="display-inline"
							btnClasses='btn btn-primary btn-right ladda-button'
							btnClick='savePost'
							spin=isProcessing
						}}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>




