<meta property="og:title" content="The Rock" />
<meta property="og:site_name" content="Haul" />
<meta property="og:url" content="http://www.imdb.com/title/tt0117500/" />
<meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
<meta property="og:description" content="Bee boo baaap" />
<meta property="fb:app_id" content="443672575768207" />
<meta property="og:type" content="video.movie" />

{{!-- SELLER PROFILE  --}}
{{user-header user=model.user session=session}}





{{!-- PAGE CONTENT --}}
<div class="container">
	<div class="row"> 
		<div class="col-md-6 col-sm-6 col-xs-12 padding-bottom">

			{{!-- IMAGES --}} 
			{{image-carousel contentBinding="model.images"}} 

			
			{{!-- FACEBOOK, TWITTER, PINTEREST --}}
			<div class="clearfix text-center padding-top">

				{{social-btns product=model url=url}} 

			</div>

			{{!-- COMMENTS --}}
			{{ comment-section
				contextObject=model.user
				itemObject=model
				session=session
			}}

		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="haul-buy-card">

				{{#if isProfileOwner}}
					<div class="pull-right">
						{{#link-to 'seller.product.edit' this}}
							<button class="btn btn-default btn-xs">edit</button>
						{{/link-to}}
					</div>
				{{/if}}
				
				{{!-- PRODUCT NAME --}}
				<h3 class="text-center bottom-border">{{ model.name }}</h3> 

				{{!-- BUTTONS --}}
				<div class="padding-bottom ">
					
					<div class="btn-left haul-price">${{model.price}}</div>	 	
						
					{{!-- BUY --}}
					<button type="button" class="btn btn-primary btn-responsive">BUY</button>

					{{!-- LIKE --}}
					{{like-btn
						class="display-inline" 
						item=model
						session=session 									
					}}

					{{!-- COMMENT --}}
					{{comment-btn
						class="display-inline"
						contextObject=model.user
						itemObject=model
						session=session
					}}
					

					{{!-- CURATE - ADD TO STORE --}}
					{{#unless isProductOwner }}
						{{collection-btn
							class="display-inline" 
							session=session 
							product=model
							productPage=true
						}}
					{{/unless}}

				</div>


				<div class="clearfix padding-top">
					<h4>Seller Details:</h4>
 
					{{profile-badge user=model.user session=session showFollows=false}}

					{{ break-lines model.description }}
				</div>
				
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="clearfix padding-top">
							{{liked-by product=model session=session  }}	
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="clearfix padding-top">
							{{product-collections product=model session=session }}	
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>



	<div class="row padding-top">
		<div class="col-md-12 col-sm-12 col-xs-12 text-center padding-top top-border">
			{{#link-to "seller" model.user}}
				<button class="btn btn-default btn-sm">next item ></button>
			{{/link-to}}
		</div>
	</div>


</div>


{{!-- <div id="deleteModal" class="modal fade bs-example-modal-sm in danger" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="mySmallModalLabel">Delete?<br/>This cannot be undone</h4>
		</div>
		<div class="modal-body"> 
			<p class="text-center">
				<button {{action 'deleteCancel'}} class="btn btn-default">Cancel</button>
				<button {{action 'deleteProceed'}} class="btn btn-danger">Yes, Delete</button>
			</p>
		</div>
		</div>
	</div>
</div> --}}

















