<div class="container-fluid haul-content padding-top">  
	<div class="row">
		<div class="col-md-8 col-sm-8 col-xs-12">
			<div class="row post">   
				<div class="col-md-12 col-sm-12 col-xs-12"> 


					<div class="article">

						{{!-- BUTTONS --}}
					 	<div class="btn-wrapper">

					 		<button class="btn btn-default btn-buy">
								buy
							</button>

						 	{{like-btn product=product class="display-inline" }}
						 	
						 	{{comment-btn itemObject=this class="display-inline" }}
						 	
						 	{{#if isProfileOwner}}

							 	{{!-- EDIT --}}
							 	{{#link-to 'seller.product.edit' collection product.id product.slug }}
								<button class="btn btn-default">
									edit
								</button>
								{{/link-to}}
							
							{{else}}

								{{!-- REPOST --}}
								{{#link-to 'seller.product.edit' collection product.id product.slug }}
								<button class="btn btn-default">
									<span class="glyphicon glyphicon-retweet"></span>
								</button>
								{{/link-to}}

							{{/if}}

						</div>

						{{!-- PRODUCT NAME --}}
						<h2>
							{{ product.name }}
						</h2>

						{{!-- TIMESTAMP --}}
						<div class="moment">posted {{format-date updated_at}}</div>
						
						{{!-- IMAGES --}}
						<div class="product-image">
							<div class="price">${{product.price}}</div>
							{{#if product.images}}
								{{image-carousel content=product.images}}
							{{/if}}
						</div>

						{{!-- POSTER --}}
						<div class="citation">
							{{#link-to 'seller' collection }}
							<div class="image">
								{{ make-icon icon=product.user.icon isSmall=true}}
							</div>
							<div class="name">{{product.user.name}}</div>
							{{/link-to}}
						</div>

						{{!-- EDITORIAL --}}
						<div class="editorial">
							{{break-lines editorial}}
						</div>
					</div>
				</div>
			</div>	 
		</div> 

		<div class="col-md-4 col-sm-4 col-xs-12 sidebar">
			
			<div class="seller">

				<h5 class="text-center">Seller Description</h5>

				{{#link-to 'seller' product.user.collection}}
					{{ make-icon icon=product.user.icon isSmall=true isCollection=true}}
				{{/link-to}}

				<div class="info-block">
					<h1>{{product.user.collection.name}}</h1>
					<div class="name">@{{product.user.name}}</div> 
				</div>
				
				<p>
					<b>{{#link-to "seller.product" product.user.collection product.id product.slug}}{{product.name}}{{/link-to}} -</b>
					{{ product.description }}
				</p>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-8 col-sm-8 col-xs-12">
			{{!-- COMMMENTS --}}
			{{comment-section itemObject=product contextObject=collection  class="display-inline" }}
		</div> 
		<div class="col-md-4 col-sm-4 col-xs-12 sidebar"></div>
	</div>

</div>

