{{user-header model=collection  isSelected=true fixedByDefault=true}}

<div class="container-fluid haul-content">  

	

	<div class="row">
		<div class="col-md-7 col-sm-7 col-xs-12 text-center">
			<div class="post">

				

				{{!-- EDIT YOUR OWN POST --}}
			 	{{#if isProfileOwner}}

				 	{{!-- EDIT --}}
				 	{{#link-to 'seller.product.edit' collection product.id product.slug }}
					<button class="btn btn-default btn-xs btn-edit-post">
						edit
					</button>
					{{/link-to}}
				
				
				{{/if}}

			

				{{!-- REPOST --}}
				{{#unless-equal param1=product.user.id param2=collection.user.id}}
				<div class="citation">
					<span class="glyphicon glyphicon-retweet"></span>
					<div class="name">
						{{#link-to 'seller' collection }}
						{{collection.user.name}} 
						{{/link-to}}
						<span class="rehauled">reposted</span>
					</div>

					{{#link-to 'seller' product.user.collection }}
					<div class="image">
						{{ make-icon icon=product.user.icon isSmall=true collection=true}}
					</div>
					<div class="name">{{product.user.name}}</div> 

					{{/link-to}}
				</div>
				{{/unless-equal}}

				




				{{!-- THE POST --}}

				<div class="article">



					{{!-- PRODUCT NAME --}}
					<h2>
						{{ product.name }}
					</h2>

					{{!-- TIMESTAMP --}}
					<div class="moment">posted {{format-date updated_at}}</div>
					
					<div class="product-image">


						{{#unless-equal param1=product.user.id param2=collection.user.id}}
							{{#link-to  "seller.product" product.user.collection product.id product.slug}}
							<button class="btn btn-default btn-original-post">
								original<br/>post
								<span class="glyphicon glyphicon-chevron-right"></span>
							</button>
							{{/link-to}}
						{{/unless-equal}}


						{{!-- BUTTONS --}}
					 	<div class="btn-wrapper">

						 	{{like-btn product=product class="display-inline" }}
						 	
						 	{{comment-btn itemObject=this class="display-inline" }}
						 	
						 	{{re-post post=product  class="display-inline" }}

						</div>
						<img class="img-responsive" {{bind-attr src=product.image.medium}}/>
					</div>

					{{!-- POSTER --}}
					<div class="citation no-top-margin">
						{{#link-to 'seller' collection }}
						<div class="image">
							{{ make-icon icon=collection.user.icon isSmall=true}}
						</div>
						<div class="name">{{collection.user.name}} says</div>
						{{/link-to}}
					</div>

					{{!-- EDITORIAL --}}
					<div class="editorial">
						{{break-lines editorial}}
					</div>

					{{comment-section itemObject=product contextObject=collection  class="display-inline" }}
				
				</div>	
			</div> 
		</div> 







		{{!-- SELLER --}}
		<div class="col-md-4 col-sm-4 col-xs-12">

			<h5 class="sidebar-header">The Seller</h5>
			<div class="sidebar">


				<div class="seller">
					
					

					{{#link-to 'seller' product.user.collection}}
						{{ make-icon icon=product.user.icon isSmall=true isCollection=true}}
					{{/link-to}}

					<div class="info-block">
						<h1>{{product.user.collection.name}}</h1>
						<div class="username">@{{product.user.name}}</div> 
					</div>
		

					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">

							{{!-- IMAGES --}}
							<div class="product-image">
								{{#if product.images}}
									{{image-carousel content=product.images}}
								{{/if}}
							</div>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-6">

							<div class="price">
								${{product.price}}
							</div>

							<button class="btn btn-default btn-buy">
								buy
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">	
							<div class="name">
								{{#link-to "seller.product" product.user.collection product.id product.slug}}{{product.name}}{{/link-to}}
							</div> 
							{{ break-lines product.description }}
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-1 col-sm-1 col-xs-12"></div>
	</div>
</div>