<div class="haul-container">

	<div class="row padding-top">
		<div class="col-md-6 col-sm-6 col-xs-6 vcenter">
		{{#if model.name }}
			<h4>Edit Your Store</h4>
		{{else}}
			<h4>Create Your Store</h4>
		{{/if}}
		</div>
	</div>


	{{#form-for model wrapper="bs3-wrapper"}}
		<div class="row">
			<div class="col-md-12"> 	
				<div class="row">
					<div class="col-md-8 col-sm-8 col-xs-12"> 
						<label>Name:</label>
						{{input name canShowValidationError=showErrors placeholder="Pick a cool name!"}} 
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-sm-8 col-xs-12"> 
						<label>Description: (max 500)</label>
						{{input description as="text" canShowValidationError=showErrors placeholder="What makes your store special?"}}
					</div> 
				</div>

				<div class="row">
					<div class="col-md-8 col-sm-8 col-xs-12">

					{{#if errorShow }}
						{{bs-alert message=errorMessage type="danger"}}
					{{/if}}

					</div>
				</div>

				<div class="row">
					<div class="col-md-8 col-sm-8 col-xs-12 text-right">
					
					{{#link-to 'base'}}<button class="btn btn-default">Cancel</button>{{/link-to}}

					{{ladda-btn
						name='Save'
						class="display-inline"
						btnClasses='btn btn-primary ladda-button'
						btnClick='submit'
						spin=isProcessing
					}}
					</div>
				</div>
			</div>
		</div>
	{{/form-for}}
</div>