



{{!-- STORE TEMPLATE --}}


<div class="container-fluid content-fixed-nav padding-bottom">
	<div class="row">
		<div class="col-md-12">
	    	{{ profile-market market=market }}
		</div>
	</div>
</div>	


{{!-- Empty Store --}}

{{#if isMarketOwner }}
{{#unless marketHasProducts}} 
<div class="container">
	<div class="jumbotron"> 
			
							
		<h2>Your store is empty.</h2>

		<p>You can place any items in your store. Even things from other sellers.  If the product sells from your store, you earn a commission. <small>Psst... learn more from our <a>FAQ</a></small></p>

		<p>Pick great products!</p>

					 
	</div>
</div>


<div class="container">

	{{!-- CREATE ITEM --}}

	<div class="haul-grid-li">	
		<div class="sell"> 
			{{#link-to 'seller.new-product' currentUser.slug }}
			<div class="sell-button text-center">
				<div class="sell-text text-center haul-font">
					<div class="glyphicon glyphicon-plus-sign"></div><br/>
					Create an Item
				</div>
			</div>
			{{/link-to}}
		</div>
	</div>

	{{!-- If Market Owner Already Has Items --}}
	{{#if marketOwnerHasProducts}}
	<div class="haul-grid-li">	
		<div class="sell"> 
			{{#link-to 'seller' currentUser.slug }}
			<div class="sell-button text-center">
				<div class="sell-text text-center haul-font">
					You Have Items,<br/>
					Add Them To Your Store?
				</div>
			</div>
			{{/link-to}}
		</div>
	</div>
	{{/if}}
 	

	<div class="clearfix"></div>

	{{!-- BROWSE POPULAR STORES & ITEMS --}}


	{{#each fakeProducts}}
	<div class="haul-grid-li"> 
		<img class="thumbnail" {{bind-attr src=image}}>
		
		<div class="info">		
	 	  	<div class="price"> $200</div>   
		</div>		
 	</div>
 	{{/each}}

</div>

{{/unless}}
{{/if}}



{{!-- STORE PRODUCTS --}}

 
<div class="container">

    {{#each content}}
    
    	{{#link-to 'market-product' this.product_id }}
    	<div class="haul-grid-li"> 

				<img class="thumbnail" {{bind-attr src=image.small}}>

				{{#if sold}}
					<div class="sold">Sold</div>
				{{/if}}
				
				<div class="info">		
			 	  	<div class="price"> ${{price}}</div>   
				</div>

				{{!-- {{editorial}} --}}
			
	 	</div>
	 	{{/link-to}}	
    
	{{/each}}
	
</div> 



