
{{!-- STORE TEMPLATE --}}


<div class="container-fluid padding-bottom padding-top">
	<div class="row">
		<div class="col-md-12">
	    	<div class="row">
		    	<div class="col-md-9 col-sm-9 col-xs-12 haul-profile-header haul-font">

					<div class="media">

					{{#link-to "seller" user class="pull-left"}}
					  	<div class="profile-circular-mask">
					  	{{#if user.picture}}
					    	<img {{bind-attr src=user.picture}}> 
					    {{/if}}
					    </div>
					 {{/link-to}}

					  <div class="media-body">
					     	<h1 class="media-heading">{{market.name}}</h1>
					     	<h5>{{#link-to "seller" market.user}}by {{market.user.name}}{{/link-to}}</h5>
	    					<div>
	    						<button class="btn btn-primary">follow</button>
	    						<button class="btn btn-default">
	    							<span class="glyphicon glyphicon-envelope"></span>
	    						</button>
	    						<div><span class="medium">175 Followers - Following 15</span></div>
	    					</div>
					  </div>
					</div> 
		    	</div> 
		    </div>
		</div>
	</div>
</div>	




{{!-- STORE PRODUCTS --}}

 
<div class="container">

    {{#each market.products}}
    
    	{{#link-to 'product' this }}
    	<div class="haul-grid-li"> 

				<img class="thumbnail" {{bind-attr src=image.small}}>

				{{#if sold}}
					<div class="sold">Sold</div>
				{{/if}}
				
				<div class="info">		
			 	  	<div class="price"> ${{price}}</div>   
				</div>

				{{editorial}}
			
	 	</div>
	 	{{/link-to}}	
	{{/each}}
	
</div> 



