{{#if isFollowingText}}
	{{#if showButton}}
		<button {{action 'btnClick' }} class="btn btn-primary btn-default">{{ btnName }}</button>
		<br/>
	{{/if}}
	<span class="small">{{isFollowedByText}}</span><br/>
	<span class="small">{{isFollowingText}}</span>
{{else}}
	{{#if showButton}}
		<button {{action 'btnClick' }} class="btn btn-primary btn-default">{{ btnName }}</button>
		<br/>
	{{/if}}
	<span class="small">{{isFollowedByText}}</span>
{{/if}}