
<div class="row">
	<div class="col-md-9 col-sm-6 col-xs-6 haul-profile-header haul-font">
		<div class="media">

		{{#link-to "market" market class="pull-left"}}
		  	<div class="profile-circular-mask">
		  	{{#if market.picture}}
		    	<img {{bind-attr src=market.picture}}> 
		    {{/if}}
		    </div>
		{{/link-to}}

		  	<div class="media-body">
		     	<h1 class="media-heading">
		     		{{#link-to "market" market }}{{market.name}}{{/link-to}}
		     	</h1>

		     	<p>{{market.description}}</p>

		     	<h5>{{#link-to "seller" market.user}}by {{market.user.name}}{{/link-to}}</h5>
		  	</div>
		</div> 
	</div> 
	<div class="col-md-3 col-sm-6 col-xs-6">
		{{ follow-btn 
			item=market 
			currentUser = targetObject.currentUser
			targetObject = targetObject
		}} 
	</div>
</div>
