<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 haul-font">
		<div class="media">

			{{#link-to "market" market class="pull-left"}}
			  	<div class="profile-circular-mask">
			  	{{#if market.picture}}
			    	<img {{bind-attr src=market.picture}}> 
			    {{ else }}
			    	{{#if isMarketOwner }}
			    		<span>edit</span>
			    	{{/if}}
			    {{/if}}
			    </div>
			{{/link-to}}

		  	<div class="haul-media-left"> 
		     	<h1 class="media-heading">
		     		{{#link-to "market" market }}{{market.name}}{{/link-to}}
		     	</h1>

		     	{{ truncate-text text=market.description }}

		     	<h5>{{#link-to "seller" market.user}}by {{market.user.name}}{{/link-to}}</h5>
			</div>

			<div class="haul-media-left-end">
				{{ follow-btn 
					item=market 
					currentUser = targetObject.currentUser
					targetObject = targetObject
				}} 
		  	</div> 

		</diV> 
	</div>  
</div>
