<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 haul-font">
		<div class="media">
			<div class="box-rigid text-center box-soft">
				
			  	<div class="profile-circular-mask text-center">
			  	{{#if market.image}}
				    {{#link-to "market" market class="pull-left"}}<img {{bind-attr src=market.image.thumb }}>{{/link-to}}
			    {{ else }}
			    	{{#if isMarketOwner }}
			    		{{#link-to "market.edit" market class="pull-left"}}<span>add <br/>a logo</span>{{/link-to}}
			    	{{/if}}
			    {{/if}}
			    </div>

			
				{{ follow-btn 
					item=market 
					currentUser = targetObject.currentUser
					targetObject = targetObject
				}} 
				
			</div>

			<div class="media-body">
			  	
		     	<h1 class="media-heading">
		     		{{#link-to "market" market }}{{market.name}}{{/link-to}}
		     	</h1>

		     	{{ truncate-text text=market.description }}

		     	<h5>{{#link-to "seller" market.user}}by {{market.user.name}}{{/link-to}}</h5>

			</div> 
		</div>
	</div>  
</div>
