<div class="seller-nav haul-font">
	<div class="container content-fixed-nav">

		{{!-- MINIFIED --}}
		<div {{bind-attr class="editMode:show:hide :row"}}>
			{{ make-icon icon=user.icon isSmall=true class="pull-left" }}
			<h3>{{#link-to "seller" user }}{{user.name}}{{/link-to}}</h3>
		</div>



		{{!-- MAXIMIZED --}}
		<div {{bind-attr class="editMode:hide:show :row"}}>
			<div class="col-md-12 col-sm-12 col-xs-12">
				   	
				{{ make-icon icon=user.icon isSmall=false class="pull-left" }}
				 	
		     	<h1>{{#link-to "seller" user }}{{user.name}}{{/link-to}}</h1>
				<div>
					{{ follow-btn 
						item=user 
						ref_type="user"
						currentUser = currentUser  
						targetObject=targetObject
					}} 
				</div> 
			
			</div>
		</div>
	</div>
</div>	