<div class="container content-fixed-nav seller-nav">

	<div {{bind-attr class="editMode:hide:show :row"}}>
		<div class="col-md-12 col-sm-12 col-xs-12">
			   	
			{{ make-icon icon=user.icon isSmall=false class="pull-left" }}
			 	
	     	<h1>{{#link-to "seller" user }}{{user.name}}{{/link-to}}</h1>
			<div>
				{{ follow-btn 
					item=user 
					ref_type="user"
					currentUser = currentUser 
				}} 
			</div> 
				 
		</div>
	</div>


	{{!-- BUTTON  --}}
	{{#if isProfileOwner }}
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 text-center padding-top">

		
		<div class="btn-group" role="group">	
			<button type="button" {{bind-attr class="pageCollections:selected :btn :btn-default :btn-responsive :haul-font"}}>
				{{#link-to "seller" user }}
					<span class="glyphicon glyphicon-chevron-left"></span>
					Collections
				{{/link-to}}
			</button>

			<button type="button" {{bind-attr class="pageCreateCollections:selected :btn :btn-default :btn-responsive :haul-font"}}>
				{{#link-to 'seller.new-collection' currentUser.slug }}
					<span class="glyphicon glyphicon-plus-sign"></span>
				{{/link-to}} 
			</button>
		</div>


		<div class="btn-group" role="group">
			<button {{bind-attr class="pageCreateItems:selected :btn :btn-default :btn-responsive :haul-font"}}>
				{{#link-to 'seller.new-product' currentUser.slug }}	
				<span class="glyphicon glyphicon-camera"></span>
				{{/link-to}}
			</button>
			
		 
			
			<button {{bind-attr class="pageItems:selected :btn :btn-default :btn-responsive :haul-font"}}>
				{{#link-to 'seller.products' currentUser.slug }}
				My Items
				<span class="glyphicon glyphicon-chevron-right"></span>
				{{/link-to}}
			</button>
		</div>
			
		  
		</div>
	</div> 
	{{/if}}
</div>	