{{!-- BUTTON --}}

{{#if marketPage}}
	{{#if editMode}}
		<button {{action 'curate'}} class="btn btn-primary" {{bs-bind-tooltip content="Edit Product"}}>Edit</button> 
	{{/if}}
{{/if}}


{{#if productPage }}
	
	{{#if addMode}}
		<button {{action 'curate'}} class="btn btn-default btn-responsive haul-font" 
			{{bs-bind-tooltip content="Haul it! Add to your store"}}>
		Haul
		<span class="glyphicon glyphicon-plus"></span>
		</button>
	{{/if}}
	
	{{#if editMode}}
		{{#link-to 'market' model.market.id }}
		<button class="btn btn-default btn-responsive  haul-font"
			{{bs-bind-tooltip content="This is in your store"}}>
			Hauled
			<span class="glyphicon glyphicon-plus"></span>
		</button>{{/link-to}}
	{{/if}}

	{{#if createStoreMode}}
		{{#link-to 'seller.new-market' currentUser.user.slug}}
		<button class="btn btn-default btn-responsive  haul-font" 
			{{bs-bind-tooltip content="Haul it! Add to your store"}}>
		Haul
		<span class="glyphicon glyphicon-plus"></span>
		</button>{{/link-to}}
	{{/if}}
{{/if}}





{{!-- MODAL --}}

<div id="curateModal" class="modal modal fade in danger text-left" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="mySmallModalLabel">
					Feature this item in {{currentUser.user.market.market_name}}
				</h4>
			</div>

			<div class="modal-body"> 

				{{!-- EDIT FORM --}}

				<div {{bind-attr class="showForm:show:hide"}}>
					<div class="row">
						<div class="col-md-6 col-sm-12 col-xs-12 text-center">
						 	<img class="thumbnail center" {{bind-attr src=productImage}}>
						</div>

						<div class="col-md-6 col-sm-12 col-xs-12">

							{{#form-for model wrapper="bs3-wrapper"}}
							
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12"> 
									<h3>{{ model.product.name }}</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12"> 
									<label>Tell everyone what's so awesome about this.</label>
									{{input editorial as="text" canShowValidationError=showErrors }}
								</div> 
							</div>
							{{/form-for}}	

						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">

						{{#if errorShow }}
							{{bs-alert message=errorMessage type="danger"}}
						{{/if}}

						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 text-right">

							{{#if editMode}}
								{{ladda-btn
									name='Remove From Store'
									class="display-inline"
									btnClasses='btn btn-danger ladda-button'
									btnClick='delete'
									spin=isProcessingDelete
								}} 
							{{/if}}

							<button {{action 'curateCancel'}} class="btn btn-default">Cancel</button>

							{{ladda-btn
								name='Save'
								class="display-inline"
								btnClasses='btn btn-primary ladda-button'
								btnClick='submit'
								spin=isProcessing
							}} 
						</div>
					</div> 
				</div>


				{{!-- SUCCESS MESSAGE --}}

				<div {{bind-attr class="showSuccessMessage:show:hide"}}>
					<div class="row" {{bind-attr style="styleSuccessMessage:off"}}>
						<div class="col-md-6 col-sm-12 col-xs-12">
						 	<img class="thumbnail" {{bind-attr src=productImage}}> 
						</div>

						<div class="col-md-6 col-sm-12 col-xs-12">

							<h3>Success</h3>

							<p>You added {{ model.product.name}} to your store, {{currentUser.user.market.market_name}}<p>

							<p>Go to {{#link-to 'market' currentUser.user.market.market_id }}<button {{ action "close"}} class="btn btn-default">{{currentUser.user.market.market_name}}</button>{{/link-to}} or <button class="btn btn-default" {{action 'close' }}>close window</button></p>

						</div>
					</div>
				</div>


				{{!-- DELETED MESSAGE --}}

				<div {{bind-attr class="showDeletedMessage:show:hide"}}>
					<div class="row" {{bind-attr style="styleSuccessMessage:off"}}>
						<div class="col-md-6 col-sm-12 col-xs-12">
						 	<img class="thumbnail" {{bind-attr src=productImage}}> 
						</div>

						<div class="col-md-6 col-sm-12 col-xs-12">

							<h3>Removed</h3>

							<p>You  removed {{ model.product.name}} from your store, {{currentUser.user.market.market_name}}<p>

							{{#link-to 'market' currentUser.user.market.market_id }}
							<button {{ action "close"}} class="btn btn-defaul">Close</button>
							{{/link-to}}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
