<div class="text-center">
<ul class="nav nav-tabs">
  <li {{bind-attr class="isCollections:active"}}>{{#link-to 'seller' user }}Collections{{/link-to}}</li>
  <li {{bind-attr class="isProducts:active"}}>{{#link-to 'seller.products' user }}My For Sale{{/link-to}}</li>
  <li {{bind-attr class="isFollows:active"}}>{{#link-to 'seller.follows' user }}Following{{/link-to}}</li>
  <li {{bind-attr class="isFollowers:active"}}>{{#link-to 'seller.followers' user }}Followers{{/link-to}}</li>
  <li {{bind-attr class="isLikes:active"}}>{{#link-to 'seller.likes' user }}Likes{{/link-to}}</li>
</ul> 
</div>