
{{user-header user=user}}

{{!-- PAGE CONTENT --}}
<div class="container-fluid haul-content">   
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">


		{{!-- ALL PRODUCTS FOR THIS USER --}}
		{{!-- SELLER PRODUCTS --}}
		{{#if hasProducts}}
		    {{#each hasProducts}}
			

			<div class="row post">   
				<div class="col-md-2 col-sm-2 col-xs-2">
					
					{{!-- POSTER --}}	
					{{ make-icon icon=user.icon isSmall=true}}


				</div>
				<div class="col-md-10 col-sm-10 col-xs-10"> 

					<h2>
						{{#link-to 'seller.product' this.id }}{{name}}{{/link-to}}
					</h2>

					<div class="moment">1 day ago</div>
					

					{{#link-to 'seller.product' this.id }}
						<div class="price">${{price}}</div>
						<img class="img-responsive thumbnail" {{bind-attr src=image.small}}>
				 	{{/link-to}}

				 	<div class="btn-wrapper">

					 	{{like-btn product=this.id class="display-inline" }}

					 	{{comment-btn product=this.id class="display-inline" }}

						<button class="btn btn-default">
							<span class="glyphicon glyphicon-retweet"></span>
						</button>
					</div>


				</div>
			</div>	

			{{/each}} 
		{{/if}}
		 
		</div> 
		<div class="col-md-6 col-sm-6 col-xs-12">

			{{!-- Side content --}}

		</div>
	</div>
</div>













{{!-- 	{{#unless isProfileOwner}}
	{{#unless hasProducts }}
	{{#unless hasCollections }}
		<p class="padding-top text-center font-weak">{{user.name}} has no posts.</p>
	{{/unless}}
	{{/unless}}
	{{/unless}}


	
	{{#if isProfileOwner}}
	{{#unless hasCollections }}
		{{#unless hasProducts }} 
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12  text-center">
			<h3>Welcome to Haul. Let's get started!</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12  text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						
						{{#link-to 'product-new'}}
						<h3>
							<span class="glyphicon glyphicon-camera"></span><br/>
							Sell Something
						</h3>
						{{/link-to}} 
					</div>
				</div>
			</div>	
		</div>
		{{/unless}}
	{{/unless}}
	{{/if}} --}}
		 
