
{{user-header model=model}}

{{!-- PAGE CONTENT --}}
<div class="container-fluid haul-content">   
	<div class="row">
		<div class="col-md-6 col-sm-8 col-xs-12">


		{{#each model.products}}
			

			<div class="row post">   
				<div class="col-md-12 col-sm-12 col-xs-12"> 

					<div class="citation">

						<span class="glyphicon glyphicon-retweet"></span>
						<div class="name">{{collection.user.name}} <span class="rehauled">rehauled</span></div>

						
						{{#link-to 'seller.product' this.id }}
						<div class="image">
							{{ make-icon icon=product.user.icon isSmall=true}}
						</div>
						<div class="name">{{product.user.name}}</div>
						{{/link-to}}
						
					</div>

					<div class="article">
						<h2>
							{{#link-to 'seller.product' this.id }}{{name}}{{/link-to}}
						</h2>

						<div class="moment">1 day ago</div>
						

						{{#link-to 'seller.product' this.id }}
						<div class="image">
							<div class="price">${{product.price}}</div>
							<img class="img-responsive thumbnail" {{bind-attr src=product.image.small}}>
						</div>
					 	{{/link-to}}

					 	<div class="btn-wrapper">

					 		<button class="btn btn-default">
								buy
							</button>

						 	{{like-btn product=product.id class="display-inline" }}

						 	{{comment-btn product=product.id class="display-inline" }}

							<button class="btn btn-default">
								<span class="glyphicon glyphicon-retweet"></span>
							</button>

							<button class="btn btn-default">
								<span class="glyphicon glyphicon-arrow-right"></span>
							</button>
						</div>
					</div>

				</div>
			</div>	

		{{/each}} 
		 
		</div> 
		<div class="col-md-6 col-sm-4 col-xs-12">

			{{!-- Side content --}}

		</div>
	</div>
</div>













{{#unless isProfileOwner}}
	{{#unless hasProducts }}
	{{#unless hasCollections }}
		<p class="padding-top text-center font-weak">{{user.name}} has no posts.</p>
	{{/unless}}
	{{/unless}}
	{{/unless}}


	
	{{#if isProfileOwner}}
	{{#unless hasCollections }}
		{{#unless hasProducts }} 
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12  text-center">
				
				<h3>Welcome to Haul.<br/><small>Let's get started!</small></h3>		
				
				{{#link-to 'product-new'}}
				<button class="btn btn-default">
					<span class="glyphicon glyphicon-camera"></span><br/>
					Post Something For Sale
				</button>
				{{/link-to}} 
		
			</div>	
		</div>
		{{/unless}}
	{{/unless}}
	{{/if}}  
		 
