
{{!-- HAUL TOOLBAR --}}
<div class="toolbar">
	<div class="text-right">

		<span {{bind-attr class=":collapse showImagePicker:in:out"}}>

			{{#link-to 'seller.products' currentUser.slug}}<button class="btn btn-default">Cancel</button>{{/link-to}}

			<button {{bind-attr class=":btn :btn-primary imagesAreSelected:enabled:disabled"}} {{action "clickNext"}}>Next Step<span class="glyphicon glyphicon-chevron-right"></span></button> 
		</span>

		<span {{bind-attr class=":collapse showImagePicker:out:in"}}>
			<button {{action "clickPrev"}} class="btn btn-primary"><span class="glyphicon 	glyphicon-picture"></span> Change Images</button>
				
			{{#if productExists }}
				{{#link-to 'product' product.id}}<button class="btn btn-default">Cancel</button>{{/link-to}}

				{{ladda-btn
					name='Save'
					class="display-inline"
					btnClasses='btn btn-primary ladda-button'
					btnClick='submit'
					spin=isProcessing
				}}
			{{ else }}
				{{ladda-btn
					name='Create'
					class="display-inline"
					btnClasses='btn btn-primary ladda-button'
					btnClick='submit'
					spin=isProcessing
				}}
			{{/if}}
		</span>
	</div>
</div>



<div class="container content-fixed-nav">


	{{!-- IMAGE PICKER: --}}

	<div id="stepOne" {{bind-attr class=":collapse showImagePicker:in:out"}}>
		<div class="row padding-top">
			<div class="col-md-6 col-sm-6 col-xs-6 vcenter">
				<h4>Start With Photos</h4>
				<small>Each item can have up to 5 photos</small>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 text-right vcenter">
				
			</div>
		</div>

		{{image-picker 
			images=controller.content
			user_id=currentUser.id
			user_token=currentUser.access_token
			refresh='refresh'
			imageClick='imageClick' 
			imageDeleted='imageDeleted'
		}}

	</div>



	{{!-- PRODUCT FORM --}}



	<div id="stepTwo" {{bind-attr class=":collapse showImagePicker:out:in"}}>
		
		<div class="row padding-top">
			<div class="col-md-12 col-sm-12 col-xs-12"> 
				<div class="row">
 					<div class="col-md-6 col-sm-6 col-xs-6 vcenter">
						{{!-- REORDER IMAGES --}} 
						<h4>Drag images to sort</h4>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 text-right vcenter">
						
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12"> 
						{{view Haul.JQuerySortableView contentBinding="selectedImages"}}	
					</div>
				</div>
			</div>
		</div>


		{{#form-for product wrapper="bs3-wrapper"}}
		<div class="row">
			<div class="col-md-12"> 	
				<div class="row">
					<div class="col-md-8 col-sm-8 col-xs-12"> 
						<label>Name:</label>
						{{input name canShowValidationError=showErrors}} 
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-sm-8 col-xs-12"> 
						<label>Description: (max 2000)</label>
						{{input description as="text" canShowValidationError=showErrors }}
					</div> 
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12"> 
						{{#input price}}
						{{label-field price}}
						<div class="input-group">
							<span class="input-group-addon">$</span>
						  	{{input-field price class="form-control input-sm" canShowValidationError=showErrors}}
						  	<br/>
						</div>
						{{error-field price}}
						{{/input}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12"> 
						<label>Quantity:</label>
						{{input quantity class="input-xs" canShowValidationError=showErrors}}
	 				</div>
				</div>
			</div>
		</div>
		{{/form-for}}



		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">

			{{#if errorShow }}
				{{bs-alert message=errorMessage type="danger"}}
			{{/if}}

			</div>
		</div>
		<div class="row padding-bottom">
			<div class="col-md-12 col-sm-12 col-xs-12 verical-align text-right">

			


				
			</div>
		</div> 

	</div>
</div>
