<div class="seller-nav haul-font">
	<div class="content-fixed-nav text-center">
     	<h2>
     		<strong>
     			{{#link-to "seller.products" model.user}}Just My Items{{/link-to}}
     		</strong> 
     	</h2>
	     <small>{{#link-to "seller" model.user}}by {{model.user.name}}{{/link-to}}</small>
	</div>	
</div>	


<div class="toolbar haul-font">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">	

				{{#link-to 'seller.products' model.user}}
				<button class="btn btn-default ">
					<span class="glyphicon glyphicon-chevron-left"></span>
					Back To Collection
				</button>
				{{/link-to}}

				{{#if isProfileOwner}}
				<div class="pull-right">
					<button {{action 'delete'}}  {{bs-bind-tooltip content="Delete your item"}} class="btn btn-danger">
						Delete
					</button>
					{{#link-to 'product.edit' this}}
						<button class="btn btn-default"  {{bs-bind-tooltip content="Edit your item"}}>
							Edit
						</button>
					{{/link-to}}
				</div>
				{{/if}}
			
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row padding-top"> 

		{{!-- Collection Info --}}
		<div class="col-md-6 col-sm-12 col-xs-12 vcenter text-center ">
			{{collection-btn 
				class="display-inline"
				currentUser=currentUser 
				product=model
			}}
			<p>For other people to see this item, add it to a collection</p>

{{!-- 			BOOOOM {{collections.id}}
			<ul>
			{{#each collections.collections }}
				<li>.{{ name }}</li>
			{{/each}}
			</ul> --}}


		</div>

		{{!-- Images  --}}
		<div class="col-md-6 col-sm-12 col-xs-12">
			{{#if model.images}}
				{{view Haul.CarouselView contentBinding="model.images"}}
			{{/if}} 
		</div>


 	</div>


 	<div class="row padding-top padding-bottom"> 
 		{{!-- DETAILS --}}
 		<div class="col-md-6 col-sm-12 col-xs-12">
			{{ product-details seller=model.user product=model }}
		</div>
	</div>



</div>

<div id="deleteModal" class="modal fade bs-example-modal-sm in danger" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="mySmallModalLabel">Delete?<br/>This cannot be undone</h4>
		</div>
		<div class="modal-body"> 
			<p class="text-center">
				<button {{action 'deleteCancel'}} class="btn btn-default">Cancel</button>
				<button {{action 'deleteProceed'}} class="btn btn-danger">Yes, Delete</button>
			</p>
		</div>
		</div>
	</div>
</div>

















