
{{!-- HAUL TOOLBAR --}}
<div class="toolbar">
	<div class="text-right">
		
		{{#if currentUser }}
			{{product-to-market 
				class="display-inline" 
				currentUser=currentUser 
				product=model
			}}
		{{/if}}

		{{#if isProfileOwner}}
			{{#link-to 'product.edit' this}}<button class="btn btn-default">Edit</button>{{/link-to}}
			<button {{action 'delete'}} class="btn btn-danger">Delete</button>
		{{/if}}

	</div>
</div>



<div class="container content-fixed-nav">
	<div class="row">
		<div class="col-md-6 padding-bottom">
	    	{{ profile-seller user=user }}
		</div>
	</div>

	
	<div class="row">

		{{!-- Images  --}}

		<div class="col-md-6 col-sm-12 col-xs-12">
			{{#if model.images}}
				{{view Haul.CarouselView contentBinding="model.images"}}
			{{/if}} 
		</div>

		{{!-- Product Info --}}

		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-md-12 haul-buy-card">
					
					{{!-- BUTTONS  --}}

					<div class="row button-bar"> 
							<div class="col-md-6 col-sm-6 col-xs-6">
								<span class="lead haul-price">${{ price }}</span>
								<button type="button" class="btn btn-primary btn-lg">BUY</button>
							</div>

							<div class="col-md-6 col-sm-6 col-xs-6 text-right">
							<span class="btn-group ">
								<button type="button" class="btn btn-default btn-sm" {{ action 'likeProduct'}} {{bs-bind-tooltip content="Like This!"}}>
								  13 <span class="glyphicon glyphicon-heart"></span>
								</button>	

								<button type="button" class="btn btn-default btn-sm" {{bs-bind-tooltip content="Comment on This!"}}>
									4 <span class="glyphicon glyphicon-comment"></span>
								</button>

								<button type="button" class="btn btn-default btn-sm" { action 'shareProduct'}} {{bs-bind-tooltip content="Share This!"}}>
								  &nbsp;<span class="glyphicon glyphicon-share"></span>
								</button>
								</span>
							</div>
					</div>

					{{!-- PRODUCT INFO --}}

					<div class="row">
						<div class="col-md-4">
							{{ seller-info seller=user}}
	    				</div>
		    			<div class="col-md-8">
    						<h4>{{name}}</h4> 
    						{{ breaklines description }}
						</div>
					</div> 
				</div>

 

				{{!-- COMMENTS --}}
				<div class="col-md-12 haul-buy-card">
					<div class="row">
						<div class="col-md-12">
						<h4>Comments</h4>

						{{textarea value=message name="message" cols="80" rows="3" class="form-control"}}
							<div class="text-right padding-top">
								<button class="btn btn-default">post</button>
							</div>
						</div>
					</div>
				</div>



			</div>
		</div> 
	</div>
</div>

<div id="deleteModal" class="modal fade bs-example-modal-sm in danger" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="mySmallModalLabel">Delete?<br/>This cannot be undone</h4>
		</div>
		<div class="modal-body"> 
			<p class="text-center">
				<button {{action 'deleteCancel'}} class="btn btn-default">Cancel</button>
				<button {{action 'deleteProceed'}} class="btn btn-danger">Yes, Delete</button>
			</p>
		</div>
		</div>
	</div>
</div>

















