<div class="container">
	<div class="row">
		<div class="col-md-12">
	    	<div class="row">
		    	<div class="col-md-12 haul-profile-header haul-font">


					<div class="media">
					  <a class="pull-left" href="#"> 
					  	<div class="profile-circular-mask">
					    	<img {{bind-attr src=picture}}> 
					    </div>
					  </a>
					  <div class="media-body">
					     	<h1 class="media-heading">{{name}}</h1>
	    					<h3>
	    						<button class="btn btn-primary">follow</button>
	    						<span class="label">175 Followers - Following 15</span>
	    					</h3>
	    					
					  </div>
					</div> 


		    	</div>
		    </div>
		</div>
	</div>

</div>	


	<div class="haul-grid">
		<ul>      
	    {{#each products}}
	    	{{#link-to 'product' this class=""}}
	    	<li> 
				<div class="product-wrapper">
			   
				    <div class="photo-wrapper">
						
						<img {{bind-attr src=firstImage.content}}>

						{{#if sold}}
							<div class="sold">Sold</div>
						{{/if}}
						
						<div class="info">		
					 	 	<div class="title"> {{title}}
					 	 		<div class="price"> ${{price}}</div>  
					 	 	</div>
						</div>

					</div>
				</div>
		 	</li>
		 	{{/link-to}}	
		{{/each}}
		</ul>
	</div> 

