<div class="container">
	<div class="row">
		<div class="col-md-12">
	    	<div class="row">
		    	<div class="col-md-12 haul-profile-header haul-font">

					<div class="media">
					{{#link-to "products" this class="pull-left"}}
					  
					  	<div class="profile-circular-mask">
					  	{{#if picture}}
					    	<img {{bind-attr src=picture}}> 
					    {{else}}

					    {{/if}}
					    </div>
					 {{/link-to}}
					  <div class="media-body">
					     	<h1 class="media-heading">{{name}}</h1>
	    					<h3>
	    						<button class="btn btn-primary">follow</button>
	    						<span class="label">175 Followers - Following 15</span>
	    					</h3>
					  </div>
					</div> 

		    	</div>
		    </div>
		</div>
	</div>
</div>	




{{#if content.products}}
{{else}}
<div class="container">
	<div class="haul-container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3>{{name}} has nothing to sell yet.</h3>
				{{#if isProfileOwner }}
				<h2>
					{{#link-to 'products.new' currentUser.slug }}<button class="btn btn-primary">Sell Something</button>{{/link-to}}
				</h2>
				{{/if}}
			</div>
		</div>
	</div>
</div>
{{/if}}
 
<div class="haul-grid">
	
    {{#each products}}
    	{{#link-to 'product' this }}
    	<div class="haul-grid-li"> 
	   		<div class="dummy"></div>
		    <div class="photo-wrapper">
				
				<img class="thumbnail" {{bind-attr src=image.medium}}>

				{{#if sold}}
					<div class="sold">Sold</div>
				{{/if}}
				
				<div class="info">		
			 	 	<div class="title"> {{title}}
			 	 		<div class="price"> ${{price}}</div>  
			 	 	</div>
				</div>
			</div>
	 	</div>
	 	{{/link-to}}	
	{{/each}}
	
</div> 



