{{#modal-modal animateClose=animateClose closeModal='closeModal'}}
<div {{bind-attr class=":modal-dialog showSuccess:sm:lg :text-left"}}>
	<div class="modal-content">
		<div class="modal-header">
			<button {{action 'closeModal'}} type="button" class="close btn-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h1 class="modal-title" id="myModalLabel">
				<span class="glyphicon glyphicon-edit"></span> Edit Your Post
			</h1>
		</div>



		{{#form-for model }}
		<div class="container-fluid haul-edit">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-10"> 

					{{!-- //POST --}}
					{{partial "_edit_post"}}

				</div>
				<div class="col-md-4 col-sm-4 col-xs-2"> 

					{{!-- //PRODUCT --}}
					{{partial "_edit_product"}}
				</div>
			</div>
				
			{{!-- Toolbar --}}
			{{!-- Toolbar --}}
			{{!-- Toolbar --}}
			{{!-- Toolbar --}} 
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-10 footer"> 

					<button {{action 'showDeleteModal'}} class="btn btn-danger btn-left">
						<span class="glyphicon glyphicon-trash"></span>
						delete
					</button>
					
					{{ladda-btn
						name='save post'
						class="display-inline"
						btnClasses='btn btn-primary btn-right ladda-button'
						btnClick='savePost'
						spin=isProcessing
					}}


					<button {{action 'closeModal'}} class="btn btn-default btn-right">
						cancel
					</button>

				</div> 
				<div class="col-md-4 col-sm-4 col-xs-2"></div>
			</div> 
		</div>
		{{/form-for}} 



		{{!-- //DELETE POST MODAL --}}
		<div {{bind-attr class=":modal animateDeleteModal:in:out showDeleteModal:show:hide"}}>
			<div class="modal-dialog sm text-left haul-edit">
				<div class="modal-content">
					<div class="modal-header">
						<button {{action 'closeDeleteModal'}} type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">
							Delete This Post?
							<small>This cannot be undone.</small>
						</h4>
					</div>
					<div class="modal-body">
						<button {{action 'closeDeleteModal'}} class="btn btn-warning">Cancel</button>
						{{ladda-btn
							name='Delete Post'
							class="display-inline"
							btnClasses='btn btn-danger ladda-button'
							btnClick='deletePost'
							spin=isProcessingDelete
						}}
					</div>
				</div>
		  	</div>
		</div>

	</div>
</div>
{{/modal-modal}}