
{{what-page currentPage=currentPage page=thisPage}}

{{#form-for model wrapper="bs3-wrapper"}}
<div class="container-fluid haul-edit">
	<div class="row">
		

		{{!-- //POST --}}
		<div class="col-md-8 col-sm-8 col-xs-10"> 
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12"> 
					<h4 class="text-center">A Catchy Title</h4>
					{{input subject canShowValidationError=showErrors}} 
				</div>
			</div>	

			<h4 class="text-center">
				Tell everyone about it
				<small>
					<br/>Don't forget to add #hashtags.  You can even drag photos into your post.
				</small>
			</h4>
			<div class="text-center">
				<div class="gallery"> 				
					{{#each selectedImages}}
						<img {{bind-attr src=small}}/>
					{{/each}}
				</div>
			</div>
			{{quill-editor content=editorialForQuill  quillChange='quillChange' Haul=Haul}}
			{{#if showErrors}}<span class="has-error help-block">{{error-field body}}</span>{{/if}}			
		</div>


		{{!-- //PRODUCT --}}
		{{partial "_sidebar_forsale"}}

	</div>

	<div class="row">
		<div {{bind-attr class=":col-md-12 :col-sm-12 :col-xs-12 :toolbar-footer"}}>	

			<button {{action 'showDeleteModal'}} class="btn btn-danger btn-left">
				<span class="glyphicon glyphicon-trash"></span>
				delete
			</button>


			<button {{action 'cancel'}} class="btn btn-default">
				cancel
			</button>
			
			{{ladda-btn
				name='post'
				class="display-inline"
				btnClasses='btn btn-primary  ladda-button'
				btnClick='savePost'
				spin=isProcessing
			}}

		</div> 
	</div>
</div>
{{/form-for}} 
 
{{!-- 

<div {{bind-attr class=":modal animateImageModal:in:out showImageModal:show:hide"}}>
	<div class="modal-dialog text-left haul-edit">
		<div class="modal-content">
			<div class="modal-header">
				<button {{action 'closeImageModal'}} type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">
					Upload, Reorder and Remove Photos
				</h4>
			</div>
		<div class="modal-body">

			{{#image-picker  
				images=userImages
				selectedImages=selectedImages
				refresh='refresh'
				imageClick='imageClick' 
				imageDeleted='imageDeleted'
				Haul=Haul
				doNotAnimate='true'
			}}
				{{view 'sortable' content=selectedImages}}
			{{/image-picker}}

      </div>
      <div class="modal-footer">


      	<div {{bind-attr class="postComplete:hide:show"}}>

      			<h4 class="pull-left">
					
					<small>Drag to reorder the images</small>
				</h4>


	        <button {{action 'closeImageModal'}} type="button" class="btn btn-default" data-dismiss="modal">done</button> 
		</div>

      </div>
    </div>
  </div>
</div> --}}






















<div {{bind-attr class=":modal animateDeleteModal:in:out showDeleteModal:show:hide"}}>
	<div class="modal-dialog sm text-left haul-edit">
		<div class="modal-content">
			<div class="modal-header">
				<button {{action 'closeDeleteModal'}} type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">
					Delete This Post?
					<small>This cannot be undone.</small>
				</h4>
			</div>
			<div class="modal-body">
				<button {{action 'closeDeleteModal'}} class="btn btn-warning">Cancel</button>
				{{ladda-btn
					name='Delete Post'
					class="display-inline"
					btnClasses='btn btn-danger ladda-button'
					btnClick='deletePost'
					spin=isProcessingDelete
				}}
			</div>
		</div>
  	</div>
</div>

