
{{what-page currentPage=currentPage page=thisPage}}

{{#form-for model wrapper="bs3-wrapper"}}
<div class="container-fluid haul-edit">
	<div class="row">
		


		<div class="col-md-8 col-sm-8 col-xs-10"> 

			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12"> 
					<label>Post Title</label>
					{{input subject canShowValidationError=showErrors}} 
				</div>
			</div>	

			{{quill-editor content=editorialForQuill  quillChange='quillChange'}}
			{{#if showErrors}}<span class="has-error help-block">{{error-field body}}</span>{{/if}}			
		</div>






		<div class="col-md-4 col-sm-4 col-xs-2">
			<div {{bind-attr class=":drawer openDrawer:open"}}>
				

				<button {{action 'btnDrawer'}} class="btn btn-default btn-left btn-drawer">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</button>

				<div {{bind-attr class=":drawer-content openDrawer:open"}}>
				 
					<label>Drag photos into your post</label><br/>
					
					<div class="gallery"> 				
						{{#each selectedImages}}
							<img {{bind-attr src=small}}/>
						{{/each}}
					</div>

					{{#if canEditProduct}}

						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12 text-center">  
								<button {{action 'showImageModal'}} class="btn btn-default">
									<span class="glyphicon glyphicon-picture"></span> edit photos
								</button>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">  
								<label>Item Name</label>
								{{input product_name placeholder="Item name" canShowValidationError=showErrors}} 
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">  
								<label>Item Description</label>
								{{input product_description placeholder="Gives us the details. Size, color, condition, etc." as="text" canShowValidationError=showErrors }}
							</div> 
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-6"> 

								<label>Quantity</label>
								{{input product_quantity class="input-xs" placeholder="quantity" canShowValidationError=showErrors}}
							</div>

							<div class="col-md-6 col-sm-6 col-xs-6"> 
								<label>Status:</label>
									{{view "select"
								       content = product_status_options.status
								       optionLabelPath = "content.name"
								       optionValuePath = "content.id"
								       selection = product_status_options.selectedStatus
								       class = "form-control"
								    }}
								    {{#if showErrors}}<span class="has-error help-block">{{error-field product_status}}</span>{{/if}}
					 		</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12"> 
								<label>Price</label>
								{{#input product_price}}
								<div class="input-group">
									<span class="input-group-addon">$</span>
								  	{{input-field product_price class="form-control input-sm" canShowValidationError=showErrors}}
								  	<br/>
								</div>
								{{#if showErrors}}<span class="has-error help-block">{{error-field product_price}}</span>{{/if}}
								{{/input}}
			 				</div>
						</div>

					{{else}}


						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">  
								<label>The Seller Card</label>
								<span class="profile-badge">
									{{ make-icon icon=product_user.icon isSmall=true }}
									{{#link-to 'profile' user }}{{product_user.username}}{{/link-to}}
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">  
								<label>Item Name</label><br/>
								{{product_name}}
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">  
								<label>Description</label><br/>
								{{sanitize-html product_description "description"}}
							</div> 
						</div>

						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12"> 

								<label>Quantity</label>
								{{product_quantity}}
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12"> 
								<label>Price</label>
								${{product_price}}
			 				</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12"> 
								<label>Status</label>
								{{product_status_options.selectedStatus.name}}
					 		</div>
						</div>
						

			 		{{/if}}

					</div>
				
			</div> 
		</div> 




	</div>

	<div class="row">
		<div {{bind-attr class=":col-md-12 :col-sm-12 :col-xs-12 :toolbar-footer"}}>	

			<button {{action 'showDeleteModal'}} class="btn btn-danger btn-left">
				<span class="glyphicon glyphicon-trash"></span>
				delete
			</button>


			<button {{action 'cancel'}} class="btn btn-default">
				cancel
			</button>
			
			{{ladda-btn
				name='post'
				class="display-inline"
				btnClasses='btn btn-primary  ladda-button'
				btnClick='savePost'
				spin=isProcessing
			}}

		</div> 
	</div>
</div>
{{/form-for}} 
 


<div {{bind-attr class=":modal animateImageModal:in:out showImageModal:show:hide"}}>
	<div class="modal-dialog text-left haul-edit">
		<div class="modal-content">
			<div class="modal-header">
				<button {{action 'closeImageModal'}} type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">
					Edit Images
					<small>Drag to reorder the images</small>
				</h4>
			</div>
		<div class="modal-body">

			{{#image-picker  
				images=userImages
				selectedImages=selectedImages
				refresh='refresh'
				imageClick='imageClick' 
				imageDeleted='imageDeleted'
				Haul=Haul
				doNotAnimate='true'
			}}
				{{view 'sortable' content=selectedImages}}
			{{/image-picker}}

      </div>
      <div class="modal-footer">


      	<div {{bind-attr class="postComplete:hide:show"}}>
	        <button {{action 'closeImageModal'}} type="button" class="btn btn-default" data-dismiss="modal">done</button> 
		</div>

      </div>
    </div>
  </div>
</div>






















<div {{bind-attr class=":modal animateDeleteModal:in:out showDeleteModal:show:hide"}}>
	<div class="modal-dialog text-left haul-edit">
		<div class="modal-content">
			<div class="modal-header">
				<button {{action 'closeDeleteModal'}} type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">
					Delete This Post?
					<small>This cannot be undone.</small>
				</h4>
			</div>
			<div class="modal-body">
				<button {{action 'closeDeleteModal'}} class="btn btn-warning">Cancel</button>
				{{ladda-btn
					name='Delete Post'
					class="display-inline"
					btnClasses='btn btn-danger ladda-button'
					btnClick='deletePost'
					spin=isProcessingDelete
				}}
			</div>
		</div>
  	</div>
</div>

