<div class="container-fluid">

	<div class="haul-wrapper ">

		<div class="haul-content">

			<div class="col-left">
				
				<div class="product-post">
					
					<div class="moment">{{format-date updated_at}}</div>

					<h1 class="subject">{{ subject }}</h1>

	{{!-- //REPOST --}}
	{{#if repost_id}}
	<div class="repost-citations">
		<i class="fa fa-retweet"></i>
		<img class="profile-image" {{bind-attr src=repost_user.icon}}>
		<span class="name">{{repost_user.name}}'s </span>
		<span class="title"> original post
			{{#link-to 'profile.post'
				repost.user.username 
				repost.post_id 
				repost.post_slug}}{{repost.subject}}{{/link-to}}
		</span>
	</div>
	{{/if}}

					<div class="social-buttons">
						<div class="internal-social-buttons">
							{{like-btn post=this openModal='openModal' class="display-inline"}}
							 	
						 	{{comment-btn post=this class="display-inline" }}

						 	{{repost-btn post=this openModal='openModal' class="display-inline"}}

							{{#if isProfileOwner}}
							 	{{#link-to 'profile.post.edit_post' user.username this }}
								<button class="btn btn-default">
									Edit Your Post
								</button>
								{{/link-to}}
							{{/if}}
						</div>

						<div class="external-social-buttons">
							{{social-btns post=this}}
						</div>
					</div>

					{{!-- EDITORIAL --}}
					<div class="editorial">
						{{#unless postHasImage}}
							<img {{bind-attr src=image.large}}/>
						{{/unless}}

						{{sanitizehtml-andtag 
							body 
							"editorial" 
							ENV
						}}
					</div>


					{{comment-section openModal='openModal' post=this anchor=anchor class="display-inline" }}

				</div>

			</div>

			<div class="col-right">
				
				<div class="product-card">
					<div {{bind-attr class=":product-card-cap isForSale::sold"}}>
						{{statusText}}
					</div>



					{{#if isProductOwner }}
						{{#link-to 'profile.post.edit_product' user.username this }}
						<button class="btn btn-default btn-edit">
							Edit Your Product
						</button>
						{{/link-to}}
					{{/if}}

					<h2>{{product_name}}</h2>


					<div class="profile-pod">
						<img class="profile-image" {{bind-attr src=product_user.icon}}>

						<div class="profile-name">
							<span class="name">{{product_user.name}}</span>
							<span class="username">@{{product_user.username}}</span>
						</div>
					</div>

					<div class="price">
						${{product_price}}
					</div>

					<button class="btn-buy">
						BUY THIS
					</button>

					{{#if product_images}}
						{{image-carousel content=product_images}}
					{{/if}}

					<div class="description">
						{{description-list product_description "description"}}
					</div>

				{{!-- 	{{#link-to "profile.post" product_user.username product_post.post_id product_post.subject}}
					<div class="link-to-post">Read Post <i class="fa fa-angle-double-right"></i></div>
					{{/link-to}} --}}
				</div>

			</div>

		</div> 
	</div>
</div>