<div class="container-fluid">

	<div class="haul-wrapper ">

		<div class="haul-content">

			{{#unless model}}
					
				<h1 class="text-center">Oh no, that post does not seem to exist anymore</h1>


			{{else}}
			


			<div class="col-left">


				
				<div class="product-post">
					
					<div class="moment">{{format-moment updated_at}}</div>


					<h1 class="subject">{{ subject }}
					{{#if isProfileOwner}}
						 	{{#link-to 'profile.post.edit_post' user.username this }}
							<button class="btn-edit-post">
								<i class="fa fa-cog"></i> Edit Post
							</button>
							{{/link-to}}
						{{/if}}
						
					</h1>

					{{!-- //REPOST --}}
					{{#if repost_id}}
					<div class="repost-citations">
						<i class="fa fa-retweet"></i>
						{{make-icon icon=repost_user.icon}}
						<span class="name">{{repost_user.name}}'s </span>
						<span class="title"> original post
							{{#link-to 'profile.post'
								repost.user.username 
								repost.post_id 
								repost.post_slug}}{{repost.subject}}{{/link-to}}
						</span>
					</div>
					{{/if}}

					

					{{!-- EDITORIAL --}}
					<div class="editorial">
						{{#unless postHasImage}}
							<img {{bind-attr src=image.large}}/>
						{{/unless}}

						{{sanitizehtml-andtag 
							body 
							"editorial" 
							ENV
						}}
					</div>
					<div class="social-buttons">
						<div class="internal-social-buttons">
							
							{{like-btn post=this openModal='openModal' class="display-inline"}}
							 	
						 	{{comment-btn post=this class="display-inline" }}

						 	{{repost-btn post=this openModal='openModal' class="display-inline"}}

						</div>

						<div class="external-social-buttons">
							{{social-btns post=this}}
						</div>
					</div>
					
					<div class="row padding-top comments-section">
						<div class="col-md-12 col-sm-12 col-xs-12">
							
							<div class="comment-section-nav">
								<span class="comment-count">{{totalComments}} Comments</span>
								<span class="likes-count">&nbsp;{{!-- {{totalLikes}} Likes --}}</span>
							</div>

							{{comment-section 
								openModal='openModal' 
								objectId=this.id
								objectType="posts"
								anchor=anchor 
								reply=reply
								class="display-inline" }}
						</div>
					</div>


				</div>

			</div>

			<div class="col-right">
				
				<div class="product-card">
					<div {{bind-attr class=":product-card-cap isForSale::sold"}}>
						{{statusText}}
					</div>



					{{#if isProductOwner }}
						{{#link-to 'profile.post.edit_product' user.username this }}
						<button class="btn btn-default btn-edit btn-xs">
							<i class="fa fa-cog"></i> Edit Product
						</button>
						{{/link-to}}
					{{/if}}

					<h2>{{product_name}}</h2>


					<div class="profile-pod">
						{{make-icon icon=product_user.icon}}

						<div class="profile-name">
							<span class="name">{{product_user.name}}</span>
							<span class="username">@{{product_user.username}}</span>
						</div>
					</div>

					<div class="price">
						${{product_price}}
					</div>

					{{buy-btn post=this class="display-inline" }}

					{{#if product_images}}
						{{image-carousel content=product_images}}
					{{/if}}

					<div class="description">
						{{description-list product_description "description"}}

					</div>

				{{!-- 	{{#link-to "profile.post" product_user.username product_post.post_id product_post.subject}}
					<div class="link-to-post">Read Post <i class="fa fa-angle-double-right"></i></div>
					{{/link-to}} --}}
				</div>

			</div>
			{{/unless}}

		</div> 
	</div>
</div>