<div class="container-fluid">

	<div class="haul-wrapper ">

		<div class="haul-content">

			{{#unless model}}
					
				<h1 class="text-center">Oh no, that post does not seem to exist anymore</h1>


			{{else}}
			


			{{!-- LEFT COLUMN --}}
			{{!-- LEFT COLUMN --}}
			{{!-- LEFT COLUMN --}}
			{{!-- LEFT COLUMN --}}
			<div class="col-left">

				<div class="product-post">
					
					<div class="moment">{{format-moment created_at}}</div>


					<h1 class="subject">{{ subject }}
						{{#if isProfileOwner}}
						 	{{#link-to 'profile.post.edit_post' user.username this }}
							<button class="btn-edit-post">
								<i class="fa fa-cog"></i> Edit Post
							</button>
							{{/link-to}}
						{{/if}}
						
					</h1>

					{{!-- //REPOST --}}
					{{#if repost_id}}
					<div class="repost-citations">
						<i class="fa fa-retweet"></i>
						{{make-icon icon=repost_user.icon}}
						<span class="name">{{repost_user.get_display_name}}'s </span>
						<span class="title"> original post
							{{#link-to 'profile.post'
								repost.user.username 
								repost.post_id 
								repost.post_slug}}{{repost.subject}}{{/link-to}}
						</span>
					</div>
					{{/if}}

					

					{{!-- EDITORIAL --}}
					<div class="editorial">
						{{#unless model.postHasImage}}
							{{#if image.large}}<img {{bind-attr src=image.large}}/>{{/if}}
						{{/unless}}

						{{sanitizehtml-andtag  body  "editorial"  ENV }}
						
					</div>
					<div class="social-buttons">
						<div class="internal-social-buttons">
							
							{{like-btn post=this openModal='openModal' class="display-inline"}}
							 	
						 	{{comment-btn post=this class="display-inline" }}

						 	{{repost-btn post=this openModal='openModal' class="display-inline"}}

						</div>

						<div class="external-social-buttons">
							{{social-btns post=this}}
						</div>
					</div>
					




					{{!-- COMMENT SECTION / USERS WHO LIKE THIS POST --}}
					{{!-- COMMENT SECTION / USERS WHO LIKE THIS POST --}}
					{{!-- COMMENT SECTION / USERS WHO LIKE THIS POST --}}
					{{!-- COMMENT SECTION / USERS WHO LIKE THIS POST --}}
					{{!-- COMMENT SECTION / USERS WHO LIKE THIS POST --}}
					<div class="row padding-top comments-section">
						<div class="col-md-12 col-sm-12 col-xs-12">
							

							{{!-- TABS --}}
							{{!-- TABS --}}
							{{!-- TABS --}}
							<div class="comment-section-nav">

								<ul class="nav nav-tabs" role="tablist">

	    							<li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">{{totalComments}} Comments</a></li>

	    							<li role="presentation" class=""><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">{{totalLikes}} Likes</a></li>
								</ul>

							</div>


							<div class="tab-content">
								

								{{!-- COMMENTS PANE --}}
								{{!-- COMMENTS PANE --}}
								{{!-- COMMENTS PANE --}}
								<div class="tab-pane active" id="tab1">
									{{comment-section 
										openModal='openModal' 
										objectId=this.id
										objectType="posts"
										anchor=anchor 
										reply=reply
										class="display-inline" }}
								</div>


								{{!-- USERS WHO LIKE POST PANE --}}
								{{!-- USERS WHO LIKE POST PANE --}}
								{{!-- USERS WHO LIKE POST PANE --}}
								<div class="tab-pane" id="tab2">
									{{post-likes post=this}}
								</div>

							</div>

						</div>
					</div>


				</div>

			</div>






			{{!-- RIGHT COLUMN --}}
			{{!-- RIGHT COLUMN --}}
			{{!-- RIGHT COLUMN --}}
			{{!-- RIGHT COLUMN --}}
			<div class="col-right">
						
				{{#if isProductOwner }}
					{{#link-to 'profile.post.edit_product' user.username this }}
					<button class="btn btn-default btn-edit btn-xs">
						<i class="fa fa-cog"></i> Edit Product
					</button>
					{{/link-to}}
				{{/if}}

				<div class="product-card">
					<div {{bind-attr class=":product-card-cap isForSale::sold"}}>
						{{statusText}}
					</div>


					<h2>
						{{product_name}}
					</h2>


				
					<div class="profile-pod">

						
					{{#link-to 'profile' product_user.username }}
						{{make-icon icon=product_user.icon}}
					{{/link-to}}

						<div class="profile-name">
							<span class="name">

								{{#if isForSaleOffsite }}
									<span class="curated_by">Curated By</span>
								{{/if}}

								{{#link-to 'profile' product_user.username }}{{product_user.get_display_name}}{{/link-to}}
							</span>
							<span class="username">{{#link-to 'profile' product_user.username }}@{{product_user.username}}{{/link-to}}</span>
						</div>
					</div>
					

					<div class="price">
						${{product_price}}
					</div>

					{{buy-btn post=this class="display-inline" }}

					{{#if product_images}}
						{{image-carousel content=product_images}}
					{{/if}}

					<div class="description">
						{{description-list product_description "description"}}
					</div>

				</div>

			</div>

			{{/unless}}


		</div> 
	</div>
</div>








{{!-- NEXT RELATED POSTS --}}
{{!-- NEXT RELATED POSTS --}}
{{!-- NEXT RELATED POSTS --}}
{{!-- NEXT RELATED POSTS --}}
{{!-- NEXT RELATED POSTS --}}
{{!-- NEXT RELATED POSTS --}}
{{#if model}}
<div class="container-fluid">

	<div class="haul-wrapper ">

		<div class="row">

			<div class="col-md-12 col-sm-12 col-xs-12">

				<div class="related-posts">
					{{ related-posts post=this limit=3 }}
				</div>

			</div>	

		</div>

	</div>
</div>
{{/if}}












