{{what-page currentPage=currentPage page=thisPage}}

<div class="container-fluid haul-content post-page">
	<div class="row">
		<div class="col-md-7 col-sm-7 col-xs-12 text-center">
			<div class="post">

				

				{{!-- EDIT YOUR OWN POST --}}
			 	{{#if isProfileOwner}}
				 	{{#link-to 'profile.post.edit' user this }}
					<button class="btn btn-default btn-xs btn-edit-post">
						edit post
					</button>
					{{/link-to}}
				{{/if}}

			

				{{!-- CITATION --}}
				{{!-- CITATION --}}
				{{!-- CITATION --}}
				{{!-- CITATION --}}
				<div class="citation">

					{{!-- TIMESTAMP --}}
					<div class="moment">posted {{format-date updated_at}}</div>
					
					{{#if repost_user}}
						<span class="glyphicon glyphicon-retweet"></span>
						<div class="name">
							{{#link-to 'profile' user }}
							@{{user.username}} 
							{{/link-to}}
							<span class="rehauled">reposted</span>
						</div>

						
						{{#link-to  "profile.post" repost_user repost.post_id repost.post_slug}}
						<div class="image">
							{{ make-icon icon=repost_user.icon isSmall=true }}
						</div>
						<div class="name">@{{repost_user.username}}</div> 
						{{/link-to}}
					{{/if}}
				</div>

				

				{{!-- THE POST --}}
				{{!-- THE POST --}}
				{{!-- THE POST --}}
				{{!-- THE POST --}}
				<div class="article">
					<h2>
						{{ subject }}
					</h2>
						{{!-- BUTTONS --}}
						{{!-- BUTTONS --}}
						{{!-- BUTTONS --}}
						{{!-- BUTTONS --}}
					 	<div class="btn-wrapper">

					 		<div class="price">${{product_price}}</div>


						 	{{like-btn post=this openModal='openModal' class="display-inline"}}
						 	
						 	{{comment-btn post=this class="display-inline" }}

						 	{{repost-btn post=this openModal='openModal' class="display-inline"}}

						</div>
					
					<div class="product-image">

						<img class="img-responsive" {{bind-attr src=image.medium}}/>
					</div>
					


					{{!-- POSTER --}}
					<div class="citation no-top-margin">
						{{#link-to 'profile' user }}
						<div class="image">
							{{ make-icon icon=user.icon isSmall=true}}
						</div>
						<div class="name">{{user.username}} says</div>
						{{/link-to}}
					</div>

					{{!-- EDITORIAL --}}
					<div class="editorial">
						{{break-lines body}}
					</div>

				{{!-- 	{{comment-section openModal='openModal' itemObject=product contextObject=collection  class="display-inline" }} --}}
				
				</div>	
			</div> 
		</div> 







		{{!-- SELLER --}}
		<div class="col-md-4 col-sm-4 col-xs-12">

			<h5 class="sidebar-header">The Seller Card	</h5>
			<div class="sidebar">


				<div class="seller">


					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							
							{{#link-to 'profile' product_user}}
								{{ make-icon icon=product_user.icon isSmall=true}}
							

								<div class="info-block">
									<h1>{{product_user.name}}</h1>
									<div class="username">@{{product_user.username}}</div> 
								</div>
							{{/link-to}}

						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">

							
								{{#if product_images}}
									{{image-carousel content=product_images}}
								{{/if}}
							
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 text-center">
							<div class="name">
								{{product_name}}
							</div> 
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 text-center">

							<button class="btn btn-default btn-buy">
								buy
							</button>

							<div class="price">
								${{product_price}}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">	
							<div class="description-label">
								Description
							</div> 
							{{ break-lines product_description }}
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-1 col-sm-1 col-xs-12"></div>
	</div>
</div>