{{what-page currentPage=currentPage page=thisPage}}

<div class="container-fluid haul-content post-page">
	<div class="row">
		<div class="col-md-7 col-sm-7 col-xs-12 text-center">
			<div class="post">

				

				{{!-- EDIT YOUR OWN POST --}}
			 	{{#if isProfileOwner}}

				 	{{!-- EDIT --}}
				 	{{#link-to 'profile.post.edit' user this }}
					<button class="btn btn-default btn-xs btn-edit-post">
						edit
					</button>
					{{/link-to}}
				
				
				{{/if}}

			

				{{!-- REPOST --}}
				{{#unless-equal param1=user.id param2=product_user.id}}
				<div class="citation">
					<span class="glyphicon glyphicon-retweet"></span>
					<div class="name">
						{{#link-to 'profile' user }}
						{{user.username}} 
						{{/link-to}}
						<span class="rehauled">reposted</span>
					</div>

					{{#link-to 'profile' user }}
					<div class="image">
						{{ make-icon icon=product_user.icon isSmall=true }}
					</div>
					<div class="name">{{product_user.username}}</div> 

					{{/link-to}}
				</div>
				{{/unless-equal}}

				




				{{!-- THE POST --}}

				<div class="article">



					{{!-- PRODUCT NAME --}}
					<h2>
						{{ subject }}
					</h2>

					{{!-- TIMESTAMP --}}
					<div class="moment">posted {{format-date updated_at}}</div>
					
					<div class="product-image">


						{{#unless-equal param1=product_user.id param2=user.id}}
							{{#link-to  "profile.post" user this}}
							<button class="btn btn-default btn-original-post">
								original<br/>post
								<span class="glyphicon glyphicon-chevron-right"></span>
							</button>
							{{/link-to}}
						{{/unless-equal}}


						{{!-- BUTTONS --}}
					 	<div class="btn-wrapper">

						 	{{!-- {{like-btn product=product class="display-inline" }}
						 	
						 	{{comment-btn itemObject=this class="display-inline" }} --}}
						 	
						 	<button {{action 'openModal' 'repost' this}} class="btn btn-default">
								<span class="glyphicon glyphicon-retweet"></span>
							</button>

						</div>
						<img class="img-responsive" {{bind-attr src=image.medium}}/>
					</div>

					{{!-- POSTER --}}
					<div class="citation no-top-margin">
						{{#link-to 'profile' user }}
						<div class="image">
							{{ make-icon icon=user.icon isSmall=true}}
						</div>
						<div class="name">{{user.username}} says</div>
						{{/link-to}}
					</div>

					{{!-- EDITORIAL --}}
					<div class="editorial">
						{{break-lines body}}
					</div>

				{{!-- 	{{comment-section itemObject=product contextObject=collection  class="display-inline" }} --}}
				
				</div>	
			</div> 
		</div> 







		{{!-- SELLER --}}
		<div class="col-md-4 col-sm-4 col-xs-12">

			<h5 class="sidebar-header">The Seller</h5>
			<div class="sidebar">


				<div class="seller">
					
					

					{{#link-to 'profile' product_user}}
						{{ make-icon icon=product_user.icon isSmall=true}}
					{{/link-to}}

					<div class="info-block">
						<h1>{{product_user.name}}</h1>
						<div class="username">@{{product_user.username}}</div> 
					</div>
		

					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">

							{{!-- IMAGES --}}
							<div class="product-image">
								{{#if product_images}}
									{{image-carousel content=product_images}}
								{{/if}}
							</div>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-6">

							<div class="price">
								${{product_price}}
							</div>

							<button class="btn btn-default btn-buy">
								buy
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">	
							<div class="name">
								{{#link-to "profile.post" user this}}{{product_name}}{{/link-to}}
							</div> 
							{{ break-lines product_description }}
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-1 col-sm-1 col-xs-12"></div>
	</div>
</div>