{{user-header user=session.currentUser session=session}}




<div class="container padding-bottom padding-top">

	{{#unless model.id }}
		<div class="row bottom-border">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h2>New Marketplace!</h2>
				<h4>Add anyone's forsale items to your marketplace. <small><br/>
				(Earn credit when items sell from your marketplace.)</small></h4>
			</div>
		</div>
	{{else}}


		<div class="row bottom-border">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h2>Edit Your Marketplace.</h2>
			</div>
		</div>

		<div class="row padding-top">
			<div class="col-md-12 col-sm-12 col-xs-12">
				{{ icon-maker item=model session=session isCollection=true }}
			</div>
		</div>


	{{/unless}}
 

	{{#form-for model wrapper="bs3-wrapper"}}
			
	<div class="row padding-top">
		<div class="col-md-12 col-sm-12 col-xs-12"> 
			<label>What is your marketplaces name?</label>
			<br/>
			<small>You can change it anytime</small>
			<label class="small pull-right text-regular">(max 50 characters)</label>				
			{{input name canShowValidationError=showErrors placeholder="Pick a cool name!"}} 
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12"> 
			<label>What is your marketplace about?</label>
			<br/>
			<small>Tell people why they should follow it</small>
			<label class="small pull-right text-regular">(max 500 characters)</label>
			{{input description as="text" canShowValidationError=showErrors placeholder="What makes your collection special?"}}
		</div> 
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">

		{{#if errorShow }}
			{{bs-alert message=errorMessage type="danger"}}
		{{/if}}

		</div>
	</div>
	{{/form-for}}



	{{!-- ORDER PRODUCTS --}}
	{{!-- {{#if products}}
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h3>Order The Items</h3>
			
			{{view Haul.SortableProductView contentBinding="products"}}

		</div>
	</div>
	{{/if}} --}}

	
</div>













{{!-- HAUL TOOLBAR --}}
<div class="toolbar-footer">
	<div class="text-right">
		
		{{#if model.id }}
			{{#link-to 'collection' model.slug}}<button class="btn btn-default">Cancel</button>{{/link-to}}
		{{else}}
			{{#link-to 'seller' session.currentUser.id}}<button class="btn btn-default">Cancel</button>{{/link-to}}
		{{/if}}

		{{ladda-btn
			name='Save'
			class="display-inline"
			btnClasses='btn btn-primary ladda-button'
			btnClick='submit'
			spin=isProcessing
		}}
	</div>
</div>





















