{{!-- HEADER --}}
<div class="container-fluid content-fixed-nav">
    <div class="row collection-nav padding-top">
        <div class="col-md-12 col-sm-12 col-xs-12  padding-top">

            <h2 class="haul-header">    

                <div class="pull-right">
                    {{follow-btn 
                        item=collection 
                        ref_type="collection"
                        session=session   
                        hideCounts=true
                    }} 
                </div>

                <div class="pull-left padding-right">
                    {{#link-to "collection" collection}}
                        {{ make-icon icon=collection.icon isSmall=false isCollection=true }}
                    {{/link-to}}    
                </div>
                
                <strong>
                    {{#link-to "collection" collection}}{{collection.name}}{{/link-to}}
                </strong>

                {{#if isCollectionOwner}}
                     <small>
                        {{#link-to 'collection.edit' collection }}
                            <button class="btn btn-default btn-xs">edit</button>
                        {{/link-to}}
                    </small>
                {{/if}} 
            </h2>
            <small class="font-weak">{{#link-to "seller" collection.user}}by {{collection.user.name}}{{/link-to}}</small>

            
        </div>
    </div>
</div>
<div class="row haul-toggle text-center">
      <div class="col-md-12 col-sm-12 col-xs-12">

        <div {{bind-attr class="isProfile:here"}}>
            <br/>
            <a {{action 'toggleAboutUs' }}>About</a>
        </div>
        
        <div {{bind-attr class="isFollowers:here"}}>
            <small>{{followsCount}}</small><br/>
            {{#link-to 'collection.followers' collection }}Followers{{/link-to}} 
        </div>
       
        <div {{bind-attr class="isLikes:here"}}>
            <small>323</small><br/>
            <a>Comments</a>
        </div>

    </div> 
  </div> 
<div class="seller-nav-footer"><span></span></div>


<div {{bind-attr class="showAboutUs:show:hide"}}>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 padding-bottom">
                <h4>About This Marketplace</h4>
                {{ break-lines collection.description}} 
                <button {{action 'toggleAboutUs' }} class="btn btn-default btn-xs">close</button>
            </div>
        </div>  
    </div>
</div>



<div class="container">

    {{#unless model}}<div class="row text-center"><strong>Nothing has been added to this collection yet</strong></div>{{/unless}}


    {{!-- COLLECTION ITEMS --}}
    {{#each model}}

        {{#link-to 'collection.product' product }} 
        <div class="haul-grid-li">

                <img class="thumbnail" {{bind-attr src=image.small}}>

                {{#if sold}}
                    <div class="sold">Sold</div>
                {{/if}}

                <div class="info">
                       <div class="price"> ${{price}}</div>
                </div>

                {{!-- {{editorial}} --}}

         </div>
         {{/link-to}}

    {{/each}}

</div>
