{{seller-nav
	user=currentUser.user
	currentUser=currentUser
	isProfileOwner=true
	pageCreateCollections=true
	editMode=true
}}



{{!-- HAUL TOOLBAR --}}
<div class="toolbar">
	<div class="text-right">
		
		{{#if model.id }}
			{{#link-to 'collection' model.slug}}<button class="btn btn-default">Cancel</button>{{/link-to}}
		{{else}}
			{{#link-to 'seller' currentUser.id}}<button class="btn btn-default">Cancel</button>{{/link-to}}
		{{/if}}

		{{ladda-btn
			name='Save'
			class="display-inline"
			btnClasses='btn btn-primary ladda-button'
			btnClick='submit'
			spin=isProcessing
		}}
	</div>
</div>


<div class="container padding-bottom">

	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-6 vcenter">
			<h3>Collection</h3> 
		</div>
	</div>

	{{!-- MARKET ICON UPLOAD --}}
	{{#if model.id }}
	<div class="row ">
		<div class="col-md-12 col-sm-12 col-xs-12">
			{{ icon-maker item=model currentUser=currentUser }}
		</div>
	</div>
	{{/if}}

	{{#form-for model wrapper="bs3-wrapper"}}
			
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12"> 
			<label>Collection Name</label>
			<label class="small pull-right text-regular">(max 50 characters)</label>				
			{{input name canShowValidationError=showErrors placeholder="Pick a cool name!"}} 
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12"> 
			<label>About Collection</label>
			<label class="small pull-right text-regular">(max 500 characters)</label>
			{{input description as="text" canShowValidationError=showErrors placeholder="What makes your collection special?"}}
		</div> 
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">

		{{#if errorShow }}
			{{bs-alert message=errorMessage type="danger"}}
		{{/if}}

		</div>
	</div>
	{{/form-for}}



	{{!-- ORDER PRODUCTS --}}
	{{#if products}}
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h3>Order The Items</h3>
			
			{{view Haul.SortableProductView contentBinding="products"}}

		</div>
	</div>
	{{/if}}

	
</div>



































