<div class="container-fluid content-fixed-nav">
    <div class="row collection-nav padding-top">
        <div class="col-md-12 col-sm-12 col-xs-12  padding-top">

            <h2 class="haul-header">    

                <div class="pull-right">
                    {{follow-btn 
                        item=collection 
                        ref_type="collection"
                        currentUser=currentUser   
                        hideCounts=true
                    }} 
                </div>


                <div class="pull-left">
                    {{#link-to "collection" collection}}
                        {{ make-icon icon=collection.icon isSmall=false isCollection=true }}
                    {{/link-to}}    
                </div>
                
                <strong>
                    {{#link-to "collection" collection}}{{collection.name}}{{/link-to}}
                </strong>

                {{#if isCollectionOwner}}
                     <small>
                        {{#link-to 'collection.edit' collection }}
                            <button class="btn btn-default btn-xs">edit</button>
                        {{/link-to}}
                    </small>
                {{/if}} 
            </h2>
            <small class="font-weak">
                {{#link-to "seller" collection.user}}by {{collection.user.name}}{{/link-to}}
            </small>


        </div>
    </div>
</div>
<div class="row haul-toggle text-center">
      <div class="col-md-12 col-sm-12 col-xs-12">

        <div {{bind-attr class="isProfile:here"}}>
            <br/>
            {{#link-to 'collection' collection }}About{{/link-to}}
        </div>
        
        <div class="here">
            <small>{{followsCount}}</small><br/>
            {{#link-to 'collection.followers' user }}Followers{{/link-to}} 
        </div>
       
        <div {{bind-attr class="isLikes:here"}}>
            <small>323</small><br/>
            <a>Comments</a>
        </div>

    </div> 
  </div> 
<div class="seller-nav-footer"><span></span></div>


<div class="container">  

	{{#unless collection.getFollowers.followers }}
		<div class="padding-top text-center font-weak">
		  Oh no! No have no followers :(
          <br/>
          Be the first!
          <br/>
          <br/>
			<span>
			
				{{follow-btn 
                    item=collection 
					ref_type="collection"
					currentUser=currentUser   
					hideCounts=true
				}} 
			</span>
		</div>
	{{/unless}}


	{{!-- SELLER PRODUCTS --}}
    {{#with currentUser as currentUser }}
    {{#each collection.getFollowers.followers}}
    	{{#link-to 'collection' this.id }} 
	    	{{profile-badge user=this currentUser=currentUser}}
	 	{{/link-to}}	
	{{/each}} 
    {{/with}}
</div>