
{{!-- STORE TEMPLATE --}}
<div class="container content-fixed-nav">
	<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12 haul-font seller-nav">
			<div class="media">
				
				{{ profile-badge item=collection isCollectionOwner=isCollectionOwner }}

				<div class="media-body">
			     	<h4><strong>{{collection.name}}</strong></h4>
			     	<p>{{#link-to "seller" collection.user}}by {{collection.user.name}}{{/link-to}}</p>

			     	<div class="haul-font-weak">
			     		{{ truncate-text text=collection.description }}
			     	</div>
			     	

				</div> 
			</div>
		</div>  


		<div class="col-md-6 col-sm-12 col-xs-12 haul-font padding-top text-right	">
			{{!-- SELL SOMETHING  --}}

			{{#if isCollectionOwner }}
			<div class="btn-group" role="group">

				{{#link-to 'collection.edit' collection }}
				<button class="btn btn-default">
					Edit Collection
					<span class="glyphicon glyphicon-plus-sign"></span>
				</button>
				{{/link-to}}

			</div>
			{{/if}}
	
		</div>
	</div>
</div>	
 
<div class="toolbar"><span></span></div>


<div class="container">





	{{!-- COLLECTION ITEMS --}} 
    {{#each products}}
    
    	{{#link-to 'collection-product' this.product_id }}
    	<div class="haul-grid-li"> 

				<img class="thumbnail" {{bind-attr src=image.small}}>

				{{#if sold}}
					<div class="sold">Sold</div>
				{{/if}}
				
				<div class="info">		
			 	  	<div class="price"> ${{price}}</div>   
				</div>

				{{!-- {{editorial}} --}}
			
	 	</div>
	 	{{/link-to}}	
    
	{{/each}}
	
</div> 



