
<div class="seller-nav">
    <div class="container content-fixed-nav">
        <div class="row ">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center haul-font">

                <div class="follow">
                {{ follow-btn
                    item=collection
                    ref_type="collection"
                    currentUser = currentUser
                }}
                </div>

                 <h1>
                     {{ make-icon icon=collection.icon isSmall=false isCollection=true }}
                     <strong>{{collection.name}}</strong>
                 </h1>
                 <small>{{#link-to "seller" collection.user}}by {{collection.user.name}}{{/link-to}}</small>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="haul-font-weak">
                    {{ truncate-text text=collection.description }}
                </div>
            </div>
         </div>
    </div>
</div>


 {{!-- TOOLBAR --}}
<div class="toolbar haul-font">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">


                {{#link-to "seller" collection.user }}
                <button class="btn btn-default btn-left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Back To Collections
                </button>
                {{/link-to}}




                {{!-- EDIT COLLECTION --}}
                {{#if isCollectionOwner }}
                    {{#link-to 'collection.edit' collection }}
                    <button class="btn btn-default btn-right">
                        Edit Collection
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                    {{/link-to}}
                    {{#link-to 'product.new' 'product'}}
                    <button class="selected btn btn-default btn-right">
                        <span class="glyphicon glyphicon-camera"></span>
                        Sell Something
                    </button>
                    {{/link-to}}
                {{/if}}

            </div>
        </div>
    </div>
</div>


<div class="container">

    {{#unless products}}<div class="row text-center"><strong>Nothing has been added to this collection yet</strong></div>{{/unless}}


    {{!-- COLLECTION ITEMS --}}
    {{#each products}}

        {{#link-to 'collection-product' this.product_id }}
        <div class="haul-grid-li">

                <img class="thumbnail" {{bind-attr src=image.small}}>

                {{#if sold}}
                    <div class="sold">Sold</div>
                {{/if}}

                <div class="info">
                       <div class="price"> ${{price}}</div>
                </div>

                {{!-- {{editorial}} --}}

         </div>
         {{/link-to}}

    {{/each}}

</div>
