
{{!-- STORE TEMPLATE --}}
<div class="container content-fixed-nav seller-nav">

	<div class="row ">
		<div class="col-md-6 col-sm-12 col-xs-12">
			   	
			{{ make-icon icon=collection.icon isSmall=false class="pull-left" }}
			 	
	     	<h4 class="haul-font">
	     		<strong>{{collection.name}}</strong> 
	     		<small>{{#link-to "seller" collection.user}}by {{collection.user.name}}{{/link-to}}</small>
	     	</h4>
			
			{{ follow-btn 
				item=collection 
				ref_type="collection"
				currentUser = currentUser 
			}}  
			 
		</div>
 

		<div class="col-md-6 col-sm-12 col-xs-12 haul-font padding-top text-right">

			{{!-- SELL SOMETHING  --}}

			{{#if isCollectionOwner }}
			<div class="btn-group" role="group">

				{{#link-to 'collection.edit' collection }}
				<button class="btn btn-default">
					Edit Collection
					<span class="glyphicon glyphicon-plus-sign"></span>
				</button>
				{{/link-to}}

			</div>
			{{/if}}
	
		</div>
	</div>
</div>	
 
<div class="toolbar ">
<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="haul-font-weak">
			    {{ truncate-text text=collection.description }}
			</div>
		</div>
	</div>
</div>
</div>


<div class="container">





	{{!-- COLLECTION ITEMS --}} 
    {{#each products}}
    
    	{{#link-to 'collection-product' this.product_id }}
    	<div class="haul-grid-li"> 

				<img class="thumbnail" {{bind-attr src=image.small}}>

				{{#if sold}}
					<div class="sold">Sold</div>
				{{/if}}
				
				<div class="info">		
			 	  	<div class="price"> ${{price}}</div>   
				</div>

				{{!-- {{editorial}} --}}
			
	 	</div>
	 	{{/link-to}}	
    
	{{/each}}
	
</div> 



