{{!-- HEADER --}}
<div class="seller-nav haul-font">
	<div class="content-fixed-nav text-center">
     	<h2>
     		<strong>
     			{{#link-to "collection" collection}}{{model.collection.name}}{{/link-to}}
     		</strong> 
     	</h2>
	     <small>{{#link-to "seller" collection.user}}by {{model.collection.user.name}}{{/link-to}}</small>
	</div>	
</div>	


{{!-- TOOLBAR --}}
<div class="toolbar haul-font">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">	


				{{#link-to 'collection' collection}}
				<button class="btn btn-default pull-left">
					<span class="glyphicon glyphicon-chevron-left"></span>
					Back To Collection
				</button>
				{{/link-to}}
				 
				{{#if isCollectionOwner}} 
					{{#link-to 'collection-product.edit' model}}
					<button class="btn btn-default pull-right">
						Edit Your Post
						<span class="glyphicon glyphicon-plus-sign"></span>
					</button> 
					{{/link-to}}
				{{/if}}
			</div>
		</div>
	</div>
</div>


{{!-- PAGE CONTENT --}}
<div class="container">
	<div class="row">
		<div class="col-md-7 col-sm-7 col-xs-12 padding-bottom">

			<h3>
				<span class="pull-left">
					{{ make-icon icon=model.collection.icon isSmall=true isCollection=true }}
				</span>
				{{ model.collection.name }} says:
			</h3>

			{{!-- EDITORIAL --}}
			<span class="editorial">
			{{ breaklines model.editorial }}
			</span>

			{{!-- COMMENTS --}}
			{{ comment-section
				contextObject=model.collection
				itemObject=model.product 
				currentUser=currentUser
			}}

		</div>
		<div class="col-md-5 col-sm-5 col-xs-12">

			<div class="haul-buy-card">
				<span class="haul-font">
					{{!-- BUTTONS --}}
					<div class="btn-left haul-price">${{model.product.price}}</div>	 	
						
					{{!-- BUY --}}
					<button type="button" class="btn btn-primary btn-responsive">BUY</button>

					{{!-- LIKE --}}
					{{like-btn
						class="display-inline" 
						item=model.product
						currentUser=currentUser 									
					}}

					{{!-- COMMENT --}}
					{{comment-btn
						class="display-inline"
						contextObject=model.collection
						itemObject=model.product 
						currentUser=currentUser
					}}
					

					{{!-- CURATE - ADD TO STORE --}}
					{{#unless isCollectionOwner }}
						{{collection-btn
							class="display-inline" 
							currentUser=currentUser 
							product=model.product
							productPage=true
						}}
					{{/unless}}
				</span>

				<div class="padding-top">
					{{!-- IMAGES --}}
					{{#if model.product }}
						{{#if model.product.images }}
							{{view Haul.CarouselView contentBinding="model.product.images"}}
						{{/if}}
					{{/if}}
				</div>

				{{!-- PRODUCT DETAILS --}}
				<h3 class="haul-font text-center bottom-border">{{ model.product.name }}</h3> 
				
		 
				<div class="clearfix padding-top">
					
					<h4 class="pull-left">Seller</h4>
					
					<span class="pull-left">
						{{#link-to "seller" model.product.user.slug}}
							{{ make-icon icon=model.product.user.icon isSmall=true  }}
						{{/link-to}}
					</span>
					
					{{#link-to "seller" model.product.user.slug}}{{model.product.user.name}}{{/link-to}}
					
					{{ follow-btn 
						item=model.product.user 
						ref_type="user"
						currentUser = currentUser  
						isSmall=true
						hideCounts=true
					}}  

				</div>
	 
				<h4 class="top-border padding-top">Details:</h4>
				<p>{{ breaklines model.product.description }}</p>
			  
			</div>
		</div> 
	</div>
</div>
 

<div id="deleteModal" class="modal fade bs-example-modal-sm in danger" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="mySmallModalLabel">Delete?<br/>This cannot be undone</h4>
		</div>
		<div class="modal-body"> 
			<p class="text-center">
				<button {{action 'deleteCancel'}} class="btn btn-default">Cancel</button>
				<button {{action 'deleteProceed'}} class="btn btn-danger">Yes, Delete</button>
			</p>
		</div>
		</div>
	</div>
</div>

















