{{!-- HEADER --}}
<div class="container-fluid content-fixed-nav">
	<div class="row collection-nav padding-top">
		<div class="col-md-12 col-sm-12 col-xs-12  padding-top">

	     	<h2 class="haul-header">	


	     		{{#link-to "collection" collection}}
					<button class="btn btn-default btn-sm pull-right">next ></button>
				{{/link-to}} 

	     		{{#link-to "collection" collection}}
					<button class="btn btn-default btn-xs pull-left margin-top"><</button>
				{{/link-to}}

				<div class="pull-left">
					{{#link-to "collection" collection}}
						{{ make-icon icon=collection.icon isSmall=true isCollection=true }}
					{{/link-to}}	
				</div>
	     		
	     		<strong>
	     			{{#link-to "collection" collection}}{{model.collection.name}}{{/link-to}}
	     		</strong>
	     	</h2>

		</div>
	</div>
</div>
<div class="seller-nav-footer"><span></span></div>


{{!-- PAGE CONTENT --}}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-7 col-sm-7 col-xs-12 padding-bottom">
			<div class="haul-buy-card">

				{{#if isCollectionOwner}}
						<small class="pull-right">
							{{#link-to 'collection-product.edit' model}}
								<button class="btn btn-default btn-xs">edit</button>
							{{/link-to}}
						</small>
					{{/if}}

				<h4>
					<span class="pull-left">
						{{ make-icon icon=model.collection.icon isSmall=true isCollection=true }}
					</span>
					{{ model.collection.name }} says:
				</h4>

				{{!-- EDITORIAL --}}
				<span class="editorial">
				{{ breaklines model.editorial }}
				</span>

				{{!-- COMMENTS --}}
				{{ comment-section
					contextObject=model.collection
					itemObject=model.product 
					currentUser=currentUser
				}}

			</div>
		</div>
		<div class="col-md-5 col-sm-5 col-xs-12">

			<div class="haul-buy-card">

				{{!-- PRODUCT DETAILS --}}
				<h3 class="text-center bottom-border">{{ model.product.name }}</h3> 
			
				<div class="padding-bottom ">
					{{!-- BUTTONS --}}
					<div class="btn-left haul-price">${{model.product.price}}</div>	 	
						
					{{!-- BUY --}}
					<button type="button" class="btn btn-primary btn-responsive">BUY</button>

					{{!-- LIKE --}}
					{{like-btn
						class="display-inline" 
						item=model.product
						currentUser=currentUser 									
					}}

					{{!-- COMMENT --}}
					{{comment-btn
						class="display-inline"
						contextObject=model.collection
						itemObject=model.product 
						currentUser=currentUser
					}}
					

					{{!-- CURATE - ADD TO STORE --}}
					{{#unless isCollectionOwner }}
						{{collection-btn
							class="display-inline" 
							currentUser=currentUser 
							product=model.product
							productPage=true
						}}
					{{/unless}}
				</div>

				


				<div>
					{{!-- IMAGES --}}
					{{#if model.product }}
						{{#if model.product.images }}
							{{view Haul.CarouselView contentBinding="model.product.images"}}
						{{/if}}
					{{/if}}
				</div>
				
				{{!-- FACEBOOK, TWITTER, PINTEREST --}}
				<div class="clearfix padding-top">

					{{social-btns product=model.product url=url}} 

				</div>
				
				
		 
				<div class="clearfix padding-top">
					<h4>Seller Details:</h4>
 
					{{profile-badge user=model.product.user currentUser=currentUser showFollows=false}}

					{{ breaklines model.product.description }}
				</div>

				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="clearfix padding-top">
							{{liked-by product=model.product currentUser=currentUser  }}	
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="clearfix padding-top">
							{{product-collections product=model.product currentUser=currentUser }}	
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 padding-top text-center">
			{{#link-to "collection" collection}}
				<button class="btn btn-default btn-sm">next post ></button>
			{{/link-to}}
		</div>
	</div>

</div>
 



















