{{!-- HEADER --}}
<div class="container-fluid content-fixed-nav">
	<div class="row collection-nav padding-top">
		<div class="col-md-12 col-sm-12 col-xs-12  padding-top">

	     	<h2 class="haul-header">	

	     		{{#link-to "collection" collection}}
					<button class="btn btn-default btn-xs pull-left margin-top"><</button>
				{{/link-to}}

				<div class="pull-left">
					{{#link-to "collection" collection}}
						{{ make-icon icon=collection.icon isSmall=true isCollection=true }}
					{{/link-to}}	
				</div>
	     		
	     		<strong>
	     			{{#link-to "collection" collection}}{{model.collection.name}}{{/link-to}}
	     		</strong>

	     		{{#link-to "collection" collection}}
					<button class="btn btn-default btn-sm pull-right">next ></button>
				{{/link-to}} 
	     	</h2>

		</div>
	</div>
</div>
<div class="seller-nav-footer"><span></span></div>


{{!-- PAGE CONTENT --}}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-7 col-sm-7 col-xs-12 padding-bottom">
			<div class="haul-buy-card">

				{{#if isCollectionOwner}}
						<small class="pull-right">
							{{#link-to 'collection-product.edit' model}}
								<button class="btn btn-default btn-xs">edit</button>
							{{/link-to}}
						</small>
					{{/if}}

				<h4>
					<span class="pull-left">
						{{ make-icon icon=model.collection.icon isSmall=true isCollection=true }}
					</span>
					{{ model.collection.name }} says:
				</h4>

				{{!-- EDITORIAL --}}
				<span class="editorial">
				{{ breaklines model.editorial }}
				</span>

				{{!-- COMMENTS --}}
				{{ comment-section
					contextObject=model.collection
					itemObject=model.product 
					currentUser=currentUser
				}}

			</div>
		</div>
		<div class="col-md-5 col-sm-5 col-xs-12">

			<div class="haul-buy-card">

				{{!-- PRODUCT DETAILS --}}
				<h3 class="haul-font text-center bottom-border">{{ model.product.name }}</h3> 
			
				<div class="haul-font padding-bottom ">
					{{!-- BUTTONS --}}
					<div class="btn-left haul-price">${{model.product.price}}</div>	 	
						
					{{!-- BUY --}}
					<button type="button" class="btn btn-primary btn-responsive">BUY</button>

					{{!-- LIKE --}}
					{{like-btn
						class="display-inline" 
						item=model.product
						currentUser=currentUser 									
					}}

					{{!-- COMMENT --}}
					{{comment-btn
						class="display-inline"
						contextObject=model.collection
						itemObject=model.product 
						currentUser=currentUser
					}}
					

					{{!-- CURATE - ADD TO STORE --}}
					{{#unless isCollectionOwner }}
						{{collection-btn
							class="display-inline" 
							currentUser=currentUser 
							product=model.product
							productPage=true
						}}
					{{/unless}}
				</div>

				{{!-- FACEBOOK, TWITTER, PINTEREST --}}
				<div class="clearfix text-center">

					{{social-btns product=model.product url=url}} 

				</div>


				<div class="padding-top">
					{{!-- IMAGES --}}
					{{#if model.product }}
						{{#if model.product.images }}
							{{view Haul.CarouselView contentBinding="model.product.images"}}
						{{/if}}
					{{/if}}
				</div>
				

				
				
		 
				<div class="clearfix padding-top">
					
					<h4 class="pull-left">Seller</h4>
					
					<span class="pull-left">
						{{#link-to "seller" model.product.user.slug}}
							{{ make-icon icon=model.product.user.icon isSmall=true  }}
						{{/link-to}}
					</span>
					
					{{#link-to "seller" model.product.user.slug}}{{model.product.user.name}}{{/link-to}}
					
					{{ follow-btn 
						item=model.product.user 
						ref_type="user"
						currentUser = currentUser  
						isSmall=true
						hideCounts=true
					}}  

				</div>
	 
				<h4 class="top-border padding-top">Details:</h4>
				<p>{{ breaklines model.product.description }}</p>
			  
				<div class="clearfix padding-top">
					{{product-collections product=model.product }}	
				</div>

				<div class="clearfix padding-top">
					{{liked-by product=model.product }}	
				</div>

			</div>
		</div> 
	</div>
</div>
 



















