{{!-- //PRODUCT --}}

<div {{bind-attr class=":drawer openDrawer:open"}}>

	<button {{action 'btnDrawer'}} class="btn btn-default btn-left btn-drawer">
		<span class="glyphicon glyphicon-menu-hamburger"></span>
	</button>

	<div {{bind-attr class=":drawer-content openDrawer:open"}}>

		<ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active">
		    	<a href="#product" aria-controls="product" role="tab" data-toggle="tab">For Sale</a>
		    </li>
		    {{#if canEditProduct}}
		    <li role="presentation">
		    	<a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Edit Photos</a>
		    </li>
		    {{/if}}
		</ul>
		<div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="product">
		 
			{{#if canEditProduct}}

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12"> 

						<h4>Give us the details<br>
							<small>What is it? Color, size, condition, etc.</small>
						</h4>
 
						{{input product_name placeholder="Item name" label="Name it:"}} 
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">  
						<label>Describe it:</label>
						{{description-input descriptionChange='descriptionChange' rollupValue=product_description}}

						{{#if showErrors}}
							<span class="has-error help-block">{{error-field product_description}}</span>
						{{/if}}
					</div> 
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6">  
						{{input product_quantity class="input-xs" placeholder="quantity" label='Quantity:'}}
					</div>

					<div class="col-md-6 col-sm-6 col-xs-6"> 
						<label>Status:</label>
							{{view "select"
						       content = product_status_options.status
						       optionLabelPath = "content.name"
						       optionValuePath = "content.id"
						       selection = product_status_options.selectedStatus
						       class = "form-control"
						    }}
						    {{#if showErrors}}{{error-field product_status}}{{/if}}
			 		</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6">  
						<label>Price:</label>
						{{#input product_price}}
						<div class="input-group">
							<span class="input-group-addon">$</span>
						  	{{input-field product_price class="form-control input-sm"}}
						  	<br/>
						</div>
						{{#if showErrors}}<span class="has-error help-block">{{error-field product_price}}</span>{{/if}}
						{{/input}}
	 				</div>


	 				<div class="col-md-6 col-sm-6 col-xs-6">  

						<label>Shipping:</label>
						{{#input product_shipping}}
						<div class="input-group">
							<span class="input-group-addon">$</span>
						  	{{input-field product_shipping class="form-control input-sm"}}
						  	<br/>
						</div>
						{{#if showErrors}}<span class="has-error help-block">{{error-field product_shipping}}</span>{{/if}}
						{{/input}}

	 				</div>
				</div>

			{{else}}


				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12"> 
						<span class="profile-badge">
						<label>Seller</label><br/>
							{{ make-icon icon=product_user.icon isSmall=true }}
							{{#link-to 'profile' user.username }}{{product_user.username}}{{/link-to}}
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">  
						<p><label>Name:</label> {{product_name}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">  
						<p><label>Description:</label> 
						{{sanitize-html product_description "description" ENV}}</p>
					</div> 
				</div>

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12"> 
						<p><label>Quantity:</label> {{product_quantity}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12"> 
						<p><label>Price:</label> ${{product_price}}</p>
	 				</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12"> 
						<p><label>Status:</label> {{product_status_options.selectedStatus.name}}</p>
			 		</div>
				</div>
				

	 		{{/if}}



	 		</div>

	 		{{#if canEditProduct}}
			<div role="tabpanel" class="tab-pane" id="photos">

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">

						<h4>Manage Your Photos<br>
							<small>Upload, reorder (by dragging) or remove</small>
						</h4>

						<span {{bind-attr class="showImageUploadError:show:hide :alert"}}>{{imageUploadError}}</span>

						{{#image-picker  
							images=userImages
							selectedImages=selectedImages
							refresh='refresh'
							imageClick='imageClick' 
							imageDeleted='imageDeleted'
							
							doNotAnimate='true'
						}}
							{{view 'sortable' content=selectedImages}}
						{{/image-picker}}

					</div>
				</div>
			</div>
			{{/if}}

			{{#if canEditProduct}}
				<small class="pull-right">Only you can edit this product card</small>
			{{/if}}

		</div>
	</div>
</div> 
