<div class="grid-post">

	{{#link-to 'profile.post' post.user.username post.post_id post.post_slug (query-params anchor="null" reply="null")}}
	<div class="post-image">
		{{#unless postHasImage}}
			{{#if post.image.square}}<img {{bind-attr src=post.image.square}}/>{{/if}}
		{{/unless}}

		<div class="post-image-overlay">

			<div class="product-price">${{post.product_price}}</div> 

			<div class="product-title">{{post.product_name}}</div>

			<div class="product-owner"><span class="pre-text">For sale by</span> {{post.product_user.get_display_name}}</div>

		</div>

	</div>
	{{/link-to}}

	<div class="post-bottom-cap">	
	
		<div class="post-owner">

			<div class="post-title">
				{{#link-to 'profile.post' post.user.username post.post_id post.post_slug (query-params anchor="null"  reply="null")}}{{ post.subject }}{{/link-to}}
			</div>

			{{#link-to 'profile' post.user.username }}{{make-icon icon=post.user.icon}}{{/link-to}}

			<div class="post-owner-details">
				<span class="name">{{#link-to 'profile' post.user.username }}{{post.user.get_display_name}}{{/link-to}}</span>
				<span class="username">{{#link-to 'profile' post.user.username }}@{{post.user.username}}{{/link-to}}</span>
				<div class="moment">{{ format-moment post.created_at }}</div> 
			</div>
		</div>
	</div>
</div>