<div class="grid-post">

	{{#link-to 'profile.post' post.user.username post.post_id post.post_slug (query-params anchor="null" reply="null")}}
	<div class="post-image">
	

		{{#if post.image.square}}
		{{image-loader src=post.image.square width='230px' height='230px'}}
		{{else}}
		{{image-loader src=post.image.large width='230px' height='230px'}}
		{{/if}}

		<div class="post-image-overlay">

			<div class="product-price">${{post.product_price}}</div> 

			<div class="product-title">{{post.product_name}}</div>

		</div>

	</div>
	{{/link-to}}

	<div class="post-bottom-cap">	
	
		<div class="post-owner">

			<div class="post-title">
				{{#link-to 'profile.post' post.user.username post.post_id post.post_slug (query-params anchor="null"  reply="null")}}{{ post.subject }}{{/link-to}}
			</div>

			{{#link-to 'profile' post.user.username }}{{make-icon icon=post.user.icon}}{{/link-to}}

			<div class="post-owner-details">
				<span class="name">{{#link-to 'profile' post.user.username }}{{post.user.get_display_name}}{{/link-to}}</span>
				<span class="username">{{#link-to 'profile' post.user.username }}@{{post.user.username}}{{/link-to}}</span>
				

				{{#if post.created_at}}
					<div class="moment">{{ format-moment post.created_at }}</div>
				{{/if}}


			</div>
		</div>
	</div>
</div>