



	  {{#if error404}}
	  	<div class="alert">Sorry, you need to sign up and create an account first.<br/>
	  	Go to <a {{action 'openModal' 'signupmodal'}}>Sign Up</a></div>
	  {{/if}}

	<div class="form-group">

		{{ladda-btn 
			name='Sign in with Facebook'
			btnClasses='btn btn-block btn-facebook ladda-button'
			btnClick='facebookLogin'
			spin=isProcessingFacebook
		}}

    </div> 


	<!--<div class="form-group">-->
		<h3>or sign in with your email & password below</h3>
	<!--</div>-->

	{{#form-for model}}

	  {{#if error}}
	    <div class="alert">Invalid username or password.</div>
	  {{/if}} 
	  
	  {{#if error409}}
	    <div class="alert">Your email needs to be validated before you can Sign in.</div>
	  {{/if}} 


	  	<div class="form-group" >
      		{{input-field email class="form-control" placeholder="email address" label="false"}}
      	</div>

 		<div class="form-group">	
      		{{input-field password class="form-control" placeholder="password" label="false"}}
		</div> 

		<div class="form-group">
			{{ladda-btn 
				name='Sign In'
				btnClasses='btn btn-primary btn-block ladda-button'
				btnClick='emailLogin'
				spin=isProcessingLogin
			}}
	  	</div>

	  	
	  		<h4><a href="/forgot-password">Forgot Password?</a></h4>
	  	

	{{/form-for}} 
			