

<div class="post">   

	<div class="citation">
		{{!-- CITATION --}}
		{{!-- CITATION --}}
		{{!-- CITATION --}}
		{{!-- CITATION --}}
		{{#if repost_user}} 
			<span class="glyphicon glyphicon-retweet"></span>
			<span class="name">{{#link-to 'profile' item.user.username }}@{{item.user.username}}{{/link-to}} <span class="rehauled">reposted</span>
			</span>

			
			<span class="image">
				{{#link-to  "profile.post" item.repost_user item.repost.post_id item.repost.post_slug}}
					{{ make-icon icon=item.repost_user.icon isSmall=true }}
				{{/link-to}}
			</span>
			<span class="name">
				{{#link-to  "profile.post" item.repost_user item.repost.post_id item.repost.post_slug}}
					@{{repost_user.username}}
				{{/link-to}}
			</span>
			<div class="moment">posted {{format-date item.updated_at}}</div>
			

		{{else}}
 
		
			
			<span class="image">
				{{#link-to 'profile' user.username }}{{ make-icon icon=item.user.icon isSmall=true }}{{/link-to}} 
			</span>
			<span class="name">{{#link-to 'profile' item.user.username }}@{{item.user.username}}{{/link-to}} </span> 
			<div class="moment">posted {{format-date item.updated_at}}</div>
			

		{{/if}}

	</div>

	<div class="article">
		
		<h2>
			{{#link-to 'profile.post' item.user.username item.post_id item.post_slug (query-params anchor="null")}}{{subject}}{{/link-to}}
		</h2> 

		
		<div class="product-image">
			{{#link-to 'profile.post' item.user.username item.post_id item.post_slug (query-params anchor="null")}}
				{{#if item.image }}
				<img class="img-responsive" {{bind-attr src=item.image.large}}>
				{{else}}
				<img class="img-responsive" src="/assets/images/blank-thumb.png">
				{{/if}}
			{{/link-to}}
		</div>
		 	
	</div> 

	<div class="btn-wrapper">

		{{buy-btn post=item class="display-inline"}} 

		{{like-btn post=item openModal='openModal' class="display-inline"}}

	 	{{#link-to 'profile.post' item.user.username item.post_id item.post_slug  (query-params anchor="comments")}}
	 		{{comment-btn linkOff='true' post=item class="display-inline" }}
	 	{{/link-to}}
		
		{{repost-btn post=item openModal='openModal' class="display-inline" }}
	 	
	</div>

</div>