

<div class="post">   
	<div class="citation">
		<div class="moment">posted {{format-date updated_at}}</div>

		{{!-- CITATION --}}
		{{!-- CITATION --}}
		{{!-- CITATION --}}
		{{!-- CITATION --}}
		{{#if repost_user}} 
			<span class="glyphicon glyphicon-retweet"></span>
			<div class="name">
				{{#link-to 'profile' user }}
				@{{user.username}} 
				{{/link-to}}
				<span class="rehauled">reposted</span>
			</div>

			{{#link-to  "profile.post" repost_user repost.post_id repost.post_slug}}
			<div class="image">
				{{ make-icon icon=repost_user.icon isSmall=true }}
			</div>
			<div class="name">@{{repost_user.username}}</div> 

			{{/link-to}} 

		{{else}}
 
		
			{{#link-to 'profile' user }}
			<div class="image">
				{{ make-icon icon=user.icon isSmall=true }}
			</div>
			<div class="name">@{{user.username}}</div> 
			{{/link-to}} 

		{{/if}}


	</div>

	<div class="article">
		

		
		<h2>
			{{#link-to 'profile.post' user post_id post_slug }}{{subject}}{{/link-to}}
		</h2> 

		
		<div class="product-image">
			
			{{#link-to 'profile.post' user post_id post_slug }}
				<img class="img-responsive" {{bind-attr src=image.medium}}>
			{{/link-to}}
		

		</div>
		 	<div class="btn-wrapper bottom">

				
				<div class="price">${{product_price}}</div>


		 		<button class="btn btn-default btn-buy">
					buy
				</button>

				{{like-btn post=this openModal='openModal' class="display-inline"}}

			 	{{#link-to 'profile.post' user post_id post_slug }}
			 		{{comment-btn linkOff='true' itemObject=this class="display-inline" }}
			 	{{/link-to}}

				
				{{repost-btn post=this openModal='openModal' class="display-inline" }}
			 	
			</div>
	</div> 
</div>