

<div class="post">   

	<div class="citation">
		{{!-- CITATION --}}
		{{!-- CITATION --}}
		{{!-- CITATION --}}
		{{!-- CITATION --}}
		{{#if repost_user}} 
			<span class="glyphicon glyphicon-retweet"></span>
			<span class="name">{{#link-to 'profile' user }}@{{user.username}}{{/link-to}} <span class="rehauled">reposted</span>
			</span>

			
			<span class="image">
				{{#link-to  "profile.post" repost_user repost.post_id repost.post_slug}}
					{{ make-icon icon=repost_user.icon isSmall=true }}
				{{/link-to}}
			</span>
			<span class="name">
				{{#link-to  "profile.post" repost_user repost.post_id repost.post_slug}}
					@{{repost_user.username}}
				{{/link-to}}
			</span>
			<div class="moment">posted {{format-date updated_at}}</div>
			

		{{else}}
 
		
			
			<span class="image">
				{{#link-to 'profile' user }}{{ make-icon icon=user.icon isSmall=true }}{{/link-to}} 
			</span>
			<span class="name">{{#link-to 'profile' user }}@{{user.username}}{{/link-to}} </span> 
			<div class="moment">posted {{format-date updated_at}}</div>
			

		{{/if}}

	</div>

	<div class="article">
		
		<h2>
			{{#link-to 'profile.post' user post_id post_slug (query-params anchor="null")}}{{subject}}{{/link-to}}
		</h2> 

		
		<div class="product-image">
			{{#link-to 'profile.post' user post_id post_slug (query-params anchor="null")}}
				<img class="img-responsive" {{bind-attr src=image.large}}>
			{{/link-to}}
		</div>
		 	
	</div> 

	<div class="btn-wrapper">

		{{buy-btn post=this class="display-inline"}} 

		{{like-btn post=this openModal='openModal' class="display-inline"}}

	 	{{#link-to 'profile.post' user post_id post_slug  (query-params anchor="comments")}}
	 		{{comment-btn linkOff='true' post=this class="display-inline" }}
	 	{{/link-to}}
		
		{{repost-btn post=this openModal='openModal' class="display-inline" }}
	 	
	</div>

</div>