<div class="product-post">

	<h1 class="subject">{{#link-to 'profile.post' post.user.username post.post_id post.post_slug (query-params anchor="null")}}{{ post.subject }}{{/link-to}}</h1>



	{{!-- //REPOST --}}
	{{#if post.repost_id}}
	<div class="repost-citations">
		<i class="fa fa-retweet"></i>
		{{make-icon icon=post.repost_user.icon}}
		<span class="name">{{post.repost_user.name}}'s </span>
		<span class="title"> original post
			{{#link-to 'profile.post'
				post.repost.user.username 
				post.repost.post_id 
				post.repost.post_slug}}{{post.repost.subject}}{{/link-to}}
		</span>
	</div>
	{{/if}}




	<div class="social-buttons">
		<div class="internal-social-buttons">
			{{like-btn post=post openModal='openModal' class="display-inline"}}
			 	
		 	{{comment-btn post=post class="display-inline" gotolink='true'}}

		 	{{repost-btn post=post openModal='openModal' class="display-inline"}}
		</div>

		<div class="external-social-buttons">
			{{!-- {{social-btns post=post}} --}}
		</div>
	</div>

	{{!-- EDITORIAL --}}
	<div class="editorial">
		{{#unless postHasImage}}
			{{#link-to 'profile.post' post.user.username post.post_id post.post_slug (query-params anchor="null")}}<img {{bind-attr src=post.image.large}}/>{{/link-to}}
		{{/unless}}
	</div>

	<div class="product-feed-post-card">
		<div class="card-details-box">
			
			<h3>{{post.subject}}</h3>

			<div class="profile-pod">
				{{make-icon icon=post.product_user.icon}}

				<div class="profile-name">
					<span class="name">{{post.product_user.name}}</span>
					<span class="username">@{{post.product_user.username}}</span>
				</div>
			</div>
			
			<div class="price">
				${{post.product_price}}
			</div>

			{{buy-btn post=post class="display-inline" }}

		</div>
		{{!-- <div class="card-image-box">
			<div class="card-image-mask">
				<img {{bind-attr src=post.image.thumb}}/>
			</div>
			<div class="count">4 photos</div>
		</div> --}}
	</div>


</div>