
				{{#if error409}}

			    	<div class="alert">
			    		<h2>Oops</h2>
			    		This email is already registered.  Want to {{#link-to 'login'}}login{{/link-to}} or {{#link-to 'forgotpassword' }}recover your password{{/link-to}}?

			    	</div>

			    {{else}}	
				  	

					{{#if emailRegistrationRequested}}

						<h2>Please check your email inbox.<br/>
							<small>We sent you a confirmation email.</small>
						</h2>

					{{else}}	



						<div class="form-group"> 
						

							{{ladda-btn 
								name='Sign up with Facebook'
								btnClasses='btn btn-block btn-facebook ladda-button'
								btnClick='facebookSignup'
								spin=isProcessingFacebook
							}}
 
					    </div> 



						<div class="form-group">
							<h3>or sign up with your email account below</h3>
						</div>


						{{#if error}}
					    	<div class="alert">Oh no! Something went wrong.</div>
					  	{{/if}} 


	            		{{#form-for model}}

						  {{#if submitFailed}}
						    <div class="alert">Oh no, something went wrong.</div>
						  {{/if}} 

						  	<div class="form-group"> 
					      		{{input email placeholder="Your email address" label="false"}}
					      	</div> 

							<div class="form-group">

								{{ladda-btn 
									name='Create a new account'
									btnClasses='btn btn-block btn-primary ladda-button'
									btnClick='emailSignup'
									spin=isProcessingSignup
								}}

						  	</div>
						{{/form-for}}

						
					{{/if}}
				{{/if}} 

				<p class="toc">By signing up, you agree to Haul's {{#link-to 'about.tos' }}Terms of Use{{/link-to}} and {{#link-to 'about.privacy' }}Privacy Policy{{/link-to}}.</p>

