
{{#unless session.isAuthenticated}}
<div class="hero">
	<div class="hero-mask"></div>
	<div class="container no-margins">
		<div class="haul-content">
			<div class="hero-inner">
				<h1>Goods that you're passionate about.</h1>

				<h2>It's about discovering, buying, and even selling your own cool things, to like-minded people, sellers, and enthusiasts.</h2>

				{{signup-btn openModal='openModal' class="display-inline"}}

				
				{{!-- This roates the hero images --}}
				{{hero-slides}}

			</div>
		</div>
	</div>
</div>
{{/unless}}



{{#if session.isAuthenticated}}
<header class="basic">
<div class="container-fluid">	
	<div class="header-basic">

		<h1 {{bind-attr class="showResults:hide:show"}}>Discover</h1>

	</div>
</div>
</header>
{{/if}}


<div class="container no-margins">
	<div class="haul-content">

		<div class="hamburger-right-side">

			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
			{{hamburger-menu}}
			<input type="checkbox" id="hamburger-trigger" class="hamburger" />
			<label for="hamburger-trigger" class="with-page-header  fa fa-bars"></label>
		

			{{!-- FLUID LEFT --}}
			{{!-- FLUID LEFT --}}
			{{!-- FLUID LEFT --}}
			{{!-- FLUID LEFT --}}
			<div class="haul-fluid-left" data-info="haul-fluid-left"> 
				
				<div class="haul-fluid-content center-on-collapse padding-top grid-spacing">

					<ul class="discover-categories">
					<li class="featured active" {{action 'clickCategory' 'featured'}}>featured</li>
					{{#each cat in categories}}
						<li {{bind-attr class="cat"}} {{action 'clickCategory' cat}}>{{cat}}</li>
					{{/each}}
					</ul>
						

					{{#unless sortedContent}}
						{{loading-bar turnLoadingBarOn='true'}}
					{{/unless}}

			 
					{{!-- //CONTENT --}}
					{{#each like in sortedContent}}
						{{#with like.post as post }}
							
							{{render '_grid_post' post}}
						
						{{/with}}
					{{/each}}

					
					{{#infinite-scroll content=pagedContent hasMore=paginateHasMore }}
						<i class="fa fa-circle-o-notch fa-spin"></i>
					{{/infinite-scroll}}
					
			    
				</div> 
			</div>



			{{!-- FIXED RIGHT --}}
			{{!-- FIXED RIGHT --}}
			{{!-- FIXED RIGHT --}}
			{{!-- FIXED RIGHT --}}
			<div class="haul-fixed-right with-page-header">
				<div class="haul-menu-content">

					{{!-- ONBOARDING --}}
					{{!-- ONBOARDING --}}
					{{!-- ONBOARDING --}}
					{{!-- ONBOARDING --}}
					{{onboarding-userstofollow usernameFilter=usernameFilter}}

					{{!-- ONBOARDING --}}
					{{!-- ONBOARDING --}}
					{{!-- ONBOARDING --}}
					{{!-- ONBOARDING --}}
					{{onboarding-tags goToRoute='goToRoute'}}

				</div>
			</div>
		</div>
	</div>
</div>