

<header class="basic">
<div class="container-fluid">	
	<div class="header-basic">


		<h2 {{bind-attr class="showResults:hide:show"}}>Discover</h2>
		<h2 {{bind-attr class="showResults:show:hide"}}>{{{typeText}}}  <b>{{queryText}}</b></h2>




	</div>
</div>
</header>








<div class="container no-margins">
	<div class="haul-content">

		<div class="hamburger-right-side">

			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
			{{hamburger-menu}}
			<input type="checkbox" id="hamburger-trigger" class="hamburger" />
			<label for="hamburger-trigger" class="with-page-header  fa fa-bars"></label>
		

			{{!-- FLUID LEFT --}}
			{{!-- FLUID LEFT --}}
			{{!-- FLUID LEFT --}}
			{{!-- FLUID LEFT --}}
			<div class="haul-fluid-left" data-info="haul-fluid-left"> 
				
				<div class="haul-fluid-content center-on-collapse padding-top grid-spacing">

			 
					{{!-- //CONTENT --}}
					{{#each like in sortedContent}}
						{{#with like.post as post }}
							
							{{render '_grid_post' post}}
						
						{{/with}}
					{{/each}}

					
					{{#infinite-scroll content=pagedContent hasMore=paginateHasMore }}
						<i class="fa fa-circle-o-notch fa-spin"></i>
					{{/infinite-scroll}}
					
			    
				</div> 
			</div>



			{{!-- FIXED RIGHT --}}
			{{!-- FIXED RIGHT --}}
			{{!-- FIXED RIGHT --}}
			{{!-- FIXED RIGHT --}}
			<div class="haul-fixed-right with-page-header">
				<div class="haul-menu-content">

					{{!-- ONBOARDING --}}
					{{!-- ONBOARDING --}}
					{{!-- ONBOARDING --}}
					{{!-- ONBOARDING --}}
					{{onboarding-userstofollow}}

					{{!-- ONBOARDING --}}
					{{!-- ONBOARDING --}}
					{{!-- ONBOARDING --}}
					{{!-- ONBOARDING --}}
					{{onboarding-tags goToRoute='goToRoute'}}

				</div>
			</div>
		</div>
	</div>
</div>