
{{#unless session.isAuthenticated}}
<div class="hero">
	<div class="hero-mask"></div>
	<div class="container no-margins">
		<div class="haul-content">
			<div class="hero-inner">
				<h1>Goods that you're passionate about.</h1>

				<h2>It's about discovering, buying, and even selling your own cool things, to like-minded people, sellers, and enthusiasts.</h2>

				{{signup-btn openModal='openModal' class="display-inline"}}

				
				{{!-- This roates the hero images --}}
				{{hero-slides}}

			</div>
		</div>
	</div>
</div>
{{/unless}}



{{#if session.isAuthenticated}}
<header class="basic">
<div class="container-fluid">	
	<div class="header-basic">

		<h2>Top Posts</h2>
		<span class="clearfix"></span>
		<span class="blurb">A curated selection of interesting and recent posts from the community, hand-picked by the Haul staff.</span>
		

	</div>
</div>
</header>
{{/if}}


<div class="container-fluid">
	<div class="haul-content">
		<div class="col-content lg">
			<div class="col-content-inner grid-spacing center-on-collapse">


				<ul class="discover-categories">
					<li class="featured active">{{#link-to "discover"}}featured{{/link-to}}</li>
				{{#each cat in categories}}
					<li {{bind-attr class="cat"}}>{{#link-to cat}}{{cat}}{{/link-to}}</li>
				{{/each}}
				</ul>
					

				{{!-- <i {{action 'toggleView'}} {{bind-attr class=":fa listView:fa-th-list:fa-th :view-icon"}}></i> --}}


				{{#unless sortedContent}}
					{{loading-bar turnLoadingBarOn='true'}}
				{{/unless}}

		 
				{{#if gridView}}
					{{#each like in sortedContent}}
						{{#with like.post as post }}
							{{render '_grid_post' post}}
						{{/with}}
					{{/each}}
				{{/if}}

				{{#if listView}}
					{{#each like in sortedContent}}
						{{#with like.post as post }}
							{{render '_feed_post' post}}
						{{/with}}
					{{/each}}
				{{/if}}

				
				{{#infinite-scroll content=pagedContent hasMore=paginateHasMore }}
					<i class="fa fa-circle-o-notch fa-spin"></i>
				{{/infinite-scroll}}
					
			</div>    
		</div>
		<div class="col-rail sm hide-on-collapse">
			<div class="haul-menu-content">

				{{!-- ONBOARDING --}}
				{{!-- ONBOARDING --}}
				{{!-- ONBOARDING --}}
				{{!-- ONBOARDING --}}
				{{onboarding-userstofollow usernameFilter=usernameFilter}}

				{{!-- ONBOARDING --}}
				{{!-- ONBOARDING --}}
				{{!-- ONBOARDING --}}
				{{!-- ONBOARDING --}}
				{{onboarding-tags goToRoute='goToRoute'}}


				{{partial 'footer_sidebar'}}
			
			</div>
		</div>
	</div>
</div>