

<header class="profile">
<div class="container-fluid">	
	<div class="profile-container">


		<h1 {{bind-attr class="showResults:hide:show"}}>Discover</h1>
		<h1 {{bind-attr class="showResults:show:hide"}}>{{{typeText}}}  <b>{{queryText}}</b></h1>



	</div>
</div>
</header>

<div class="container">  
	<div class="haul-content"> 
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 padding-top">

		 
				{{!-- //CONTENT --}}
				{{#each like in sortedContent}}
					{{#with like.post as post }}
						
						{{render '_grid_post' post}}
					
					{{/with}}
				{{/each}}
				
				{{#infinite-scroll content=pagedContent hasMore=paginateHasMore }}
					<i class="fa fa-circle-o-notch fa-spin"></i>
				{{/infinite-scroll}}
				
		    
			</div> 
		</div>
	</div>
</div>