{{header-site
	goToRoute='goToRoute'
	openModal='openModal'
}}


<header class="profile">
<div class="container-fluid">	
	<div class="profile-container">


		<h1>Mentions</h1>



	</div>
</div>
</header>


<div class="container-fluid">
	<div class="haul-content">  
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-12"></div>
			<div class="col-md-8 col-sm-8 col-xs-12  padding-top">

				


				{{#each post in sortedContent}}

					<div class="mention-owner">
						{{#link-to 'profile' post.user.username }}<img class="profile-image" {{bind-attr src=post.user.icon}}>{{/link-to}}

						<div class="post-owner-details">
							<span class="name">{{#link-to 'profile' post.user.username }}{{post.user.name}}{{/link-to}}</span>
							<span class="username">{{#link-to 'profile' post.user.username }}@{{post.user.username}}{{/link-to}}</span>
							<div class="moment">{{ format-date post.created_at }}</div> 
							<span class="comment">{{sanitizehtml-andtag post.comment "comment" ENV}}<span class="reply">
						{{#link-to 'profile.post' post.subject.user.username post.subject  (query-params anchor="comments")}}REPLY{{/link-to}}
					</span></span>
						</div>
					</div> 
				{{/each}}
				{{#infinite-scroll content=pagedContent hasMore=paginateHasMore }}
					<span>Loading...</span>	
				{{/infinite-scroll}}
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12"></div>
		</div>
	</div>
</div>