{{#modal-modal animateClose=animateClose closeModal='closeModal'}}
	<div {{bind-attr class=":modal-dialog showSuccess:sm :text-left"}}>
		<div class="modal-content">
			
			<div class="modal-header">
				
				<button {{action 'close'}} type="button" class="close btn-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h1 class="modal-title" id="myModalLabel">Create a posting</h1>
			</div>
			

			{{#form-for model wrapper="bs3-wrapper"}}
			<div class="container haul-edit haul-new-post">


				{{!-- GENERAL CATCHALL SERVER ERROR --}}
				{{partial "_server_error"}}




				{{!-- SHOW UPLOAD --}}
				{{!-- SHOW UPLOAD --}}
				{{!-- SHOW UPLOAD --}}
				{{!-- SHOW UPLOAD --}}
				{{!-- SHOW UPLOAD --}}
				<div {{bind-attr class=":new-post-uploads"}}> 
					<div class="row">
						<div class="col-md-3 col-sm-2 col-xs-12">
								
								<span class="number">1</span>

						</div>
						<div class="col-md-6 col-sm-8 col-xs-12 form-fields">


							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<h2>Start with photos</h2>
									{{#image-picker 
										images=userImages
										selectedImages=selectedImages
										refresh='refresh'
										imageClick='imageClick' 
										imageDelete='imageDelete'
										Haul=Haul
										showImagePicker=showImagePicker
									}} 
										{{view 'sortable' content=selectedImages}}
									{{/image-picker}}
								</div>
							


								{{!-- <div class="col-md-6 col-sm-6 col-xs-6">
									<h2>Or a link</h2>
									<input placeholder="http://..." type="text" class="form-control">
								</div> --}}

							</div>	
						</div>
						<div class="col-md-3 col-sm-2 col-xs-12"></div>
					</div>
				</div>




			









				{{!-- SHOW PRODUCT --}}
				{{!-- SHOW PRODUCT --}}
				{{!-- SHOW PRODUCT --}}
				{{!-- SHOW PRODUCT --}}
				{{!-- SHOW PRODUCT --}}
				<div {{bind-attr class=":new-post-product disableProductForm:disable"}}>		

					<div class="row">
						<div class="col-md-3 col-sm-2 col-xs-12">
							<span class="number">2</span>
						</div>
						<div class="col-md-6 col-sm-8 col-xs-12 form-fields">
							<h2>Give us the details</h2>

							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12"> 
									<label>Name it:</label>
									{{input product_name canShowValidationError=showErrors disabled=disableProductForm}} 
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12"> 
									<label>Describe it:</label>
									<label class="small pull-right">(max 2000 characters)</label>
									{{input product_description placeholder="Size, color, condition, etc" as="text" canShowValidationError=showErrors disabled=disableProductForm}}
								</div> 
							</div>
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-6"> 
									{{#input price}}
									<label>Price:</label>
									<div class="input-group">
										<span class="input-group-addon">$</span>
									  	{{input-field product_price class="form-control input-sm" canShowValidationError=showErrors disabled=disableProductForm}}
									  	<br/>
									</div>
									{{#if showErrors}}<span class="has-error help-block">{{error-field product_price}}</span>{{/if}}
									{{/input}}
								</div>
							
								<div class="col-md-6 col-sm-6 col-xs-6"> 
									<label>Quantity:</label>
									{{input product_quantity class="input-xs" canShowValidationError=showErrors disabled=disableProductForm}}
				 				</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-2 col-xs-12">
							<div class="describe">

								Describe the item as best you can in a list.  Use new lines.
								<br>
								<br>
								<small>example:
<pre>
year 1987,
silver aluminium,
good condition,
five speed,
new flux capacitor
</pre>
								</small>
							</div>
						</div>
					</div>
				</div>



				{{!-- SHOW POST --}}
				{{!-- SHOW POST --}}
				{{!-- SHOW POST --}}
				{{!-- SHOW POST --}}
				{{!-- SHOW POST --}}
				<div {{bind-attr class=":new-post-post disablePostForm:disable"}}>
					<div class="row">
						<div class="col-md-3 col-sm-2 col-xs-12">
							
							<span class="number">3</span>
						</div>
						<div class="col-md-6 col-sm-8 col-xs-12 form-fields">


							<h2>Write about this item <small>(optional)</small></h2>


							<div {{bind-attr class="imagesAreSelected:show:hide :row"}}>
								<div {{bind-attr class=":col-md-12 :col-sm-12 :col-xs-12"}}>
									<div class="gallery-wrapper"> 
										<div class="gallery"> 
											<div class="gallery-inside">
												{{#each selectedImages}} 
													<img {{bind-attr src=small}}> 
												{{/each}}
											</div>
										</div>
									</div> 
									<small>Drag images into your post</small>
								</div>
							</div>  

							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									{{input subject canShowValidationError=showErrors disabled=disablePostForm	}} 
									{{quill-editor content=editorialForQuill height="400px" quillChange='quillChange' disabled=disablePostForm}} 
									<small class='pull-right'>Don't forget to add #hashtags</small>
									{{#if showErrors}}<span class="has-error help-block">{{error-field body}}</span>{{/if}}
								</div>
							</div> 
						</div>
						<div class="col-md-3 col-sm-2 col-xs-12">
							<div class="describe">

								Optionally, here's where you really promote your item.
								<br/>
								<br/>

								So wax poetic, write a story, tell us what makes this item special!
								<br/>
								<br/>

								But don't stress, you can leave this blank.  Maybe someone will repost your post and write something for you.
								<br/>
								<br/>


								At the very least add #hashtags to your post

							</div>
						</div>
					</div>
				</div>


				{{!-- There Are Errors --}}
				{{!-- There Are Errors --}}
				{{!-- There Are Errors --}}
				<div {{bind-attr class=":row showErrors:show:hide"}}>
					<div class="col-md-3 col-sm-2 col-xs-12"></div>
					<div class="col-md-6 col-sm-8 col-xs-12">
						<div class="alert alert-danger" role="alert">
							<button {{action 'closeServerError' }} type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> 	Please correct the errors above and try again.
						</div>
					</div>
					<div class="col-md-3 col-sm-2 col-xs-12"></div>
				</div>


				{{!-- Toolbar --}}
				{{!-- Toolbar --}}
				{{!-- Toolbar --}}
				{{!-- Toolbar --}}
				<div class="footer">
					<div class="row">
						<div class="col-md-3 col-sm-2 col-xs-12"></div>
						<div class="col-md-6 col-sm-8 col-xs-12">	
							
							{{ladda-btn
								name='save & post live'
								class="display-inline"
								btnClasses='btn btn-default btn-right ladda-button'
								btnClick='savePost'
								spin=isProcessing
							}}

							<button {{action 'cancel'}} class="btn btn-warning btn-right">
								cancel
							</button>

						</div>
						<div class="col-md-3 col-sm-2 col-xs-12"></div>
					</div>
				</div>
			</div>
			{{/form-for}}
			 
		</div>
	</div>
{{/modal-modal}}