
    <div class="container">
        <div class="row">
        	<div class="col-md-4 col-sm-2 col-xs-2"></div>
			<div class="col-md-4 col-sm-8 col-xs-8 form-box">
			
				<div class="form-group">
					<h2 class="form-signin-heading">Welcome Back</h2>
					<p>We just need a couple more things!</p>
				</div>
				

				{{#if error}}
					<div class="alert">
						Oops, that did not work out.
						{{partial "_server_error"}}
					</div>
				{{/if}}
				
 	
				{{#form-for model}}
	 			<div class="form-group">	
			      		{{input ticket_id as="hidden" label="false"}}
			      		{{input user_id as="hidden" label="false"}}
					</div> 
		 
			 		<div class="form-group">	
			 			{{input password placeholder="Password" showErrors='' label="false"}} 
			 			{{#if showErrors}}
							<span class="has-error help-block">{{error-field password}}</span>
						{{/if}}
					</div> 



			 		<div class="form-group">	
			 			{{input firstname placeholder="First Name"  label="false"}}  
			 			{{#if showErrors}}
							<span class="has-error help-block">{{error-field firstname}}</span>
						{{/if}}
					</div> 


		 
			 		<div class="form-group">	
			 			{{input lastname placeholder="Last Name" label="false"}}  
			 			{{#if showErrors}}
							<span class="has-error help-block">{{error-field lastname}}</span>
						{{/if}}
					</div> 


					<div class="form-group">
				  		{{ladda-btn 
							name='Complete Registration'
							btnClasses='btn btn-primary btn-block ladda-button'
							btnClick='submit'
							spin=isProcessing
						}}
				  	</div>

				{{/form-for}} 
			</div>
			<div class="col-md-4 col-sm-2 col-xs-2"></div>
        </div>
    </div>
