<div class="modal fade in">


{{#form-for repost wrapper="bs3-wrapper"}}
	<div class="modal-dialog text-left">
		<div class="modal-content">
			
			<div class="modal-header">
				
				<button {{action 'close'}} type="button" class="close btn-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				
{{!-- 				<button class="btn btn-sm btn-default btn-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				  Edit Product Details
				  <span class="glyphicon glyphicon-wrench"></span>
				</button>	 --}}	

				<h4 class="modal-title" id="myModalLabel">Repost</h4>

			</div>

			<div class="modal-body">


				<div {{bind-attr class="postComplete:hide:show"}}>
					 
				
				<div class="collapse" id="collapseExample">
					<div class="row well">
						<div class="col-md-6 col-sm-6 col-xs-6">  
							<label>Name your item</label>
							{{input product_name placeholder="Item name" canShowValidationError=showErrors}} 

							<label>Price:</label>
							{{#input price}}
							<div class="input-group">
								<span class="input-group-addon">$</span>
							  	{{input-field product_price class="form-control input-sm" canShowValidationError=showErrors}}
							  	<br/>
							</div>
							{{#if showErrors}}<span class="has-error help-block">{{error-field price}}</span>{{/if}}
							{{/input}}

							<label>Quantity:</label>
							{{input product_quantity class="input-xs" placeholder="quantity" canShowValidationError=showErrors}}

						</div>

						<div class="col-md-6 col-sm-6 col-xs-6">  
							<label>Describe your item</label>
							{{input product_description placeholder="Gives us the details. Size, color, condition, etc." as="text" canShowValidationError=showErrors }}
						</div> 
					</div>
				</div>

					
 

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
		
							<label>Post Title</label>
							{{input subject canShowValidationError=showErrors}} 
						</div>
					</div>	


				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="gallery-wrapper"> 
							<div class="gallery"> 
								<div class="gallery-inside">

									{{#each product_images}} 
										<img {{bind-attr src=small}}> 
									{{/each}}

								</div>
							</div>
						</div>
					</div>
				</div>

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							{{quill-editor 
								content=editorialForQuill 
								height='200px' 
								quillChange='quillChange'
							}}
						</div>
					</div>
				</div>


				<div {{bind-attr class="postComplete:show:hide :row :text-center"}}>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<h5>Repost Complete!</h5>
						<button {{action 'close'}} class="btn btn-default">close</button>
						
						{{#link-to 'profile' currentUser }}
						<button class="btn btn-default">go to my feed</button>
						{{/link-to}}
					</div>
				</div>
	      	</div>

	      	<div class="modal-footer">
		      	<div {{bind-attr class="postComplete:hide:show"}}>

		      		<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">

					        <button {{action 'close'}} type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
					        
					        {{ladda-btn
								name='post'
								class="display-inline"
								btnClasses='btn btn-primary btn-right ladda-button'
								btnClick='savePost'
								spin=isProcessing
							}}

						</div>
					</div>
				</div>
	    	</div>

		</div>
  	</div>
{{/form-for}}  
</div>