
{{#modal-modal animateClose=animateClose closeModal='closeModal'}}

{{#form-for repost wrapper="bs3-wrapper"}}
	<div {{bind-attr class=":modal-dialog showSuccess:sm :text-left"}}>
		<div class="modal-content">
			
			<div class="modal-header">
				
				<button {{action 'close'}} type="button" class="close btn-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				<h4 class="modal-title" id="myModalLabel">{{repost.subject}}</h4>

			</div>


			<div {{bind-attr class=":modal-body showSuccess:show:hide :text-center"}}>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<h5>Repost Complete!</h5>
						<button {{action 'close'}} class="btn btn-default">close</button>
						<button {{action 'goToFeed'}} class="btn btn-default">go to my feed</button>
					</div>
				</div>
			</div>


			<div {{bind-attr class=":modal-body showRepost:show:hide"}}>				
				<div class="container-fluid haul-edit">
					<div class="row">
						

						{{!-- //POST --}}
						<div class="col-md-8 col-sm-8 col-xs-10"> 

							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">  
									<h4>Make Your Own Catchy Title,<small> if you like</small></h4>
									{{input  subject canShowValidationError=showErrors}} 
								</div>
							</div>	

							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">

									<h4>
										What's Amazing About This?
										<small>
											Don't forget to add #hashtags
										</small>
									</h4> 

									{{quill-editor content=editorialForQuill quillChange='quillChange'}}
									{{#if showErrors}}<span class="has-error help-block">{{error-field body}}</span>{{/if}}	

								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12 padding-top">
  									{{ladda-btn
										name='post'
										class="display-inline"
										btnClasses='btn btn-primary btn-right ladda-button'
										btnClick='savePost'
										spin=isProcessing
									}}
							        <button {{action 'close'}} type="button" class="btn btn-default btn-right" data-dismiss="modal">cancel</button>					
								</div>
							</div>
						</div>


						{{!-- //PRODUCT --}}
						{{partial "_sidebar_forsale"}}


					</div>
				</div> 
	      	</div>
		</div>
  	</div>
{{/form-for}}  

{{/modal-modal}}