{{super-slides}}
<span class="anon">
<header>
    <div class="container">
        <div class="row">
        	<div class="col-md-4 col-sm-2 col-xs-2"></div>
			<div class="col-md-4 col-sm-8 col-xs-8 form-box">
			
				<div class="form-group">
					<h2 class="form-signin-heading">Welcome Back</h2>
					<p>We just need a couple more things!</p>
				</div>
				

				{{#if error}}
					<div class="alert">Oops, that did not work out.</div>
				{{/if}}
 	
				{{#form-for model wrapper="bs3-wrapper"}}
	 			<div class="form-group">	
			      		{{input ticket_id as="hidden"}}
			      		{{input user_id as="hidden"}}
					</div> 
		 
			 		<div class="form-group">	
			 			{{input password canShowValidationError=showErrors placeholder="Password"}} 
					</div> 


		 {{!-- 
			 		<div class="form-group">	
			 			{{input display_name canShowValidationError=showErrors placeholder="Username"}} 
					</div>  --}}

		 
			 		<div class="form-group">	
			 			{{input firstname canShowValidationError=showErrors placeholder="First Name"}} 
					</div> 


		 
			 		<div class="form-group">	
			 			{{input lastname canShowValidationError=showErrors placeholder="Last Name"}} 
					</div> 


					<div class="form-group">
				  		{{ladda-btn 
							name='Complete Registration'
							btnClasses='btn btn-primary btn-block ladda-button'
							btnClick='submit'
							spin=isProcessing
						}}
				  	</div>

				{{/form-for}} 
			</div>
			<div class="col-md-4 col-sm-2 col-xs-2"></div>
        </div>
    </div>
</header>
</span>