{{super-slides}}
<span class="anon">
<header>
    <div class="container">
        <div class="row">
        	<div class="col-md-4 col-sm-2 col-xs-2"></div>
			<div class="col-md-4 col-sm-8 col-xs-8 form-box">
    			
                <div class="form-group">
                    <h2>One more thing, <br/>pick a username</h2>
                </div>
	           
                {{#form-wrapper}}
                <div class="form-group"> 
                    {{input username canShowValidationError=showErrors placeholder=""}}
                </div> 
                {{/form-wrapper}}

                <div {{bind-attr class="showErrorMessage:show:hide :errors :text-left"}}>
                    <div class="alert">{{{errorMessage}}}</div>
                </div>

                <div class="form-group">

                    {{ladda-btn 
                        name='GO'
                        btnClasses='btn btn-block btn-primary ladda-button'
                        btnClick='btnClick'
                        spin=isProcessing
                    }}

                </div>
			
			</div>
			<div class="col-md-4 col-sm-2 col-xs-2"></div>
        </div> 
    </div>
</header>
</span>